<h2>Data Aggregation</h2>
<p>Every KA Lite installation generates it's own unique ID as a part of the installation process. If the device with KA Lite installed every reaches an Internet connection, it will be able to contact our <a href="https://kalite.learningequality.org/">secure, central data repository</a> and sync it's usage data.</p>

<p>This is great for larger projects that have multiple devices using KA Lite at the same time, because rather than having to travel to each deployment site individually, you can trickle sync the data via low-bandwidth connections, and view it all in one place in a secure online portal.</p>

<h2>User Management &amp; Administration</h2>
<p>
	Similar to the process above, but in reverse! With Online User Management &amp; Administration, you can create your teacher and student accounts all in one place, and then when the deployed device reaches an Internet connection, that information will be downloaded on the device, allowing a project administrator to configure and maintain multiple installation from one workstation in the cloud.
</p>

<h2>Data Backups</h2>
<p>
	When your data syncs, we store it on our secure servers. This is great, because in the field, things don't always go as planned. SD cards become corrupted, lions eat laptops, and unfortunately, devices might disappear overnight, and without online data backups, so does the hard earned data of your learners.
</p>
<h2>Interested in these features?</h2>
<p>
	<button class="btn btn-large btn-success">Contact Us Today!</button>
</p>