{% load staticfiles %}

{# Modals for each pin #}
<div class="modal fade deployment-modal" id="about-this-map-modal" tabindex="-1" role="dialog" aria-labelledby="{{ d.title }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">KA Lite Around the World<br/><small>A map of known installations and deployments of KA Lite curated by the FLE team</small></h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-12">
          <p>
            When KA Lite was first released in December of 2012, we tried to track known installations and budding partnerships on a map on the wall of our office.
          </p>
          <p>
            <img src="{% static 'img/ka-lite/original_map.jpg' %}" class="img-responsive img-thumbnail" alt="The original map used by the FLE team to track KA Lite installations manually.">
          </p>
          <p>
            As more and more installations were recorded, this map was quickly outdated. Over the past year and half, we've been in touch with hundreds of individuals and organizations using KA Lite, and we eventually decided that it was time these stories were shared with the world.
          </p>
          <p>
            The red pins on the map are individuals or organizations who have downloaded KA Lite, installed it, and registered with our central server. The green houses represent individuals or organizations who we have been in touch with, (by email, phone, or in-person meetings), who have been using KA Lite to enhance educational opportunities for the communities that they serve. The information and occassional photo albums included were generously supplied by these incredible people. 
          </p>
        </div>
      </div> {# End Modal Body #}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>