{% load staticfiles %}

{# Modals for each pin #}
<div class="modal fade deployment-modal" id="about-this-map-modal" tabindex="-1" role="dialog" aria-labelledby="{{ d.title }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">KA Lite Around the World<br/><small>A map of known installations and deployments of KA Lite curated by the FLE team</small></h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-12">
          <p>
            What to write about it
          </p>
          <p>
            
          </p>
        </div>
      </div> {# End Modal Body #}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>