{% load staticfiles %}

<nav class="navbar navbar-default affix-top" id="ka-inner-nav" role="navigation" data-spy="affix" data-offset-top="625">
  <div class="container-fluid">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ka-inner-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src='{% static "img/ka-lite/ka-lite-logo-horizontal.png" %}' alt="KA Lite"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="ka-inner-nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <a href="#overview">OVERVIEW</a>
          </li>
          <li>
              <a href="#community">COMMUNITY</a>
          </li>
          <li>
              <a href="#support">SUPPORT</a>
          </li>
          <li>
              <a href="#download">DOWNLOAD</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div> <!-- /.container-2000x -->
  </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">
 //Dynamically set data offset on page load for inner nav
  $(function(){
    var headerHeight = $('#fle-navbar').outerHeight() + $('#ka-lite-header').outerHeight() - $('#ka-inner-nav').height();
    $('#ka-inner-nav').attr("data-offset-top", headerHeight);
  });
</script>