<li class="{% block ka_lite_what_active %}{% endblock ka_lite_what_active %}">
  <a href="{% url 'ka_lite_what' %}">What is KA Lite?</a>
</li>
<li class="{% block ka_lite_install_active %}{% endblock ka_lite_install_active %}">
  <a href="{% url 'ka_lite_install' %}">Install Now</a>
</li>
<li class="{% block ka_lite_community_active %}{% endblock ka_lite_community_active %}">
  <a href="{% url 'ka_lite_community' %}">Join Our Community</a>
</li>
<li class="{% block ka_lite_partner_active %}{% endblock ka_lite_partner_active %}">
  <a href="{% url 'ka_lite_partner' %}">Partner With Us</a>
</li>
<li class="{% block ka_lite_help_active %}{% endblock ka_lite_help_active %}">
  <a href="#">FAQ &amp; Help</a>
</li>