{% load staticfiles %}

{# Modals for each pin #}
{% for d in deployments %}
<div class="modal fade deployment-modal" id="{{ d.slug }}" tabindex="-1" role="dialog" aria-labelledby="{{ d.title }}" data-longitude="{{ d.longitude }}" data-latitude="{{ d.latitude }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ d.title }}<br/><small>{{ d.deployment_location }} - Since: {{ d.start_date|date:"F j, Y"}}</small></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <p>
              {{ d.description }}&nbsp;{% if d.guest_blog_post %}<a href="{{ d.guest_blog_post }}">Read more</a>{% endif %}
            </p>
            <p>
              {% if d.linked_org_name %}
                <strong>Deploying Organization:</strong> {{ d.linked_org_name|safe }}&nbsp;{% if d.organization_location %}based in {{ d.organization_location }}{% endif %}
              {% endif %}
            </p>
          </div>
        </div>
        {# Extra deployment info #}
        <div class="row popover-buttons">
          {# Student info #}
          <div class="col-xs-4">
            <img {% if d.num_students or d.student_age_range %} class="has-info-popover"
            data-content="{% if d.num_students %}
            <strong>Student Count:</strong> {{ d.num_students }}</br>
            {% endif %}
            {% if d.student_age_range %}
              <strong>Student Ages:</strong> {{ d.student_age_range }}
            {% endif %}" {% else %} class="no-info-popover" data-content="No student information available for this deployment" {% endif %}
            data-toggle="popover" src="{% static 'img/ka-lite/icons/glyphicons-group.png' %}" alt="Number of students and age range of students">
          </div>
          {# Device info #}
          <div class="col-xs-4">
            <img {% if d.num_kalite_servers %} class="has-info-popover" data-content="
                <strong>{{ d.num_kalite_servers }}</strong> devices 
                {% if d.server_os %}
                  (running <strong>{{ d.server_os }}</strong>)
                {% endif %}"
              {% else %}
               class="no-ino-popover" data-content="No device information available for this deployment"
              {% endif %} data-toggle="popover" src="{% static 'img/ka-lite/icons/glyphicons-display.png' %}" alt="KA Lite server information for this deployment">
          </div>
          {# Deployment info #}
          <div class="col-xs-4">
            <img {% if d.deployment_setting %}class="has-info-popover" data-content="
              <strong>Deployment Setting:</strong> {{ d.deployment_setting }}</br>
              {% if d.pedagogical_model %}
                <strong>Pedagogical Model:</strong> {{ d.pedagogical_model }}
              {% endif %}
            "{% else %}class="no-info-popover" data-content="No setting or pedagogical information available for this deployment" {% endif %} data-toggle="popover" src="{% static 'img/ka-lite/icons/glyphicons-home.png' %}" alt="KA Lite deployment setting information">
          </div>
        </div>
        {# Pics #}
        {% if d.photo_gallery %}
        <div class="row">
          <div class="col-xs-12">
            <div id="carousel-{{ d.slug }}" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
              <ol class="carousel-indicators">
                {% for counter in d.photo_gallery.photos.all %}
                  <li data-target="#carousel-{{ d.slug }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>
              <!-- Wrapper for slides --> 
              <div class="carousel-inner">
                {% for p in d.photo_gallery.photos.all %}
                  <div class="item {% if forloop.first %}active{% endif %} deployment-carousel-img">
                    <img src="{{ MEDIA_URL }}{{ p.picture }}" alt="{{ p.title }}" title="{{ p.title }}">
                    <div class="carousel-caption">
                     {{ p.caption }}    
                    </div>  
                  </div>
                {% endfor %}
              </div>
              <!-- Controls --> 
              <a class="left carousel-control" href="#carousel-{{ d.slug }}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-{{ d.slug }}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>  
          </div>
        </div>
        {% endif %}
      </div> {# End Modal Body #}
      <div class="modal-footer request-to-connect">
        <div class="row">
          <div class="col-xs-12">
            <p>
              <small>To <strong>connect with this deployment, <a href="mailto:implementations@learningequality.org?subject=Request+to+connect+with+KA+Lite+Deployment+{{ d.title|urlencode }}+in+{{ d.deployment_location|urlencode }}+%28ID+%3D+{{ d.pk|urlencode }}%29">email us</a></strong>  information about your background and why you're interested in reaching out, and we'll pass it along to the deployment contact.</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
  $(function() {
    // prevent hash from being replaced 
    $("[class$='-info-popover'").on('click', function(e) { e.preventDefault() }); 
    // trigger popover 
    $("[class$='-info-popover'").popover({
      trigger: 'hover',
      html: true,
      placement: 'top'
    });
  });
</script>