{% load staticfiles %}

{# Modals for each pin #}
<div class="modal fade deployment-modal" id="free-tshirt-modal" tabindex="-1" role="dialog" aria-labelledby="free-tshirt" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title center-text">You just won a free T-shirt!</h1>
      </div>
      <div class="modal-body">
        <div class="col-xs-12">
          <h3 class="center-text">Awesome!</h3>
          <p>  
            <img class="img img-responsive center-block" src="{% static 'img/ka-lite/tshirt-success-gif.gif' %}">
          </p>
          <h3 class="center-text">Check out the t-shirt you just won!</h3>
          <p class="center-text">
            <img class="img img-responsive center-block" src="{% static 'img/ka-lite/tshirt.png' %}">
          </p>
          <h3 class="center-text">
            Let Liz know that you are a winner, and she will tell you how to collect your prize.
          </h3>
        </div>
      </div> {# End Modal Body #}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>