{% load radpress_get_url from radpress_tags %}
{% radpress_get_url object as url %}

{% with title=object.title %}
  {# google plus #}
  <a class="share-google" href="https://plus.google.com/share?url={{ url }}" title="{{ title }}" target="blank">google</a>

  {# facebook #}
  <a class="share-facebook" href="http://www.facebook.com/share.php?u={{ url }}" title="{{ title }}" target="blank">facebook</a>

  {# twitter #}
  <a class="share-twitter" href="http://twitter.com/home?status={{ title }} - {{ url }}" title="{{ title }}" target="blank">twitter</a>
{% endwith %}
