.quote_container {
  position: relative;
  height: 0;
  top: 100px;
  left: 5%;
  float: left;
  z-index: 3;
}
.quote_1 {
  font-size: 30px;
  color: white;
}
.quote_2 {
  display: inline-block;
  color: white;
  margin-left: 10%;
}
#the_quote_2 {
  font-style: italic;
  font-size: 24px;
  float: left;
}
#quote_mark_l {
  float: left;
  padding-right: 10px;
  width: 50px;
  margin-left: -40px;
}
#quote_mark_r {
  float: left;
  padding-right: 10px;
  width: 50px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.quote_3 {
  position: absolute;
  font-size: 18px;
  color: white;
  right: 0;
}

.quote_video_overlay {
  height: 0;
}
#quote_video_btn {
  border-radius: 50%;
  width: 90px;
  position: relative;
  z-index: 3;
  top: -295px;
  left: 70%;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  cursor: pointer;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
#quote_video_btn:hover {
  /*-ms-transform: rotate3d( 0, 0, 1, 0deg) !important;
  -webkit-transform: rotate3d( 0, 0, 1, 0deg) !important;
  transform: rotate3d( 0, 0, 1, 0deg) !important;*/
  background: #00A67C !important;
}

.quote_video_bg{
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  overflow: hidden; 
  z-index: 3;
}
.quote_video_tint {
  position: relative;
  width: 100%;
  height: 600px;
  z-index: 2;
  background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /* Standard syntax (must be last) */
}
video#quote_video {
  width: 100%;
  position: relative;
}