.how_container {
  padding-bottom: 20px;
  position: relative;
  padding-top: 20px;
  background-color: #f5f5f5;
}
.text_cloud {
  margin-top: -170px;
  margin-left: -400px;
  animation-delay: 0.5s;
}
.option_line {
  margin-top: 200px;
  margin-left: -720px;
  animation-delay: 0.5s;
}

/*.internet_cloud {
  position: absolute;
  z-index: 9999;
  margin-top: 60px;
  margin-left: -400px;
}
.option_text {
  position: absolute;
  z-index: 9999;
  margin-top: 300px;
  margin-left: -730px;
}*/
