/*Type*/

h1{
  color: #69C4EE;
}

h2{
  color: #FFFFFF;
  font-size:1.5em;
  line-height: 32px;
  margin: 40px 0px 10px 0px;
}

h3{
	font-size:1.2em;
	padding: 0 10px;
	margin: 20px 0px 30px 0px;
	line-height: 1.5em;
  color:#696969;
}

p{
  margin-bottom: 20px;
}

hr{
  margin-bottom: 10%;
  margin-top: 10%;
}

body{
  margin-bottom:15%;
}

/* =============== Donation Section | Donation Page=============== */

.donation{
  position: relative;
}
.caption{
  font-size:0.9em;
  position:absolute;
  left:0;
  bottom:0;
  padding: 0% 2%;
}

.caption a{
  color:rgba(255,255,255,0.5);
  display: inline-block;
  margin: 5% 0% 10% 0%;
  padding:1em;
  margin: 0em -1em;
  z-index: 1;
  position: relative;
}

.caption a:hover , .caption a:active , .caption a:focus{
  text-decoration: none;
}

/* ===============Donation Interface | Donation Page=============== */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
  background-color: #A5A5A5;
}

.donation{
  background: #FFF url( ../img/Donation_Interface_bg_mobile.jpg ) center bottom no-repeat;
  background-size: cover;
  background-position-y: 60px;
}
.donation-interface{
  padding: 50px 0px 400px 0px;
  display: block;
}
.donation-panel{
  padding:2% 5%;
  background-color:rgba(255,255,255,0.9);
  border-radius:4px;
  box-shadow:1px 1px 50px rgba(0,0,0,0.3);
  -moz-box-shadow:1px 1px 50px rgba(0,0,0,0.3);
  -webkit-box-shadow:1px 1px 50px rgba(0,0,0,0.3);
}
.btn-amount-group{
  margin-bottom: 10px;
  width: 100%;
}
.btn-group .btn{
  padding: 0;
  text-align: center;
}
.btn-amount, .btn-amount:hover{
  border: 2px solid #69C4EE;
  background-color:#FFFFFF;
  color: #69C4EE;
  width: 25%;
  height: 50px;
}
.btn-amount:focus , .btn-amount.active, .btn-active{
  background-color:#69C4EE;
  color: #FFFFFF;
}
.btn-give{
  background-color:#69C4EE;
  width: 90%;
  height: 64px;
  margin: 10px;
}
.btn-give:focus{
  background-color: #48ABD9;
  outline:none;
}
.btn-text{
  color: #FFFFFF;
  font-size: 20px;
}
#input-amount{
  display:none;
}
.input-group{
  width: 100%;
  height: 64px;
}
.input-group-addon, .form-control{
  border: 2px solid #69C4EE;
  background-color:#FFFFFF;
  color: #CCC;
  width: 10%;
  height: 64px;
}
.form-control{
  color: #69C4EE;
  font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child){
  border-right:none;
  border-left:none;
}
.alert-text{
  color:#fa575d;
  margin-top: 2%;
  display: none;
}
.loader{
  padding-left: 10px;
  display:none;
}
#paypal_monthly , #paypal_once{
  height:0px;
}
.give_check{
  margin: 5% 0;
}
.give_check_text{
  color:#69C4EE;
  font-size: 1.05em;
  text-decoration: underline;
}
.give_check a:hover{
  font-weight:700;
  color:#69C4EE;
}


/* ===============Checkbox| Donation Page=============== */
.checkbox{
  padding: 0% 5%;
}
input[type="checkbox"]{
  display:none;
}
input[type="checkbox"] + label  {
  color: #696969;
  font-size: 1.05em;
  vertical-align: bottom;
}
input[type="checkbox"] + label span #check{
  display:none;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width:20px;
  height:20px;
  border: 3px solid #69C4EE;
  border-radius: 4px;
  background-color: none;
  margin-right:3%;
  cursor: pointer;
  vertical-align: middle;
}
input[type="checkbox"]:checked + label span {
  display: inline-block;
  width:20px;
  height:20px;
  border: 3px solid #69C4EE;
  background: #69C4EE;
  border-radius: 4px;
  background-color: none;
  margin-right:3%;
  cursor: pointer;
  vertical-align: middle;
}
input[type="checkbox"]:checked + label span #check{
  display: inline-block;
}



/* ===============Garantee Section | Donation Page=============== */
.guarantee{
  padding: 10% 20px; 
  text-align: center;
  background: #69C4EE;
}
/*Circular Progress Bar*/
.guarantee_circle_container{
  width:80%;
  height: 250px;
  margin:auto;
}
.guarantee #circle-stats{
  width:250px;
  font-size: 32px;
  display:block;
  margin:auto;
}
.progressbar-text{
  color:#FFFFFF !important;
  font-size: 1.2em;
  line-height: 1.2em;
}

/*Text Container*/
.guarantee .text-container{
  padding: 0% 5%;
}
.guarantee .text-container h2{
  margin-top:15%;
}
.learn_link{
  color:white;
  text-decoration: underline;
  cursor: pointer;
}


/* ===============Trust Section | Donation Page=============== */
.trust{
  padding: 60px; 
  vertical-align: middle;
}
.trust .img-responsive{
  margin:auto;
  padding: 10% 0 20% 0%;
}
.trust #nonprofit_icon{
  width:55%;
}
.trust #guidestar_icon {
  width: 30%;
  left: 1%;
  position: relative;
}

/* ===============Modals | Donation Page =============== */
.guarantee_modal_container , .check_modal_container{
  background-color:#FFFFFF;
  border-radius: 4px;
  height: 60%;
  width: 100%;
  margin-top: 10%;
}
 button.close{
  padding: 10px 20px !important;
}
.guarantee_modal_content , .check_modal_content{
  padding:5% 10%;
  vertical-align: middle;
  text-align: center;
}
.give_check_img {
  width:40%;
}
/*Type*/
#guarantee_modal h1{
  margin:5% 0;
}
#guarantee_modal p{
  font-size: 1.2em;
  line-height: 1.5em;
  color:#69C4EE;
}
#check_modal{
  text-align: justify;
}
#check_modal p{
  color:#696969;
  font-size: 1.2em;
  line-height: 1.5em;
}
#check_modal .address{
  color:#69C4EE;
  font-size:1.3em;
  text-align: center;
  font-weight:700;
  margin-bottom: 5%;
}
#check_modal .email{
  color:#69C4EE;
}

/* ===============DonationPage_Thankyou.html | Thank You Page=============== */

/*thank you content*/
.thankyou_content{
  background-color:#69C4EE;
  padding: 10%;
  text-align: center;
}
.thankyou_badge{
  width:50%;
}

.thankyou_content h1{
  font-size:4em;
  color:#FFFFFF;
}
.thankyou_content h2,p{
  color:#FFFFFF;
  font-size:1.2em;
}

.thankyou_content p{
  text-align: justify;
}

.thankyou_content p:hover{
  font-weight:100;
  color:#FFFFFF;
}



/*Left Image Div*/
.give_image{
  padding:0;
}
.give_image img{
  width: 100%;
}


/*Right Image Div */
.give_thankyou_stories{
  padding:0px;
}
.give_thankyou_stories h1{
  font-size:2em;
  font-weight: 700;
  color:#FFFFFF;
}
.give_thankyou_stories p{
  color:#FFFFFF;
}
.give_thankyou_stories h1:hover , p:hover{
  color:#69C4EE;
  font-weight: 700;  
}
.give_thankyou_stories a:hover{
  text-decoration: none;
}

.give_thankyou_stories .story {
  height:300px;
  padding: 0;
  overflow: hidden;
  background-size: cover;
}
.story_link{
  position: absolute;
  top:40%;
  padding: 0% 5% 0 5%;
}
.story_1{
  background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url( ../img/Tanzania.png );
}
.story_2{
  background: linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ), url( ../img/Butaw_Liberia.jpg );
}

.give_share{
  padding-top: 10%;
  margin-top: 10%;
}

.twitter-share-button{
  display: block;
  margin: auto;
}





/* ===============Meida Queries=============== */

/*Mobile*/
@media screen and (min-width: 480px) {

  /*Donation Interface*/
  .donation-interface {
    padding: 50px 20px 75% 20px;
    display: block;
  }
  .donation-interface h1{
    padding-top:20px;
  }

  
  /*BG Image*/
  .donation{
    background-position-y: 70px;
  }

  /*Button*/
  #input-amount{
    width:90%;
    margin:auto;
  }
  .btn-amount-group {
    margin-bottom: 10px;
    width: 90%;
  }

  /*Trust Icons*/
  .trust #nonprofit_icon{
   width:240px
  }
}


@media screen and (min-width: 565px) {
  body{
    margin-bottom:10%;
  }
  .donation-interface {
    padding-top:15%;
    padding-right:10%;
    padding-left:10%;
  }

  .guarantee .text-container {
    padding: 0% 15%;
  }  

  /*Thank You Page*/
  .thankyou_content h2,p{
    padding-top:2%;
  }
  .give_thankyou_stories .story{
    height:450px;
  }
}

/*Tablet*/
@media screen and (min-width: 720px) {
  body{
  margin-bottom:8%;
  }

  .donation{
      background: #FFF url( ../img/Donation_Interface_bg_tablet_min.jpg) center bottom no-repeat;
      background-size: cover;
      background-position-y: 0px;
  }

  /*Thank You Page*/
  .give_share{
    margin-top:10%;
    padding-top:0%;
  }
  .thankyou_content h2,p{
    font-size: 1.4em;
    line-height: 1.7em;
  }
  .give_thankyou_stories .story{
    height:550px;
  }
  .give_thankyou_stories h1{
    font-size: 3em;
  }
}


@media screen and (min-width: 870px) {
  .donation-interface {
    padding-top:10%;
  }
  .donation{
    background-position-y:0px;
  }

  /*Thank You Page*/
  .thankyou_badge{
    width:40%;
   }
  .thankyou_content{
    padding: 10% 15%; 
   }
  .thankyou_content h2,p{
    font-size: 1.5em;
    line-height: 1.7em; 
  }
  .give_thankyou_stories .story{
    height:650px;
  }
}

@media screen and (min-width: 918px) {
  .donation{
    background-position-y:-60px;
  }
}


/*Mid-size*/
@media screen and (min-width: 992px) {
  body{
    margin-bottom:5.2%;
  } 
  .donation-interface {
    padding:10% 20% 60% 20%;
  }
  .donation{
    background-position-y:-100px;
  }

  /*Trust Icons*/
  .trust #nonprofit_icon{
   width:180px
  }
  .trust #guidestart_icon{
   margin-top:10%;
  }

  /*Donation Panel*/
  .donation-panel{
    padding:2% 5%;
    background-color:rgba(255,255,255,0.9);
    border-radius:4px;
    box-shadow:1px 1px 50px rgba(0,0,0,0.3);
    -moz-box-shadow:1px 1px 50px rgba(0,0,0,0.3);
    -webkit-box-shadow:1px 1px 50px rgba(0,0,0,0.3);
  }
  .donation-interface h1{
    padding-top:0;
  }

  /*Thank You Page*/
  .thankyou_badge{
    width:30%;
  }
  .give_image img{
    height: 600px;
  }
  .thankyou_content{
    padding: 10% 20% 5% 20%;
  }
  .thankyou_content h2,p{
    font-size:1.5em;
  }
  .give_share{
    padding: 5% 0;
  }
  .give_thankyou_stories .story{
    height:300px;
  }
  .give_thankyou_stories h1{
    margin-bottom:0;
    font-size:2.2em;
  }
  .give_thankyou_stories p{
    font-size:1.5em;
  }
}

@media screen and (min-width: 1000px) {
  .donation{
    background-position-y:-120px;
  }
  .donation-panel{
    padding-top: 5%;
  }
}
@media screen and (min-width: 1030px) {
  .donation{
    background-position-y:-180px;
  }
}
@media screen and (min-width: 1080px) {
  .donation{
    background-position-y:-220px;
  }
}
@media screen and (min-width: 1130px) {
  body{
    margin-bottom:4.8%;
  } 
    .donation{
    background-position-y:-280px;
  }
}
@media screen and (min-width: 1150px) {
  .donation{
    background-position-y:-350px;
  }
}

/*Large Screens*/
@media screen and (min-width: 1200px) {
  body{
    margin-bottom:2.5%;
  }
  .donation-interface{
    padding: 10% 5% 30% 5%;
  }
  .donation{
    background: #FFF url( ../img/Donation_Interface_BG_desktop.jpg) center bottom no-repeat;
    background-size: cover;
    height:95vh;
  }

  .trust #guidestar_icon {
  width: 20%;
  }

  /*Thank You Page*/
  .give_image img{
    height: 700px;
  }
   .give_thankyou_stories .story{
    height:350px;
  }

}

@media screen and (min-width: 1300px) {
  .donation{
    background-size: initial center;
    width:100%;
    background-position-y:-40px;
  }

  /*Thank You Page*/
  .give_image img{
    height: 780px;
  }
   .give_thankyou_stories .story{
    height:390px;
  }
  .story_link {
    top: 55%;
  }
}

@media screen and (min-width: 1450px) { 
  body{
    margin-bottom:2.2%;
  }
  .donation-interface{
    padding-top:20%;
    padding-bottom:50%;
  }  
  .donation{
    background-position-y:-140px;
  }

  /*Thank You Page*/
  .thankyou_content{
    padding: 10% 25%; 
  }
  .give_image img{
    height: 880px;
  }
  .give_thankyou_stories .story{
    height:440px;
  }
  .give_thankyou_stories h1{
    font-weight: 700;
    font-size:2.5em;
  }
}

@media screen and (min-width: 1550px) { 
  .donation-interface{
    padding-top:20%;
    padding-bottom:65%;
  }  
  .donation{
    background-size: initial center;
    width:100%;
    background-position-y:-200px;
  }

   /*Thank You Page*/
  .give_image img{
    height: 920px;
  }
   .give_thankyou_stories .story{
    height:460px;
  }
}

@media screen and (min-width: 1650px) { 
  body{
    margin-bottom:2%;
  }
  .donation-interface{
    padding-top:20%;
    padding-bottom:75%;
    margin-left:5%;
  }  
  .donation{
    background-size: initial center;
    width:100%;
    background-position-y:-270px;
  }
   /*Thank You Page*/
  .thankyou_content{
    padding: 10% 30%; 
  }
  .give_image img{
    height: 980px;
  }
   .give_thankyou_stories .story{
    height:490px;
  }
  .give_thankyou_stories h1{
    font-size:2.5em;
  }
}

@media screen and (min-width: 1750px) { 
  .donation-interface{
    padding-top:20%;
    padding-bottom:85%;
  }  
  .donation{
    background-size: initial center;
    width:100%;
    background-position-y:-300px;
  }
   /*Thank You Page*/
  .give_image img{
    height: 1000px;
  }
   .give_thankyou_stories .story{
    height:500px;
  }
  .story_link{
    top: 70%;
  }
}


@media screen and (min-width: 1800px) { 
  body{
    margin-bottom:1.9%;
  }

  /*Thank You Page*/
  .give_image img{
    height: 1100px;
  }
   .give_thankyou_stories .story{
    height:550px;
  }
}



