/*=========== GLOBAL VARIABLES ===================*/
p, span, h1, h2, 
h3, h4, h5, h6, .btn {
	font-family: 'Helvetica Neue', 'Open Sans', 'Montserrat';
	line-height: 1.4em;
	color: #333333;
	font-weight: bold;
	letter-spacing: 0.045em;
}
a:hover {
	text-decoration: none;
	color: #3A7AA2;
}
.bold {
	font-weight: bold;
}
.left {
	text-align: left;
}
.darkblue {
	color: #0E3049;
}
.lightblue {
	color: #3A7AA2;
}
.horizontal-divider {
	margin: 3% auto;
	color: #d7d7d7;
	background: #d7d7d7;
    width: 80%; 
    height: 0px;
    display: block;   
    box-shadow: 0 2px 4px 1px #d7d7d7;
}
.title-banner {
	text-align: center;
	padding: 3% 0;
	font-weight: bold ;
}
.title-banner h1 {
	margin-bottom: 2%;
	color: white;
	font-weight: bold;
}
.title-banner span {
	color: #5BC49F;
	font-size: 16px;
	max-width: 700px;
}
.author {
	margin: 2% 0 0 24%;
}
.container {
	float: none;
}
#fle-inner-nav {
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	background: #082133;
}
#fle-inner-nav.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 1px 0px 5px 5px #000000;
}
.active a {
	background: #557284 !important;
}
.inner-nav li a,
.le {
	color: white !important;
}
.navbar-header img {
	max-height: 50px;
}
.btn {
	margin: 5px;
	margin-top: 15px;
	background-color: #359372;
	border-radius: 0px;
	border: none;
	padding: 15px 15px;
	box-shadow: 1px 2px 2px 1px #434343;
	color: white;
	letter-spacing: 2px;
}



/*=========== LANDING SCREEN ===============*/

.landing-screen {
	background: url(../img/nalanda.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 90vh;
	max-width: 100vw
}
.landing-box {
	background-color: rgba(37, 80, 105, 0.7);
	padding: 75px 50px 75px 50px;
	margin: 12% 50% 0 -50px;
	display: block;
	min-width: 340px;
	box-shadow: 1px 1px 15px 1px #292929;
}
#landing-header {
	font-size: 50px;
	font-weight: 900;
	color: white;
	line-height: 1.5em;
}
#landing-description {
	font-size: 20px;
	display: block;
	color: white;
	padding-top: 20px;
	max-width: 500px;
	line-height: 1.6em;
}
.learn-more {
	color: white;
	font-weight: bold;
	position: absolute;
	text-align: center;
}

/*============ MISSION STATEMENT =================== */

.mission-screen {
	background: url(../img/earth-bg.png) no-repeat center center;
	-webkit-background-size: 50% contain;
	-moz-background-size: 50% contain;
	-o-background-size: 50% contain;
	background-size: 50% contain;
	text-align: center;
	padding: 6% 0 6% 0;
	max-height: 1200px;
}
.mission-box {
	float: none;
	margin: auto auto;
	text-align: center;
	padding: 8% 0 0 0;
}
.mission-header {
	font-weight: bold;
}
.mission-state {
	line-height: 1.3em;
}
#about-us {
	margin: 5% 0 18% 0;
}
.form {
	display: inline-block;
}
.form-button {
	box-shadow: 2px 2px 2px 1px #bcbcbc !important;
	padding: 10px 15px;
}
.form-control {
	width: 200px;
	display: inline-block;
	border-radius: 0;
	padding: 20px 15px;
	margin-top: 10px;
	box-shadow: 1px 2px 2px 1px #bcbcbc;
}

/*===================== THE DIVIDE ========================*/

.divide-banner {
	background: url(../img/divide.png) no-repeat left 30% center #0E3049;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
.divide-screen {
	text-align: center;
}
/*======== POVERTY ========*/
#poverty-intro {
	margin: 8% 0 6% 0;
	max-width: 700px;
}
#poverty-intro span,
#divide-intro span {
	font-size: 20px;
	text-align: center;
}
#believe-box {
	position: relative;
	top: 50px;
	max-width: 380px;
	margin-top: 3%;
	display: inline-block;
}
.believe, #cycle {
	display: block;
}
.believe {
	font-size: 30px;
}
#cycle {
	font-size: 20px;
}
.poverty img {
	max-width: 350px;
	width: 85%;
	margin: 0 8% 5% 0;
}
.poverty, 
#poverty-intro {
	float: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/*======== CHILDREN ========*/
.children,
.child-box {
	float: none;
	margin: 0 auto;
	display: inline-block;
}
.child-box {
	background: #0E3049;
	text-align: left;
	width: 320px;
	min-height: 200px;
	padding: 20px 10px;
	margin-top: 30px;
	box-shadow: 3px 3px 4px 1px #797979;
}
.child-number {
	font-size: 45px;
	color: #D2EEE4;
}
.child-exp {
	font-size: 16px;
	color: #2A9D76;
	text-align: left;
}
.emph {
	color: #D2EEE4;
}
#plus {
	position: relative;
	top: -40px;
	font-size: 45px;
	margin: 0 3.5%;
	display: inline-block;
}
.blue-box {
	margin-bottom: 5%;
}
.child div {
	margin: 0 3%;
}
.child-total {
	max-width: 380px;
	text-align: left;
	display: inline-block;
	line-height: 1.25em;
	font-size: 20px;
}
.child-pic {
	display: inline-block;
}
.child-pic img {
	max-width: 300px;
	position: relative;
	top: -100px;
}
.child-number2 {
	font-size: 45px;
	color: #0C3049;
}
.or {
	font-size: 30px;
}
/*======== DIVIDE ========*/
.divide {
	float: none;
}
#divide-intro {
	margin: 8% auto 0 auto;
	max-width: 700px;
	float: none;
	text-align: center;
}
.divide img {
	max-width: 180px;
	width: 85%;
	margin: 0 5% 5% 0;
	display: inline-block;
}
#divide-box {
	display: inline-block;
	text-align: left;
	position: relative;
	left: -30px;
	top: 20px;
}
.divide-number {
	font-size: 65px;
	color: #175079;
	position: relative;
	top: 15px;
}
#disconnected {
	font-size: 22px;
}
#divide-outro {
	margin: 0 auto 8% auto;
	max-width: 600px;
	float: none;
	text-align: center;
	font-size: 17px;
}

/*===================== THE BRIDGE ========================*/
.bridge-banner {
	background: url(../img/bridge.png) no-repeat right 15% bottom #0E3049;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
.bridge {
	float: none;
}
.bridge-intro {
	float: none;
	margin: 5% auto;
	text-align: center;
	font-size: 20px;
	max-width: 710px;
}
.bridge-box {
	float: none;
	text-align: center;
	margin-bottom: 5%;
}
.bridge-box p {
	text-align: left;
}
.bridge img {
	max-width: 120px;
 	position: center;
}
.bridge-box span {
	text-align: center;
	margin: 3% 0;
}


/*===================== OUR IMPACT ========================*/
.impact-banner {
	background: url(../img/impact.png) no-repeat left 20% bottom #0E3049;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
.impact {
	float: none;
	text-align: left;
}
.impact-box {
	margin: auto;
}
.impact img {
	text-align: center;
	float: none;
	width: 85%;
	max-width: 350px;
	margin: 7% auto;
	display: block;
}
.ka-lite h2 {
	color: #0A4732;
}
.ka-lite p {
	font-size: 20px;
	font-weight: bold;
	max-width: 410px;
}
.ka-lite-vid iframe {
	max-width: 550px;
	max-height: 315px;
	width: 100%;
	height: 315px;
}
.carousel {
	max-width: 95%;
	float: none;
	margin: 5% auto;
}
.carousel div div img {
	max-height: 650px;
}
.item img {
	width: 100%;
}
.partners,
.reality,
.blog-box,
.involved {
	float: none;
	text-align: center;
	margin: auto;
}
.partners img {
	max-width: 120px;
	width: 15%;
	margin: 3% 3%;
}
.blog-box div {
	margin: auto;
}
.blog,
.news {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
.news img,
.blog img {
	margin: 0 auto 5% auto;
}
.blog-box h2 {
	color: white;
	position: absolute;
	bottom: 12%;
	left: 15%;
	background: #000000;
	padding: 0 15px;
	letter-spacing: 0.075em;
}
.blog a h2:hover,
.news a h2:hover {
	border-top: 4px solid white;
}



/*===================== GET INVOLVED ========================*/
.involve-banner {
	background: #0E3049;
}
.donate {
	margin-top: 5%;
}
.subscribe {
	border-left: 1px solid #b2b2b2;
	margin-top: 3%;
}
.give {
	padding: 18px 35px !important;
}
.involved h4 {
	max-width: 300px;
	margin: auto;
}
.email {
	display: inline-block;
	max-width: 300px;
	width: 100%;
	height: 34px;
	padding: 20px 15px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: 1px 2px 2px 1px #bcbcbc;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.subscribe h3,
.subscribe h5 {
	text-align: left;
	display: inline-block;
}
.subscribe h6 {
	text-align: left;
}
.subscribe h5 {
	max-width: 200px;
	margin: 2% 0 0 18%;
	position: relative;
	top: 18px;
	font-size: 16px;
}
.subscribe h6 {
	margin: 3% 0 0 12.5%;
}
.involve-links {
	margin-top: 2%;
}
.involve-links p {
	font-size: 18px;
	margin-bottom: -2%;
}
.involve-links img {
	max-height: 115px;
	margin: 8% auto;
}
#br {
	color: #f4f5f5;
}
/*======================================================================*/
/*======================= RESPONSIVE QUERIES ===========================*/
/*======================================================================*/

@media (max-width: 1199px) {
	#believe-box {
		max-width: 350px;
	}
}
@media (max-width: 991px) {
	#landing-header {
		font-size: 25px;
	}
	#landing-description {
		font-size: 16px;
	}
	.landing-box {
		padding: 50px 75px;
		margin: 12% 50% 0 -50px;
	}
	.poverty img {
		max-width: 225px;
	}
	.child-number,
	.child-number2 {
		font-size: 28px;
	}
	.child-exp,
	.child-exp2 {
		font-size: 15px;
	}
	.child-box {
		max-width: 220px;
	}
	.child div {
		margin: 0 5%;
		max-width: 225px;
	}
	.child-pic img {
		max-width: 200px;
	}
}
@media (max-width: 767px) {
	.poverty img {
		max-width: 175px;
		margin: 0;
	}
	.believe {
		font-size: 25px;
	}
	#cycle {
		font-size: 16px;
	}
	#believe-box {
		max-width: 300px;
		text-align: center !important;
		margin: -25px 0 50px 0;
	}
	.child-box {
		margin: 3% 3.5%;
	}
	#plus {
		display: none;
	}
	#divide-intro span,
	#divide-outro {
		font-size: 16px;
		font-weight: normal;
	}
	.divide-number {
		font-size: 50px;
	}
	#disconnected {
		font-size: 20px;
	}
}
@media (max-width: 679px) {
	#plus {
		display: none;
	}
	.child-pic img {
		position: relative;
		top: 0;
	}
	.divide img {
		display: block;
		margin: 0 auto;
	}
	#divide-box {
		text-align: center;
		display: block;
		margin: 0 auto 3% auto;
		position: relative;
		top: 0;
		left: 0;
	}
	.bridge-intro {
		font-size: 16px;
	}
}
@media (max-width: 477px) {
	.mission-header {
		font-size: 25px;
	}
	.mission-state {
		font-size: 16px;
	}
	#about-us {
		padding-bottom: 25%;
	}
	#poverty-intro span {
		font-size: 16px;
		font-weight: normal;
	}
	#believe-box span {;
		display: block;
		text-align: center;
	}
	.believe {
		font-size: 20px;
	}
	#cycle {
		font-size: 16px;
		display: block;
	}
	#landing-header {
		width: 80%;
	}
	#landing-description {
		font-size: 14px;
		width: 100%;
	}
	.divide-number {
		font-size: 40px;
		position: relative;
		top: 10px;
	}
}




/*========= MOBILE DEVICES FLIPPED ON SIDE ============*/
@media (max-height: 587px) {
	#landing-header {
		font-size: 25px;
	}
	#landing-description,
	.btn {
		font-size: 14px;
	}
	.landing-box {
		margin: 5% 40% 0 -35px;
		padding: 15px 35px 15px 35px;
		width: 100%;
	}
	.poverty img {
		max-width: 125px;
	}
	#believe-box {
		position: relative;
		max-width: 200px;
	}
	.believe {
		font-size: 20px;
		display: block;
	}
	#cycle {
		font-size: 16px;
	}
}