/* Sticky Signup Form */
.sticky-signup {
  background: #53435B;
  height: 70px;
  width: 100%;
  background: #53435B;
  z-index: 999999;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  position: relative;
}
.affix-top {
  height: 70px;
  width: 100%;
  background: #53435B;
  z-index: 999999;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  position: absolute;
  margin-top: -70px;
}
.sticky-signup span {
  color: white;
  font-size: 25px;
  font-family: "Montserrat-Light";
  position: relative;
  top: 19px;
  left: 5%;
}
.affix {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999999;
  background: #53435B;
  height: 70px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}
.sticky-mailchimp {
  width: 500px;
  float: right;
  position: relative;
  top: 18%;
}

/*--end--*/


.progress-bar {
	color: #53435B;
	background-color: #FFCC00;
	/*border-radius: 50px;*/
	-webkit-transition: all 1.5s ease-out; 
	-moz-transition: all 1.5s ease-out; 
	-ms-transition: all 1.5s ease-out; 
	-o-transition: all 1.5s ease-out; 
	transition: all 1.5s ease-out;
  -webkit-transition-delay: 1.5s; /* Chrome, Safari, Opera */
  transition-delay: 1.5s;
}
#origin_progress_bar {
  background-color: #00cc66;
}
#stretch_progress_bar {
  background-color: #FFCC00;
}

.talkbubble {
	color: white;
 	width: 110px;
 	height: 20px;
 	background: #5CB8E6;
 	position: absolute;
 	-moz-border-radius:    50px;
 	-webkit-border-radius: 50px;
 	border-radius:         50px;
  text-align: center;
  top: 3px;
  margin-left: -55px;
  -webkit-transition: all 1.5s ease-out; 
	-moz-transition: all 1.5s ease-out; 
	-ms-transition: all 1.5s ease-out; 
	-o-transition: all 1.5s ease-out; 
	transition: all 1.5s ease-out;
  -webkit-transition-delay: 1.5s; /* Chrome, Safari, Opera */
  transition-delay: 1.5s;
}
.talkbubble:before {
 	content: "";
 	position: absolute;
 	right: 49px;
 	top: 20px;
 	width: 0;
 	height: 0;
 	border-right: 6px solid transparent;
 	border-top: 12px solid #5CB8E6;
 	border-left: 6px solid transparent;
}
#origin_goal {
  background: #FF7259;
}
#origin_goal.talkbubble:before {
  border-top: 12px solid #FF7259;
}

#igg_progress {
	width: 45vw;
  margin-left: 30px;
	display: inline-block;
	float: left;
}

#progress_outer {
	background-color: #8175A0;
	margin-top: 10px;
  height: 50px;
  padding-top: 15px;
  border-radius: 50px;
  display: block;
  width: auto;
}
.progress {
  background-color: #53435B;
  display: inline-block;
  border-radius: 50px;
  display: inline-block;
  width: 50%;
}
#progress_text_1 {
	color: white;
	display: inline-block;
	position: relative;
  top: -21px;
  padding-left: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 20%;
}
#progress_text_2 {
	color: white;
	display: inline-block;
	position: relative;
  top: -21px;
  padding-right: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 20%;
}

#donor_carousel {
	position: absolute;
  width:400px;
  height: 52px;
  overflow: hidden;
  /*float: right;*/
  right: 0;
  margin-right: 30px;
  margin-top: 10px;
}

.inner_item {
	bottom: 0;
	position: absolute;
	display: inline-block;
	height: inherit;
	-webkit-transition: all 1.5s; 
	-moz-transition: all 1.5s; 
	-ms-transition: all 1.5s; 
	-o-transition: all 1.5s; 
	transition: all 1.5s;
	/*margin-right: 10px; */
}

.donor_icon {
	display: inline-block;
	float: left;
	height: inherit;
}
.donor_info {
	color: white;
	display: inline-block;
	/*white-space: pre; */
	/*float: left;*/
	margin-left: 5px;
	position: relative;
	bottom: 0;
	max-width: 130px;
	max-height: 50px;
	line-height: 18px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.gold {
	font-weight: bold;
	color: #FFCC00;
}

.videoWrapper {
  position: relative;
  padding-bottom: 40.25%; /* 16:9 */
  /*padding-top: 25px;*/
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 18%;
  left: 17%;
  width: 65%;
  height: 89%;
}

/* Make video and funding tracker */

@media screen and (max-width: 590px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .intro-text {
    top: 11%;
  }
  #indiegogo_generosity {
    height: 14px;
  }
  .videoWrapper iframe {
    width: 73%;
    height: 100%;
    left: 14%;
    top: 50px;
  }
  #igg_btn {
    margin-top: 15px;
  }
}
@media screen and (height: 768px) { /*target ipad*/
  .intro-text {
    top: 12%;
  }
  .intro-heading {
    font-size: 50px;
    top: -13px;
  }
  .intro-heading2 {
    font-size: 20px;
  }
  #igg_btn {
    margin-top: -30px;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
@media screen and (max-width: 768px) {
  #k_video {
    margin-top: -50px;
  }
}
@media screen and (max-width: 990px) {
  #intro_container {
    margin-left: 0;
  }
  #donor_carousel {
    display: none;
  }
  #igg_progress {
    width: 90%;
    margin-left: 5%;
    display: inline-block;
  }
  .intro-heading2 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .videoWrapper iframe {
    top: 0;
  }
  #k_video {
    margin-top: 0;
  }
}
@media screen and (min-width: 990px) {
  .videoWrapper iframe {
    top: 22%;
    left: 25%;
    width: 50%;
    height: 72%;
  }
}
@media screen and (min-width: 1200px) {
  #donor_carousel {
    margin-right: 10vw;
  }
}