body {
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
#footer {
    position: relative;
    bottom: 0;
}
.text-muted {
  color: #141414;
}
.text-primary {
  color: #fed136;
}
p.slim-text {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
p.big {
  font-size: 20px;
  text-align: left;
  /*float: left;*/
  /*background-color: pink;*/
}
p.center {
  font-size: 20px;
  text-align: center;
  line-height: 1.5em;
  text-align: justify;
  max-width: 1000px;
  margin: auto;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #fed136;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
}
.btn-xl {
  color: #1a1a1a;
  background: rgb(138, 230, 92);
  border-color: rgb(138, 230, 92);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  -webkit-transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
  transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
}
.btn-xl:hover {
  background: #459F19 !important;
  border-color: #459F19 !important;
  color: white !important;
  -webkit-transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
  transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
}
.btn-xl:active {
  -moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000;
}
#sign-up {
  width: 100%;
}
.e1 {
  width: 100%;
  float: left;
  margin-left: -230px;
  transform: translateX(50%);
}
.email_input_k {
  outline: none;
  clear: none !important;
  float: left;
  width: 240px;
  background-color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 18px;
  padding: 10px 10px;
  text-align: center;
  box-shadow: none;
  border: 4px solid rgb(138, 230, 92) !important;
}
.email_submit_k {
  clear: none !important;
  float: left;
  width: 220px;
  margin-left: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
  border: 4px solid rgb(138, 230, 92) !important;
}

@media (max-width: 500px) {
  .email_input_k {
    text-align: center;
    display: block;
    clear: both;
    float: none;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
  }
  .email_submit_k {
    display: block;
    clear: both;
    float: none;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
  .e1 {
    margin-left: -160px;
  }
}

@media (min-width: 700px) {
  .email_input_k {
    outline: none;
    clear: none !important;
    float: left;
    width: 350px;
    background-color: white;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 18px;
    padding: 20px 40px;
    box-shadow: none;
    border: 4px solid rgb(138, 230, 92) !important;
  }
  .email_submit_k {
    clear: none !important;
    float: left;
    width: 250px;
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 4px solid rgb(138, 230, 92) !important;
    padding: 20px;
  }
  .e1 {
    margin-left: -300px;
  }
}

@media (max-width: 700px) {
  .mailing_label {
    font-size: 22px !important;
    font-weight: 100;
  }
}

#mce-error-response{
  color: white;
}
#mce-success-response{
  color: white;
}
#mce-responses{
  /*width: 100%;*/
  clear:both;
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-top: 100px;
}

.modal{
  position: fixed;
}

@media (max-width: 800px){
  #mce-responses{
    margin-top: 180px;
  }
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: black;
  background-color: rgb(138, 230, 92);
  border-color: rgb(138, 230, 92);
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}

/* NAV BAR */

#fle-navbar {
  padding: 0;
  position: absolute;
  width: 100vw;
}

/* HEADER */
header {
  text-align: center;
  color: white;
}
header .intro-text {
  height: 0;
  padding-top: 90px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 25px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  /*margin-bottom: 50px;*/
  position: relative;
  z-index: 3;
  /*bottom: 60px;*/
}
.kickstarter-about-title {
  margin-bottom: 7%;
}
.not-parallax-section {
  padding: 100px 0;
}
.header-shadow {
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh !important;
}
.header-shadow img {
  max-width: 85%;
  position: relative;
  right: 8%;
  z-index: 2;
}
#header-mailchimp {
  position: relative;
  top: -30vh;
  z-index: 999;
}
.bgvid_container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
}
video#bgvid {
  position: relative;
  top: 20px;
  bottom: 0;
  background: url('../img/kickstarter/bgvid_poster.jpg') no-repeat;
  background-position: center center;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

@media (min-width: 768px) {
  .header-shadow img {
    min-width: 700px;
    top: -285px;
  }
  header .intro-text {
    padding: 140px 0 0 0;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 55px;
    line-height: 70px;
    margin: 0 auto;
    position: relative;
    /*top: -110px;*/
  }
  header .action-button{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 90vh;
  }
}
@media (max-width: 1200px) {
  .header-shadow img {
    top: -20vw;
  }
}
@media (max-width: 767px) {
  .header-shadow img {
    top: 0;
  }
}
@media (max-width: 500px) {
  header .intro-text .intro-heading {
    line-height: 39px;
  }
  .header-shadow img {
    top: -55px;
  }
  section#contact .section-heading {
    font-size: 33px !important;
  }
  section h2.section-heading {
    font-size: 30px !important;
  }
  section h3.section-subheading {
    font-size: 1.1em !important;
    text-align: justify;
  }
}
@media (max-height: 680px) {
  #header-mailchimp: -8vw;
}
@media (max-height: 500px) {
  header .intro-text .intro-heading {
    font-size: 32px;
    line-height: 41px;
  }
  .header-shadow img {
    top: -23vw;
  }
}
/* END HEADER */


section {
  padding: 0;
}
section h2.section-heading {
  font-size: 50px;
  margin-top: 0;
}
section h3.section-subheading {
  line-height: inherit;
  font-size: 1.2em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#portfolio {
  padding-top: 200px;
  background-color: #ECECEC;
}
#portfolio .portfolio-item {
  /*margin: 0 0 15px;*/
  padding: 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 500px;
  margin: auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  font-size: 60px;
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 500px;
  background-color: white;
  text-align: center;
  padding: 15px 15px 35px 15px;
  cursor: pointer;
  margin: auto;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 10px 0 0 0;
  font-size: 1.3em;
  padding-bottom: 5px;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Open Sans";
  font-size: 16px;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption a {
  font-style: normal;
  font-weight: bold;
  color: black;
  position: relative;
  top: 25px;
  font-size: 13px;
}
#parallax_1 {
  width: 440px;
}
#parallax_2 {
  width: 370px;
}
.barrier-title,
.solution-title {
  text-align: left;
  width: 100%;
  padding: 9px 14px;
}
.barrier-title span,
.solution-title span {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.barrier-title i,
.barrier-title span,
.solution-title i,
.solution-title span {
  color: white;
  font-size: 17px;
}
.barrier-title {
  background: #932E57;
}
.solution-title {
  background: #4B3C60;
}
.portfolio-barrier-box,
.portfolio-solution-box {
  padding: 0 11px;
}
.portfolio-barrier-box p,
.portfolio-solution-box p {
  text-align: left;
  line-height: 1.6em;
  position: relative;
  top: 15px;
}
.portfolio-caption .text-muted {
  color: #3F3F3F;
  font-style: normal !important;
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
  padding-bottom: 5px;
  position: relative;
  top: -7px;
}

/* FEATURES RIBBON */
.barrier-title,
.solution-title {
  margin: 0;
  margin-top: 5%;
  position:relative;
  left: -34px;
  width: 200px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
        inset 0px 0px 20px rgba(0,0,0,0.1),
        0px 1px 1px rgba(0,0,0,0.4);
}
.barrier-title:before,
.solution-title:before {
  left:-1.35em;
  border-right-width: .75em;
  border-left-color:transparent;
}
.barrier-title span:before,
.solution-title span:before {
  content:"";
  bottom:-.5em;
  position:absolute;
  display:block;
  border-style:solid;
  border-color: #63122D transparent transparent transparent;
  z-index:0;
}
.solution-title span:before {
  border-color: #1E0B36 transparent transparent transparent;
}
.barrier-title span:before,
.solution-title span:before {
  left: 0;
  border-width: .5em 0 0 .5em;
}
.solution-title {
  margin-top: 8%;
}
/* END FEATURE RIBBONS */

@media (max-width: 767px) {
  .portfolio-barrier-box {
    margin-bottom: 25px;
  }
  .portfolio-caption:before {
    display: none;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: white;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fed136;
  color: white;
  border-radius: 100%;
  border: 7px solid white;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: -60px;
  color: inherit;
  font-size:2.2em;
}
.timeline .timeline-heading h4.subheading {
  text-transform: uppercase;
  font-size: 33px;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
  font-family: "Montserrat", "Helvetica Neue";
}
.timeline li div p a {
  font-weight: bold;
}
.timeline li div p a:hover {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
#about {
  background: #8670A1;
  color:#fff;
}
#about h2.section-heading{
  color: #fff;
  padding-top: 50px;
}
#about .text-muted {
  color: #fff;
  font-weight: 300;
  font-size:1.5em;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
}
#about .timeline-individual-heading{
  margin-top: 2%;
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: -0.07em
}
#about .moreinfo{
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .timeline .timeline-heading h4 {
    margin-top: -13px;
    font-size: 1.7em;
  }
  .timeline .timeline-heading h4.subheading {
    font-size: 21px;
  }
  .moreinfo {
    margin-top: 13px;
  }
  #about .text-muted {
    font-size: 1.2em;
  }
  #about .timeline-individual-heading {
    font-size: 1.7em;
  }
  #about .section-heading {
    font-size: 30px;
  }
  .not-parallax-section {
    padding: 100px 0;
  }
  .timeline li .timeline-image {
    border: 4px solid white;
  }
  .showing {
    text-align: center !important;
  }
}

/* LAST CALL TO ACTION */
section#contact {
  background: url('../img/kickstarter/cover.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: -44px;
  padding: 0;
  height: 100vh;
}
section#contact .section-heading {
  color: white;
  margin-bottom: 10px;
}
section#contact #overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0.5;
  z-index: 0
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact .text-danger {
  color: #e74c3c;
}
#contact .text-center,
#contact .text-muted {
  position: relative;
  top: 13vh;
  z-index: 1;
}
#contact .text-muted {
  margin-top: 20px;
}
section#contact .bridge-photo,
section#contact .section-heading,
#footer-mailchimp {
  z-index: 1;
}
section#contact img {
  max-width: 80%;
  min-width: 300px;
  position: relative;
  top: 5vh;
  z-index: 0;
}
@media (max-width: 767px) , (max-height: 640px) {
  section#contact img {
    display: none;
  }
  #footer-mailchimp {
    bottom: -25vh !important;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #fed136;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}
mark{
  background-color: transparent;
  font-weight: 900;
  color: #47B56C;
}
.play-btn{
  background-color: #33CC33;
  color: white;
  font-weight: 700;
  min-width: 100px;
}
.play-btn:hover {
  background-color: #2EB82E;
  color: white;
}
.play-btn:focus,
.play-btn:active {
  color: white;
}
#svg_preconfigure {
  width: 100%;
  height: 300px;
  margin-bottom: -5px;
  background-color: #00E6B8;
}
#svg_content_curation {
  width: 100%;
  height: 300px;
  margin-bottom: -5px;
  background-color: #8AE65C;
}
#svg_peer_to_peer {
  width: 100%;
  height: 300px;
  margin-bottom: -5px;
  background-color: pink;
}
#svg_video_vectorization {
  width: 100%;
  height: 300px;
  margin-bottom: -5px;
  background-color: #66CCFF;
}
.greenish {
  background-color: rgba(138, 230, 92, .2);
}
.pinkish {
  background-color: rgba(255, 192, 203, .2);
}
.blueish {
  background-color: rgba(102, 204, 255, .2);
}
.feature_text {
  margin: 0;
  text-align: justify;
  font-size: 16px;
  font-family: "Montserrat", "Helvetica Neue";
  line-height: 1.4;
}
.colored-container {
  margin-bottom: 30px;
  height: 100%;
  /*background-color: #ECECEC;*/
}
/* MAILCHIMP MODAL */
.mailing_label {
  text-transform: none;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  position: relative;
  font-size: 32px;
  font-weight: 100;
}
.email_input_k::selection {
  background: #55C21E;
}
#footer-mailchimp {
  position: relative;
  bottom: -7vh;
}

/* BACK TO TOP BUTTON */
.back-to-top {
  position: fixed;
  bottom: 0.5em;
  right: 10px;
  text-decoration: none;
  color: #fed136;
  background-color: #000000;
  font-size: 20px;
  display: none;
  border: 4px solid black;
  padding: 13px 0 0 16px;
  display: none;
  z-index: 999;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  -webkit-transition: border 0.3s, background 0.3s, color 0.3s;
  transition: border 0.3s, background 0.3s, color 0.3s;
}

.back-to-top:hover {    
  background-color: #fed136;
  color: black;
  border: 4px solid black;
  -webkit-transition: border 0.3s, background 0.3s, color 0.3s;
  transition: border 0.3s, background 0.3s, color 0.3s;
}

/* Vectorized Video */
@media (max-width: 750px) {
  #canvas, .upper-canvas, .canvas-container {
    width: 100vw !important;
    height: auto !important;
  }
  .vector-description {
    padding: 0 25px !important;
  }
  .modal-body {
    padding: 0 !important;
  }
  #button-wrapper {
    margin-top: 58vw !important;
  }
  #mark {
    position: relative;
    top: 58vw;
  }
}

#bgvid-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 50vh;
  left: 50vw;
  transform: translate(-35px,-35px);
  visibility: hidden;
}