body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.fle_title {
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
#purple_text {
  font-size: 60px;
  color: purple;
}

.modal {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
.modal-body {
  padding: 0px 100px;
}
#footer {
  position: relative;
  bottom: 0;
}
.text-muted {
  color: #141414;
}
p.slim-text {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
p.big {
  font-size: 20px;
  text-align: left;
  /*float: left;*/
  /*background-color: pink;*/
}
p.center {
  font-size: 20px;
  text-align: center;
  line-height: 1.5em;
  text-align: justify;
  max-width: 1000px;
  margin: auto;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #0099CC;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.tabelt_specs {
  color: white;
  font-family: "Montserrat";
  font-style: italic;
  font-size: 35px;
  position: relative;
  margin-bottom: 40px;
  background: url('../img/kickstarter/portfolio/preconfig_tablet.jpg') no-repeat;
  background-position: center center;
  min-height: 522px;
  min-width: 100px;
  padding: 100px;
}
.specs {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary .badge {
  background-color: white;
}
.btn-xl {
  color: #1a1a1a;
  background: #14E06E;
  border-color: #14E06E;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  -webkit-transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
  transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
}
.btn-xl:hover {
  background: #14E06E !important;
  border-color: #14E06E !important;
  color: white !important;
  -webkit-transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
  transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
}
.btn-xl:active {
  -moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000;
}
#sign-up {
  width: 100%;
}
.e1 {
  width: 100%;
  float: left;
  margin-left: -230px;
  transform: translateX(50%);
}
.email_input_k {
  outline: none;
  clear: none !important;
  float: left;
  width: 240px;
  background-color: white;
  font-family: "Open Sans";
  font-weight: 700;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 18px;
  padding: 10px 10px;
  text-align: center;
  box-shadow: none;
  border: 3px solid #fff !important;
}
.email_submit_k {
  clear: none !important;
  float: left;
  width: 220px;
  margin-left: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
  border: 3px solid #14E06E !important;
  color: white;
}


#mce-success-response,
#mce-error-response {
  color: #474747;
  font-size: 15px;
}
#mce-responses{
  /*width: 100%;*/
  clear:both;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 18px;
  margin-top: 100px;
}
#mce-error-response a {
  color: black;
}

.modal{
  position: fixed;
}




.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: black;
  background-color: #0099CC;
  border-color: #0099CC;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl .badge {
  background-color: white;
}

.not-parallax-section {
  padding: 100px 0;
}

#slider{
  background: url('../img/kickstarter/slider.jpg') no-repeat;
  background-size: cover;
  height: 85vh;
  color:#fff;
  text-align: left;
}

.mailing_sidelabel{
  text-align: left;
  padding-left: 8%;
  padding-bottom:1%;
  text-transform: inherit;
  font-weight: 100;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.mailing_toplabel{
  text-align: left;
  padding-left: 8%;
  font-size: 3.5em;
  text-shadow: -2px 2px black;
}
#mailing_toplabel {
  font-weight: normal;
}
/* NAV BAR */

#fle-navbar {
  padding: 0;
  position: absolute;
  width: 100vw;
}

/* HEADER */
header {
  text-align: left;
  color: white;
}
.intro-text {
  position: relative;
  top: 35vh;
  left: 4%;
}
.intro-heading {
  font-family: "Montserrat";
  max-width: 1000px;
  font-size: 100px;
  line-height: 56px;
  position: relative;
  z-index: 3;
  text-align: right;
}
.intro-heading2 {
  color: white;
  z-index: 5;
  position: relative;
  font-size: 40px;
  font-family: "Open Sans";
  padding-right: 60px;
  top: -3vh;
  text-align: left;
  left: -20px;
}
#header-mailchimp {
  position: relative;
  z-index: 999;
}
.bgvid_container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
}
video#bgvid {
  position: relative;
  top: 20px;
  bottom: 0;
  background: url('../img/kickstarter/bgvid_poster.jpg') no-repeat;
  background-position: center center;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
@media (max-width: 900px) {
  .intro-heading {
    font-size: 50px;
    max-width: 750px;
  }
  .intro-heading2 {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .intro-text {
    top: 18vh;
  }
  .intro-heading {
    font-size: 38px;
  }
  .intro-heading2 {
    font-size: 24px;
  }
}
@media (max-height: 680px) {
  #header-mailchimp: -8vw;
}
/* END HEADER */


section {
  padding: 0;
}
section h2.section-heading {
  font-size: 50px;
  margin-top: 0;
}
section h3.section-subheading {
  line-height: inherit;
  font-size: 1.2em;
  font-family: "Open Sans";
  text-transform: none;
  font-style: normal;
  font-weight: 300;
  max-width: 750px;
  margin: 0 auto 75px auto;
}
@media (max-width: 500px) {
  section#contact .section-heading {
    font-size: 33px !important;
  }
  section h2.section-heading {
    font-size: 30px !important;
  }
  section h3.section-subheading {
    font-size: 1.1em !important;
    text-align: justify;
  }
}
@media (min-width: 768px) {
  section {
    padding: 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

/* Kolibri Features Version 1 */
#portfolio {
  padding-top: 200px;
  background-color: #ECECEC;
}
#portfolio .portfolio-item {
  /*margin: 0 0 15px;*/
  padding: 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 500px;
  margin: auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(0, 107, 143, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  font-size: 60px;
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  /*max-width: 500px;*/
  /*background-color: white;*/
  text-align: center;
  padding: 15px 15px 35px 15px;
  cursor: pointer;
  margin: auto;
  height: 460px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 30px 0 0 0;
  font-size: 1.2em;
  padding-bottom: 5px;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Open Sans";
  font-size: 16px;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption a {
  font-style: normal;
  font-weight: bold;
  color: black;
  position: relative;
  top: 25px;
  font-size: 13px;
}
.barrier-title,
.solution-title {
  text-align: left;
  width: 100%;
  padding: 9px 14px;
}
.barrier-title span,
.solution-title span {
  font-family: "Montserrat";
}
.barrier-title i,
.barrier-title span,
.solution-title i,
.solution-title span {
  color: white;
  font-size: 17px;
}
.barrier-title {
  background: #932E57;
}
.solution-title {
  background: #4B3C60;
}
.barrier-title i,
.solution-title i {
  margin: auto;
}
.barrier-title i {
  margin-right: 5px;
}
.portfolio-barrier-box,
.portfolio-solution-box {
  padding: 10px 35px;
}
.portfolio-barrier-box p,
.portfolio-solution-box p {
  text-align: left;
  line-height: 1.6em;
  position: relative;
  top: 15px;
}
.portfolio-caption .text-muted {
  color: #3F3F3F;
  font-style: italic !important;
  font-family: "Open Sans";
  padding-bottom: 5px;
  position: relative;
  top: -7px;
}

@media (max-width: 991px) {
  .portfolio-barrier-box,
  .portfolio-solution-box {
    position: relative;
    top: 30px;
    padding: 10px 0px;
    right: 5px;
  }
  #portfolio .portfolio-item .portfolio-caption {
    height: 100%;
  }
  .portfolio-solution-box p {
    margin-bottom: 20px !important;
  }
}
@media (max-width: 767px) {
  .portfolio-barrier-box {
    margin-bottom: 25px;
  }
  .portfolio-caption:before {
    display: none;
  }
  #portfolio .portfolio-item .portfolio-caption {
    height: 100%;
  }
}
/* End Kolibri Features Version 1 */

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #8670A1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #8670A1;
  color: white;
  border-radius: 100%;
  border: 7px solid #8670A1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: -60px;
  color: inherit;
  font-size:2.2em;
}
.timeline .timeline-heading h4.subheading {
  text-transform: uppercase;
  font-size: 33px;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
  font-family: "Open Sans";
}
.timeline li div p a {
  font-weight: bold;
}
.timeline li div p a:hover {
  color: #006B8F;
  text-decoration: none;
}
.story a, .story a:hover, .story a:focus {
  color: white;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.ka-lite-header {
  text-align: center;
}
.ka-lite-intro {
  font-size: 26px;
  margin: auto;
  text-align: center;
  font-family: Open Sans;
  text-transform: none;
  max-width: 70%;
  position: relative;
}
#about {
  /*background: white;*/
  /*background: url('../img/kickstarter/cover.png') repeat;
  background-position: center center;*/
  /*color:#fff;*/
}
#about h2.section-heading{
  /*color: #fff;*/
  padding-top: 50px;
}
#about .text-muted {
  /*color: #fff;*/
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.35;
  font-family: 'Open Sans';
}
#about .timeline-individual-heading{
  margin-top: 2%;
  font-size: 2.5em;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: -0.07em
}
#about .moreinfo{
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .timeline .timeline-heading h4 {
    margin-top: -13px;
    font-size: 1.7em;
  }
  .timeline .timeline-heading h4.subheading {
    font-size: 21px;
  }
  .moreinfo {
    margin-top: 13px;
  }
  #about .text-muted {
    font-size: 1.2em;
  }
  #about .timeline-individual-heading {
    font-size: 1.7em;
  }
  #about .section-heading {
    font-size: 30px;
  }
  .not-parallax-section {
    padding: 100px 0;
  }
  .timeline li .timeline-image {
    border: 4px solid white;
  }
  .showing {
    text-align: center !important;
  }
}

/* LAST CALL TO ACTION */
section#contact {
  background: url('../img/kickstarter/nalanda-214.jpg');
  background-position: center 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: -44px;
  padding: 0;
  height: 100vh;
  min-height: 800px;
}
section#contact .section-heading {
  color: white;
  margin-bottom: 10px;
}
section#contact .form-control:focus {
  box-shadow: none;
}

section#contact .text-danger {
  color: #e74c3c;
}
#contact .text-center,
#contact .text-muted {
  position: relative;
  top: 40px;
  z-index: 1;
}
#contact .text-muted {
  margin-top: 20px;
  font-family: "Montserrat";
  color: white;
}
section#contact .bridge-photo,
section#contact .section-heading,
#footer-mailchimp {
  z-index: 1;
  /*color: #8670A1;*/
}
@media (max-width: 767px) , (max-height: 640px) {
  section#contact img {
    display: none;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 0px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 2.5em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
  font-size: 20px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 24px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: relative;
  width: 75px;
  height: 75px;
  top: -75px;
  float: right;
  right: 16px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #0099CC;
}
::selection {
  text-shadow: none;
  background: #0099CC;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
mark{
  background-color: transparent;
  font-weight: 900;
  color: #47B56C;
}
.play-btn{
  background-color: #33CC33;
  color: white;
  font-weight: 700;
  min-width: 100px;
}
.play-btn:hover {
  background-color: #2EB82E;
  color: white;
}
.play-btn:focus,
.play-btn:active {
  color: white;
}
#svg_preconfigure {
  width: 100%;
  height: 300px;
  margin-bottom: -5px;
  /*background-color: #00E6B8;*/
}
#svg_content_curation {
  width: 100%;
  height: 300px;
  margin-bottom: -5px;
  /*background-color: #8AE65C;*/
}
#svg_peer_to_peer {
  width: 100%;
  height: 300px;
  margin-bottom: -5px;
  /*background-color: pink;*/
}
#svg_video_vectorization {
  width: 100%;
  height: 300px;
  margin-bottom: -5px;
  /*background-color: #66CCFF;*/
}
.greenish {
  background-color: rgba(138, 230, 92, .2);
}
.pinkish {
  background-color: rgba(255, 192, 203, .2);
}
.blueish {
  background-color: rgba(102, 204, 255, .2);
}
.feature_text {
  margin: 0;
  text-align: justify;
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.4;
}
.colored-container {
  margin-bottom: 30px;
  height: 100%;
  /*background-color: #ECECEC;*/
}
/* MAILCHIMP MODAL */
#iframe-wrapper {
  padding-right: 50%;
  width: 100%;
  padding-left: 6%;
}
.mailing_label {
  text-transform: none;
  font-family: "Open Sans";
  text-align: center;
  position: relative;
  font-size: 26px;
  font-weight: bold;
  z-index: 3;
  line-height: 1.5em;
}
.email_input_k::selection {
  background: #0099CC;
}
#footer-mailchimp {
  bottom: -7vh;
  width: 320px;
  height: 120px;
}
.foot_containor {
  float: right;
  margin-right: 8vw;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 50px;
}
.foot_containor #footer-kolibri {
  width: 230px;
  margin-bottom: 25px;
}
.foot_containor #footer-kickstarter {
  width: 400px;
  display: block;
}
.lowcase {
  text-transform: none !important;
  font-family: "Open Sans";
  color: white;
  font-size: 23px;
  font-weight: normal;
}
#dreams {
  text-align: center;
  font-family: "Open Sans";
  text-transform: none;
  font-weight: normal;
  font-size: 55px;
  color: white;
  padding: 70px 0 50px 0;
  margin: 0 !important;
}

/* Media Query Max-Width 1152px */

@media (max-width: 1152px) {
  .mailing_toplabel {
    margin-top:-50px;
  }

}

/* Media Query Min-Width 700px */

@media (min-width: 700px) {
  .email_input_k {
    outline: none;
    clear: none !important;
    float: left;
    width: 350px;
    background-color: white;
    font-family: "Open Sans";
    font-weight: 700;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 18px;
    padding: 21px 40px;
    box-shadow: none;
    border: 3px solid #fff !important;
  }
  .email_submit_k {
    clear: none !important;
    float: left;
    width: 250px;
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 3px solid #c9302c  !important;
    padding: 21px;
  }
  .e1 {
    margin-left: -300px;
  }
}


/* Media Query Max-Width 800px */

@media (max-width: 800px){
  #mce-responses{
    margin-top: 180px;
  }

  #iframe-wrapper {
    padding-right: 25%;
    width: 100%;
    padding-left: 1%;
  }
  .mailing_toplabel {
    margin-top:-50px;
  }
}

/* Media Query Max-Width 700px */

@media (max-width: 700px) {
  .mailing_label {
    font-size: 22px ;
    font-weight: 100;
  }
  .tabelt_specs {
    font-size: 24px;
    padding: 20px;
  }


}


/* Media Query Max-Width 500px */

@media (max-width: 500px) {
  #slider {
    background-position: right;
  }
  .slider-overlay{
    margin-top:-100px;
    background-color: rgba(0,0,0,.3);
  }
  #iframe-wrapper {
    padding: 0px 0px ;
  }
  .mailing_toplabel{
    padding-top: 100px;
    font-size: 1.9em ;
  }
  .mailing_sidelabel{
    font-size: 25px ;
    text-align: center;
    padding: 10% 8%;
    line-height: 1.5em;
  }


  .email_input_k {
    text-align: center;
    display: block;
    clear: both;
    float: none;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
  }
  .email_submit_k {
    display: block;
    clear: both;
    float: none;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
  .e1 {
    margin-left: -160px;
  }
}

/* BACK TO TOP BUTTON */
.back-to-top {
  position: fixed;
  bottom: 0.5em;
  right: 10px;
  text-decoration: none;
  color: #0099CC;
  background-color: #000000;
  font-size: 20px;
  display: none;
  border: 4px solid black;
  padding: 13px 0 0 16px;
  display: none;
  z-index: 999;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  -webkit-transition: border 0.2s, background 0.2s, color 0.2s;
  transition: border 0.2s, background 0.2s, color 0.2s;
}

.back-to-top:hover {    
  background-color: #0099CC;
  color: black;
  border: 4px solid black;
  -webkit-transition: border 0.2s, background 0.2s, color 0.2s;
  transition: border 0.2s, background 0.2s, color 0.2s;
}

/* Vectorized Video */
@media (max-width: 750px) {
  #canvas, .upper-canvas, .canvas-container {
    width: 100vw !important;
    height: auto !important;
  }
  .vector-description {
    padding: 0 25px !important;
  }
  .modal-body {
    padding: 0 !important;
  }
  #button-wrapper {
    margin-top: 58vw !important;
  }
  #mark {
    position: relative;
    top: 58vw;
  }
}

#bgvid-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 50vh;
  left: 50vw;
  transform: translate(-35px,-35px);
  visibility: hidden;
}

.ending_background {
  background-size: cover !important;
  background: url('../img/kickstarter/cover.png') no-repeat center center;
  padding-bottom: 40px;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.ending_background h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 40px;
  padding-top: 40px;
  font-weight: 700;
}
.ending_background h3 {
  color: white;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: bold;
}

#kickstarter-header{
  background-size: cover;
  background: url('../img/kickstarter/header-cover.jpg') ;
  height: 100vh;
}

.intro-social {
  position: relative;
  top: 9vh;
  text-align: right; 
}
.intro-social .social_btns div {
  color: rgba(255, 255, 255, 0.8);
}
.intro-social .social_btns div:hover {
  color: rgba(255, 255, 255, 1);
}
.social_btns {
  z-index: 3;
  position: relative;
}
.social_btns div {
  display:inline-block;
  color: white;
  opacity: 0.85;
}
.social_btns div:hover {
  opacity: 1;
}
.fa-3x {
    font-size: 2em !important;
}
.space_taker {
  width: 5vw;
  max-width: 100px;
}

.campaign-info{
  padding-left: 5%;
}

#kickstarter{
  width: 40%;
  position: absolute;
  z-index: 3;
  top: 10vh;
}
.campaign-intro {
  font-family: "Open Sans";
  font-size: 25px;
  line-height: 56px;
  position: relative;
  z-index: 3;
  font-weight: 100;
  top: 13vh;
}

.arrow-down {
  position: relative;
  text-align: center;
  z-index: 3;
  top: 53vh;
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}


/* New Tile Design */
#feature-container {
  height: 98vh;
  min-height: 600px;
}

#feature-container #tile-container {
  padding: 0;
  background: url('../img/kickstarter/portfolio/women2.jpg') no-repeat;
  background-size: cover;
}
.feature-space div {
  text-align: center;
  position: relative;
  top: 15vh;
}
.feature-space img {
  width: 55%;
}
span#kolibri-name {
  font-size: 70px;
  display: block;
  text-align: center;
  position: relative;
  top: 16vh;
  color: white;
}
span.slogan {
  top: 8vh;
  position: relative;
  color: white;
  font-size: 31px;
  margin: 0 5px;
}
.feature-space {
  background: #8670A1;
  height: 98vh;
}
.feature-tile {
  height: 49vh;
  border: 3px solid #8670A1;
  padding-top: 7%;
  background: transparent;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.learn-more-modal {
  text-align: center;
  position: relative;
  top: 16%;
}
.learn-more-modal {
  font-weight: bold;
  font-size: 20px;
}
.learn-more-modal:hover {
  font-size: 21px;
}
.feature-tile:hover {
  background: rgba(134, 112, 161, 0.6);
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.feature-tile:hover h4,
.feature-tile:hover .learn-more-modal {
  color: white;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  text-decoration: none;
}
.feature-tile h4,
.learn-more-modal {
  color: #373837;
}
.feature-tile h4 {
  text-align: center;
  font-size: 28px;
}
.tile-image {
  height: 40%;
}
.first-tile {
  border-left: none;
}
.last-tile {
  border-right: none;
}
.top-row .feature-tile {
  border-top: none;
}
.bottom-row .feature-tile {
  border-bottom: none;
}
#out-of-box {
  background: url('../img/kickstarter/portfolio/out-of-box.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #out-of-box {
  background: url('../img/kickstarter/portfolio/out-of-box-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
#progress-report {
  background: url('../img/kickstarter/portfolio/progress-report.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #progress-report {
  background: url('../img/kickstarter/portfolio/progress-report-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
#vector {
  background: url('../img/kickstarter/portfolio/vector.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #vector {
  background: url('../img/kickstarter/portfolio/vector-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
#sync {
  background: url('../img/kickstarter/portfolio/sync.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}
.feature-tile:hover #sync {
  background: url('../img/kickstarter/portfolio/sync-hover.png') no-repeat center center;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
}

/* End New Tile Design */

/* Introduction to Kolibri Version 1 */
.below-fold {
  background: #8670A1;
  height: 60vh;
}
.problem-statement .col-md-6 {
  text-align: center;
  padding-top: 3%;
}
.problem-statement img {
  min-height: 116px;
  max-height: 150px;
  height: 14vh;
}
.solution-statement {
  padding: 3% 0;
}
.solution-statement img {
  max-width: 300px;
}
.solution-statement .col-md-6 {
  max-width: 820px;
  color: white;
  padding: 2% 0 0 3%;
}
.what-is-it {
  font-size: 47px;
}
.who-its-for {
  font-size: 25px;
}
.emphasis {
  font-size: 30px;
  font-weight: bold;
}


/* Introduction to Kolibri Version 2 */
.below-fold2 {
  height: 80vh;
  padding: 100px 0;
}
.below-fold2 .col-md-12 img {
  max-width: 300px;
}
.below-fold2 .col-md-12 {
  text-align: center;
}
.below-fold2 .col-md-12 p {
  font-size: 75px;
  color: #8670A1;
}
.below-fold2 .col-md-4 {
  text-align: center;
}
.below-fold2 .col-md-4 span {
  font-size: 25px;
}