@font-face {
  font-family: "Montserrat-Light";
  src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.ttf');
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.fle_title {
  font-size: 40px;
  padding: 90px 0;
/*  background-color: #F5F5F5;*/
  background-color: white;
  position: relative;
  z-index: 2;
}
.fle_title img {
  max-width: 200px;
  position: relative;
  top: -10px;
}
.wow img {
  margin: 0 30px;
}
.fle_title h2 {
  text-transform: none;
  font-weight: normal;
  font-size: 39px;
}
.fle_title h3 {
  text-transform: none;
  font-weight: normal;
  position: relative;
  top: -17px;
}
#fle_timeline .fle_title h1 {
  font-size: 47px;
  text-transform: none;
  margin: 50px 0;
}
.fle_title_img {
  color: white;
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E7E2EC;
  position: relative;
  z-index: 3;
  background: url('../img/kickstarter/cover.png') no-repeat;
  background-size: cover;
}
.fle_title_bold {
  position: relative;
  left: 10%;
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bolder;
  font-family: "Montserrat";
}
.fle_title h1 {
  font-size: 55px;
  font-family: "Montserrat";
  font-weight: bold;
}
#next-gen {
  font-size: 33px;
  max-width: 1000px;
}
#kolibri-story {
  max-width: 200px;
  margin: 30px 0;
}
.fle_title p {
  font-family: "Montserrat";
  font-size: 30px;
  max-width: 1000px;
}
#fle_intro {
  position: relative;
  z-index: 2;
}
#fle_timeline {
  position: relative;
  z-index: 2;
}


#footer {
  position: relative;
  bottom: 0;
}
.text-muted {
  color: #141414;
}
p.slim-text {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  font-size: 26px;
}
.slim-text a:hover {
  color: #125A6D;
}
p {
  font-size: 14px;
  line-height: 1.5;
}
p.large {
  font-size: 16px;
}
p.big {
  font-size: 20px;
  text-align: left;
  /*float: left;*/
  /*background-color: pink;*/
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #0099CC;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}

/* Preconfirgured Tablet */

.tablet-text{
  margin: 0% 8%;
}

.tablet_specs {
  color: white;
  font-family: "Montserrat";
  font-size: 30px;
  position: relative;
  text-align: left;
  margin: 0 auto;
  background: url('../img/kickstarter/portfolio/preconfig_tablet.jpg') no-repeat;
  background-position: center center;
  min-height: 522px;
  min-width: 100px;
  max-width: 600px;
  padding: 100px;
}
.specs {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 100px;
}

.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary .badge {
  background-color: white;
}
.btn-xl {
  color: #1a1a1a;
  background: #14E06E;
  border-color: #14E06E;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0px;
  font-size: 18px;
  padding: 20px 40px;
  -webkit-transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
  transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
}
.btn-xl:hover {
  background: #14E06E !important;
  border-color: #14E06E !important;
  color: white !important;
  -webkit-transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
  transition: background 0.1s, color 0.1s, -moz-box-shadow 0.1s, -webkit-box-shadow 0.1s, box-shadow 0.1s, border-color 0.1s;
}
.btn-xl:active {
  -moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000;
}
#sign-up {
  width: 100%;
}
.e1 {
  max-width: 750px;
  width: 100%;
  margin: auto;
  position: relative;
  left: 15px;
}
.email_input_k {
  outline: none;
  clear: none !important;
  float: left;
  width: 300px;
  background-color: white;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  padding: 10px 10px;
  text-align: center;
  box-shadow: none;
  border: 3px solid #fff !important;
}
.email_submit_k {
  clear: none !important;
  float: left;
  width: 300px;
  padding: 10px;
  border: 3px solid #14E06E !important;
  color: white;
}


/* NAV BAR */

#fle-navbar {
  padding: 0;
  position: absolute;
  width: 100%;
}

/* HEADER */
header {
  text-align: left;
  color: white;
}
.intro-text {
  position: relative;
  top: 23%;
}
.intro-heading {
  font-family: "Montserrat";
  max-width: 1000px;
  font-size: 100px;
  line-height: 56px;
  position: relative;
  z-index: -1;
  text-align: right;
}
.intro-heading2 {
  color: white;
  z-index: -1;
  position: relative;
  font-size: 40px;
  font-family: "Open Sans";
  padding-right: 60px;
  top: -26px;
  text-align: left;
  left: -20px;
}
#header-mailchimp {
  position: relative;
  z-index: 999;
}

@media (max-width: 900px) {
  .intro-heading {
    font-size: 50px;
    max-width: 750px;
  }
  .intro-heading2 {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .intro-text {
    top: 18vh;
  }
  .intro-heading {
    font-size: 38px;
  }
  .intro-heading2 {
    font-size: 24px;
  }
}


/* LAST CALL TO ACTION */
section#contact {
  background: url('../img/kickstarter/cambodia.jpg');
  background-position: left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: -60px;
  padding: 0;
  height: 100vh;
  min-height: 800px;
  position: relative;
}
section#contact .section-heading {
  color: white;
  margin-bottom: 10px;
}
section#contact .form-control:focus {
  box-shadow: none;
}

section#contact .text-danger {
  color: #e74c3c;
}
#contact .text-center,
#contact .text-muted {
  position: relative;
  top: 40px;
  z-index: 1;
}
#contact .text-muted {
  margin-top: 20px;
  font-family: "Montserrat";
  color: white;
}
section#contact .bridge-photo,
section#contact .section-heading,
#footer-mailchimp {
  z-index: 1;
  /*color: #8670A1;*/
}


footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 0px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-modal .modal-dialog {
  width: 70%;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 45px;
  font-size: 2.5em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: left;
  max-width: 600px;
  margin: auto;
  line-height: 1.6em;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 30px auto;
  font-family: "Open Sans";
  font-size: 26px;
  text-align: left;
  line-height: 1.45em;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: relative;
  height: 75px;
  top: -75px;
  float: right;
  left: -65px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
#try-it {
  margin: 50px 0 20px 0;
}
.modal-body img {
  max-width: 600px;
  margin: 30px auto;
}
::-moz-selection {
  text-shadow: none;
  background: #0099CC;
}
::selection {
  text-shadow: none;
  background: #0099CC;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
mark{
  background-color: transparent;
  font-weight: 900;
  color: #47B56C;
}
.play-btn{
  background-color: #33CC33;
  color: white;
  font-weight: 700;
  min-width: 100px;
}
.play-btn:hover {
  background-color: #2EB82E;
  color: white;
}
.play-btn:focus,
.play-btn:active {
  color: white;
}

.greenish {
  background-color: rgba(138, 230, 92, .2);
}
.pinkish {
  background-color: rgba(255, 192, 203, .2);
}
.blueish {
  background-color: rgba(102, 204, 255, .2);
}
.feature_text {
  margin: 0;
  text-align: justify;
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.4;
}
.colored-container {
  margin-bottom: 30px;
  height: 100%;
  /*background-color: #ECECEC;*/
}

/* Features Section: Tile Design */
#fle_features{
  background-color: #fff;
}

/* MAILCHIMP MODAL */
#iframe-wrapper {
  padding-right: 50%;
  width: 100%;
  padding-left: 6%;
}
.mailing_label {
  text-transform: none;
  font-family: "Open Sans";
  text-align: center;
  position: relative;
  font-size: 26px;
  font-weight: bold;
  z-index: 3;
  line-height: 1.5em;
}
.email_input_k::selection {
  background: #0099CC;
}
#footer-mailchimp {
  bottom: -7vh;
  width: 320px;
  height: 120px;
}
#footer-mailchimp body {
  background: transparent;
}
.foot_containor {
  text-align: center;
  border-radius: 5px;
  position: relative;
}
#footer-logo {
  text-align: center;
}
#footer-kolibri {
  width: 300px;
  position: relative;
  top: 60px;
}
.foot_containor #footer-kickstarter {
  width: 400px;
  display: block;
}
.lowcase {
  text-transform: none !important;
  font-family: "Open Sans";
  color: white;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  line-height: 1.3em;
  margin-top: 100px;
}
#dreams {
  text-align: center;
  font-family: "Montserrat";
  text-transform: none;
  font-weight: normal;
  font-size: 60px;
  color: white;
  padding: 70px 0 0 0;
  margin: 0 !important;
}

/* Media Query Min-Width 700px */

@media (min-width: 700px) {
  .email_input_k {
    outline: none;
    clear: none !important;
    float: left;
    width: 400px;
    background-color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
    padding: 21px 40px;
    box-shadow: none;
    border: 3px solid #fff !important;
    text-align: left;
  }
  .email_submit_k {
    clear: none !important;
    float: left;
    width: 300px;
    border: 3px solid #14E06E  !important;
    padding: 21px;
  }
}


/* Media Query Max-Width 500px */

@media (max-width: 500px) {
  #slider {
    background-position: right;
  }
  .slider-overlay{
    margin-top:-100px;
    background-color: rgba(0,0,0,.3);
  }
  #iframe-wrapper {
    padding: 0px 0px ;
  }
  .mailing_toplabel{
    padding-top: 100px;
    font-size: 1.9em ;
  }
  .mailing_sidelabel{
    font-size: 25px ;
    text-align: center;
    padding: 10% 8%;
    line-height: 1.5em;
  }


  .email_input_k {
    text-align: center;
    display: block;
    clear: both;
    float: none;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
  }
  .email_submit_k {
    display: block;
    clear: both;
    float: none;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
  }

}

/* BACK TO TOP BUTTON */
.back-to-top {
  position: fixed;
  bottom: 0.5em;
  right: 10px;
  text-decoration: none;
  color: #8670A1;
  background-color: #000000;
  font-size: 20px;
  display: none;
  border: 4px solid black;
  padding: 13px 0 0 16px;
  display: none;
  z-index: 999;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  -webkit-transition: border 0.2s, background 0.2s, color 0.2s;
  transition: border 0.2s, background 0.2s, color 0.2s;
}

.back-to-top:hover {    
  background-color: #8670A1;
  color: black;
  border: 4px solid black;
  -webkit-transition: border 0.2s, background 0.2s, color 0.2s;
  transition: border 0.2s, background 0.2s, color 0.2s;
}

#kickstarter-header{
  
  background: url('../img/kickstarter/header-cover.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  position: relative;
  z-index: 3;
  margin-top: 50px;
}
#kickstarter-header .header-shadow {
  height: 100%;
}

.intro-social {
  position: relative;
  top: 9vh;
  text-align: right; 
  right: 30px;
}
.intro-social .social_btns div {
  color: rgba(255, 255, 255, 0.8);
}
.intro-social .social_btns div:hover {
  color: rgba(255, 255, 255, 1);
}
.social_btns {
  z-index: 3;
  position: relative;
}
.social_btns div {
  display:inline-block;
  color: white;
  opacity: 0.85;
}
.social_btns div:hover {
  opacity: 1;
}
#footer-social-btns {
  margin: 0px 0 20px 0;
}
#mce-responses {
  width: 320px;
  margin: auto;
  font-size: 15px;
  font-family: "Montserrat-Light";
  position: relative;
  top: 5px;
}
#mce-responses a {
  color: white;
  text-decoration: underline;
}
#mce-responses a:hover {
  color: #86a9cf;
}
.fa-3x {
    font-size: 2em !important;
}
.space_taker {
  width: 5vw;
  max-width: 100px;
}

.sharing-message {
  background: white;
  border: 5px solid #C580E5;
  border-radius: 10px;
  font-size: 25px;
  height: auto;
  margin: auto;
  color: #434343;
  padding: 15px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-family: "Montserrat-Light";
}
.campaign-info{
  padding-left: 5%;
}
#campaign-intro {
  margin: auto;
  position: relative;
  text-align: center;
  font-size: 26px;
  top: 5px;
  font-family: "Montserrat-Light";
}

#kickstarter{
  width: 40%;
  position: absolute;
  z-index: 3;
  top: 10vh;
}
.campaign-intro {
  font-family: "Montserrat-Light";
  font-size: 19px;
  line-height: 56px;
  position: relative;
  z-index: 3;
  font-weight: 100;
  top: 9vh;
}

.arrow-down {
  position: relative;
  text-align: center;
  z-index: 3;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  width: 80px;
  height: 40px;
  display: block;
  margin: 100px auto 0 auto;
}

/* Introduction to Kolibri Version 2 */


.below-fold2 {
  height: 80vh;
  background: url('../img/kickstarter/fold2.png');
  text-align: center;
  background-size: cover;
}

#kolibri_logo{
  padding-top:8%;
  width: 30%;
}

/* Kolibri Statment */
.kolibri-statement{
  padding:0% 5%;
}

.below-fold2 h1{
  font-weight: 400;
  text-transform: initial;

}

.below-fold2 h2{
  font-weight: 300;
  font-size: 26px;
  line-height: 140%;
  text-transform: initial;
  font-family: "Montserrat";
  max-width: 600px;
  margin: auto;
}

.below-fold2 h3{
  font-weight: 100;
  text-transform: initial;
  font-family:  "Montserrat-Light";
}

/* Use Cases */

.use-cases{
  margin-top:7% !important;
}

.use-cases p{
  font-family: "Montserrat-Light";
  font-weight: 100 ;
  font-size:15px;
  color: #8D69A4;


}
.use-image{
  width:50%;
  text-align: center;
  vertical-align: center;
}

/* Problem Statment */
.problem-statement{
  padding: 5% 0%;
}

.top-box{
  padding: 10% 0%;
  animation-delay: 0.5s;

}

.bottom-box{
  padding: 10% 0%;
  animation-delay: 0.5s;
}

.top-box img,
.bottom-box img {
  max-width: 400px;
}

.shift-down{
  position: relative;
  top: 11px;
}

.shift-down2{
  position: relative;
  top: 5px;
  left: 24px;
}

#mce-success-response,
#mce-error-response {
  color: white;
}


/* Media queries for Safari browser, which cannot use vh or vw */
@media all and (min-width: 680px) {

}