/* Styling for Kolibri page goes here. */

/* GLOBAL VARIABLES */
h1, h2, h3 {
	color:#6F3496;
	margin-top: 5%;
	margin-bottom:2%;
}

h1 {
	font-size: 40px;
}

hr {
	margin: 5%;
	border-color: #86bcc4;
}
p {
	font-size: 18px;
	letter-spacing: 0.03em;
	margin-bottom:2%;
}

a{
	color: #6F3496;

}

.kolibri-section {
	margin: 10% auto;
}


/* ABOVE THE FOLD */
#kolibri-header {
	background: url("../../static/img/header_placeholder.png") no-repeat center center black; 
	min-height: 100vh;
	max-width: 100%;
}
#kolibri-header span {
	color: white;
}
#kolibri-logo {
	text-align: center;
	opacity: 0.65;
}
#kolibri-logo img {
	max-width: 90%;
			width: 450px;
	opacity: 0.7;
}
#page-title {
	position: relative;
	top: -150px;
	text-align: center;
	max-width: 300px;
	margin: auto;
}	
#kolibri-title {
	font-size: 93px;
	line-height: 1.1em;
}
.kolibri-title-subtext {
	font-size: 23px;
	margin: 0 10px 0 16px;
}
#kolibri-pitch {
	position: relative;
	top: -125px;
}
#kolibri-pitch span {
	text-align: center;
	display: block;
	font-size: 25px;
	line-height: 1.6em;
}
.kolibri-landing-detail {
	position: relative;
	top: -75px;
	margin: auto;
}
.kolibri-landing-detail div img {
	float: left;
}
.kolibri-landing-detail div p {
	font-size: 20px;
    position: relative;
    max-width: 260px;
    left: 20px;
    top: 10px;
    float: right;
    color: white;
}
#lightbulb {
	position: relative;
	top: -10px;
}
#coming-soon {
	position: relative;
    top: -60px;
    margin: auto;
    text-align: center;
    color: white;
	font-size: 25px;
}
/*#kolibri-header:after {
	content: "wow";
	color: white;
	position: relative;
	bottom: 0;
}
#learnmore {
	color: white;
    border: 2px solid white;
    border-radius: 100%;
    width: 150px;
    margin: auto;
    height: 150px;
    position: relative;

    top: 75px;
    z-index: 0;
}
#learnmore span {
	color: white;
}*/
#kolibri-learn-button {
	text-decoration: none;
}
.kolibri-learnmore-button {
    background: transparent;
    color: white;
    font-size: 18px;
    padding: 11px 68px;
    border: 2px solid white;
    border-radius: 11px;
    letter-spacing: 0.05em;
    display: block;
    width: 250px;
    margin: 0 auto 50px auto;
    position: relative;
    top: -50px;
    left: 0;
    -webkit-transition: border 0.3s, padding 0.3s, margin 0.3s, left 0.3s;
    transition: border 0.3s, padding 0.3s, margin 0.3s, left 0.3s;
}
.kolibri-learnmore-button:hover {
	border: 2px solid white;
	padding: 12px 72px;
	margin: 0 auto 50px auto;
	margin-top: -0.07%;
	left: -2px;
	background: transparent;
	color: white;
	text-decoration: none;
	-webkit-transition: border 0.3s, padding 0.3s, margin 0.3s, left 0.3s;
	transition: border 0.3s, padding 0.3s, margin 0.3s, left 0.3s;
}
.kolibri-header-content {
	display: block;
	margin: 0 auto;
}


/* ABOUT */	
#kolibri-about {

	background:url("../../static/img/ecosystem-v3.png") no-repeat center center;
	min-height: 80vh;
	max-width: 100%;
}

#bg-img {
	/*background-color:#957FB3;
	opacity:.85;*/
	background-color: rgba(85, 118, 124, 0.84);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:17%;
	padding-bottom:12%;
	min-height: 80vh;
}


#kolibri-about h1 {
	color:#ffffff;
}

#kolibri-about p {
	margin-top:2%;
	color:#ffffff;
	font-size:22px;
	margin-left:30%;
	margin-right:30%;
}

.about-img{
	margin-top:5%;
}

/* "ECOSYSTEM" FEATURES */

#vectorization-placeholder {
	margin-top:5%;
	max-width: 90%;
}

#sneakernet {
	color:#6F3496;
	font-style:bold;
	font-size: 22px;
}
.break-barriers h1 {
	margin-bottom: 5%;
}

#offline {
	text-align: center;
}

#offline-placeholder {
	max-width: 90%;
	height: auto;
	margin-top:4%;
}

#vectorization-placeholder {
	margin-top:5%;
	max-width: 90%;
}

#cross-platform-img {
	width:60%;
	height:60%;
}

#platform-img {
	text-align:center;
}

.col-md-8{
	text-align: left;
}


/* KOLIBRI PLATFORM FEATURES */

#curate-img {
	max-width: 90%;
}

#parallax {
	font-size:22px;
}

#features-img {
	margin-top:5%;
	margin-bottom:5%;
}

#feature-banner {
	margin-top:-17%;
}

/*======================================================================*/
/*======================= RESPONSIVE QUERIES ===========================*/
/*======================================================================*/

/* Above the fold media queries */
@media only screen and (max-width: 1430px) {
	.kolibri-landing-detail div {
		text-align: center;
	}
	.kolibri-landing-detail div img {
		float: none;
		height: 100px;
		width: auto;
		display: block;
		margin: auto;
	}
	.kolibri-landing-detail div p {
		text-align: center;
		float: none;
		display: block;
		margin: 10px auto 0 auto;
		position: static;
	}
	#page-title {
		top: -200px;
	}
	#kolibri-pitch {
		top: -175px;
	}
	.kolibri-landing-detail {
		top: -150px;
	}
}
@media (max-width: 991px) {
	#empower {
		margin-top: 50px;
	}
	.kolibri-landing-detail div img {
		height: 70px;
		width: auto;
	}
}
@media (max-width: 500px) {
	#kolibri-pitch span {
		font-size: 18px;
	}
	.kolibri-landing-detail div p {
		font-size: 18px;
	}
}

/*======ecosystem (about) section=========*/
/*fixing height of teal bg*/
@media (max-width: 2255px) {
	#bg-img {
		padding-bottom:20%; 

	}
	#bg-img h1 {
		margin-top:10%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}

}

@media (max-width: 1962px) {
	#bg-img {
		padding-bottom:23%; /*fixing height of teal bg*/

	}
	#bg-img h1 {
		margin-top:7%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}
}

@media (max-width: 1728px) {
	#bg-img {
		padding-bottom:20%; /*fixing height of teal bg*/

	}
	#bg-img h1 {
		margin-top:10%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}
}

@media (max-width: 1700px) {
	#bg-img {
		padding-bottom:23%; /*fixing height of teal bg*/

	}
	#bg-img h1 {
		margin-top:12%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}
}

@media (max-width: 1477px) {
	#bg-img {
		padding-bottom:25%; /*fixing height of teal bg*/

	}
	#bg-img h1 {
		margin-top:15%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}
}



/*Fixing width of text*/


@media (max-width: 620px) {
	#bg-img p {
		margin:5%;/*adding space btwn header and text*/
	}
