/* Styling for Kolibri page goes here.

For the sake of organization and to avoid the pain of merge conflicts, 
be sure to divide your work into sections on this page. */

/* GLOBAL VARIABLES */
h3, h2{
	font-size:30px;
	color:#6F3496;
	margin-top: 5%;
}
h1{
	font-size:40px;
	color:#6F3496;
	margin-top: 5%;
}

hr{
	margin:5%;
}


/* ABOVE THE FOLD */
#kolibri-header{
	background: url("../../static/img/header_placeholder.png") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 95vh;
	max-width: 100%;
}
#kolibri-header span {
	color: white;
}
#kolibri-logo {
	text-align: center;
	opacity: 0.65;
}
#page-title {
	position: relative;
	top: -150px;
	text-align: center;
	max-width: 300px;
	margin: auto;
}
#kolibri-title {
	font-size: 93px;
	line-height: 1.1em;
}
.kolibri-title-subtext {
	font-size: 23px;
	margin: 0 10px 0 16px;
}
#kolibri-pitch {
	position: relative;
	top: -125px;
}
#kolibri-pitch span {
	text-align: center;
	display: block;
	font-size: 25px;
	line-height: 1.6em;
}
.kolibri-landing-detail {
	position: relative;
	top: -75px;
	margin: auto;
}
.kolibri-landing-detail div img {
	float: left;
}
.kolibri-landing-detail div span {
	font-size: 20px;
    position: relative;
    max-width: 250px;
    left: 20px;
    top: 10px;
    float: right;
}
#lightbulb {
	position: relative;
	top: -10px;
}
.kolibri-learnmore-button {
    background: transparent;
    color: white;
    font-size: 18px;
    padding: 11px 68px;
    border: 2px solid white;
    border-radius: 11px;
    letter-spacing: 0.05em;
    position: relative;
    top: -60px;
    left: 39.5%;
    -webkit-transition: border-radius 0.5s, left 0.5s, padding 0.5s, top 0.5s;
    transition: border-radius 0.5s, left 0.5s, padding 0.5s, top 0.5s;
}
.kolibri-learnmore-button:hover {
	border: 2px solid white;
	border-radius: 0px;
	color: white;
	background: transparent;
	padding: 13px 70px;
	left: 39.33%;
	top: -62px;
	-webkit-transition: border-radius 0.5s, left 0.5s, padding 0.5s, top 0.5s;
	transition: border-radius 0.5s, left 0.5s, padding 0.5s, top 0.5s;
}


/* ABOUT */	
#kolibri-about {

	background:url("../../static/img/ecosystem-v3.png") no-repeat center center;
	min-height: 80vh;
	max-width: 100%;
	margin-top:5%;
}

#bg-img {
	/*background-color:#957FB3;
	opacity:.85;*/
	background-color: rgba(85, 118, 124, 0.84);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:12%;
	padding-bottom:17%;
}


#kolibri-about h1 {
	margin-top:5%;
	color:#ffffff;
	margin-bottom:2%;

}

#kolibri-about p {
	color:#ffffff;
	font-size:22px;
	margin-left:30%;
	margin-right:30%;
}

.about-img{
	margin-top:5%;
}

#bg-img{
	background-color:#957FB3;
	opacity:.85;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:12%;
	padding-bottom:17%;
}


#kolibri-about h1 {
	margin-top:5%;
	color:#ffffff;
	margin-bottom:2%;

}

#kolibri-about p {
	color:#ffffff;
	font-size:22px;
	margin-left:30%;
	margin-right:30%;
}


/* "ECOSYSTEM" FEATURES */


#vectorization-placeholder {
	margin-top:5%;
}

#sneakernet {
	color:#6F3496;
	font-style:bold;
}


#offline {
	text-align:center;
}



/* KOLIBRI PLATFORM FEATURES */


#features-img {
	margin-top:5%;
	margin-bottom:5%;
}



/*======================================================================*/
/*======================= RESPONSIVE QUERIES ===========================*/
/*======================================================================*/

/*======ecosystem (about) section=========*/
/*fixing height of teal bg*/
@media (max-width: 2255px) {
	#bg-img {
		padding-bottom:20%; 

	}
	#bg-img h1 {
		margin-top:10%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}
}

@media (max-width: 1962px) {
	#bg-img {
		padding-bottom:23%; /*fixing height of teal bg*/

	}
	#bg-img h1 {
		margin-top:7%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}
}

@media (max-width: 1728px) {
	#bg-img {
		padding-bottom:20%; /*fixing height of teal bg*/

	}
	#bg-img h1 {
		margin-top:10%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}
}

@media (max-width: 1700px) {
	#bg-img {
		padding-bottom:23%; /*fixing height of teal bg*/

	}
	#bg-img h1 {
		margin-top:12%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}
}

@media (max-width: 1477px) {
	#bg-img {
		padding-bottom:25%; /*fixing height of teal bg*/

	}
	#bg-img h1 {
		margin-top:15%;     /*adjusting placement of header*/ 
		margin-bottom:10px;/*adding space btwn header and text*/
	}
}



/*Fixing width of text*/


@media (max-width: 620px) {
	#bg-img p {
		margin:5%/*adding space btwn header and text*/
	}
}
