/* 
 _____   _           _         _                        _                  
|_   _| | |         | |       | |                      | |                 
  | |   | |__   __ _| |_ ___  | |_ ___  _ __ ___   __ _| |_ ___   ___  ___ 
  | |   | '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_  | | | | (_| | ||  __/ | || (_) | | | | | | (_| | || (_) |  __/\__ \
 \___/  |_| |_|\__,_|\__\___|  \__\___/|_| |_| |_|\__,_|\__\___/ \___||___/

Oh nice, welcome to the stylesheet of dreams. 
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes

*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
section {
  min-width: 0;
}
#parallax_1 {
    margin-top: 50px;
    margin-bottom: 10px;
}
#parallax_2 {
  margin-bottom: 10px;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
    height: 100%;
    min-height: 100%;
}
body {
    
}
.no-js {
    padding-top: 106px;
}
h2 {
    margin-top: 0;
}
.loading {
    background: url('../img/ico_loading.gif') no-repeat center center;
}
.loaded section,
.no-js section {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}
main {
    overflow-x: hidden;
}

/*Mobile devices */

.bcg {
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* this aligns the content 150px up from the middle */

.story-infographic {
    margin-bottom: 40px;
}
.content-intro{
    text-transform: uppercase;
    font-size: 20px;
    padding: 0px 40px;
    display: block;
    font-family: "Montserrat";
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
    .hsContent {
        max-width: 80%;
        margin: -150px auto 0 auto;
        display: table-cell;
        vertical-align: middle;
        padding: 0 8%;
        text-align: center;
        position: relative;
        text-transform: lowercase;
    }
     .hsContent .short-h1 {
        color: #fff;
        font-size: 40px;
        line-height: 30px;
        margin-bottom: 12px;
        font-weight: 200;
    }
       .hsContent h1{
        color: #fff;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: -40px;
        font-weight: 200;
    }
    .hsContent h2  {
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
        font-weight: 200;
    }
    .hsContent p {
        color: #b2b2b2;
}

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/kickstarter/about/1.1.jpg')}


/* Slide 2 */
#slide-2 .bcg {background-image:url('../img/kickstarter/about/bgdark2.jpg'); background-color: #010101; min-height: 310px; text-align: center}

/* Slide 3 */
#slide-3{
    height:400px;
}
#slide-3 .bcg {background-image:url('../img/kickstarter/about/deployment_map.jpg')}

#slide-3 img{
    width:200%;
}


/* Slide A */
#slide-A{
    height:200px;
}
#slide-A .bcg {background-image:url('../img/kickstarter/about/bg3.jpg'); background-color: #010101; min-height: 310px; text-align: center}

/* Slide w */
#slide-w{
    height:200px;
}
#slide-w .bcg {background-image:url('../img/kickstarter/about/bg_3.jpg'); background-color: #010101; min-height: 310px; text-align: center}

/* Slide 4 */
.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 300%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}

#slide-4{
    height:400px;
}
#slide-4 .bcg {background-image:url('../img/kickstarter/about/collage.jpg')}

/* Slide 5 */
#slide-5 {position: relative;}
#slide-5 .bcg {background-image:url('../img/kickstarter/about/10.jpg')}
#slide-5 .bcg2 {background-image:url('../img/kickstarter/about/10.jpg'); position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 1}
#slide-5 .bcg3 {background: none; background-color: #010101; z-index: 2;  position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 2}

.bold{
    font-weight: 700;
    background: black;
    padding: 3px 5px;
    line-height: 1;
    border-radius: 3px;
    display:inline-block;
    color:#fff;
}

#parallax_logo {
    width: 35%;
    vertical-align: middle;
    position: relative;
    top: -25vh;
}
#kolibri-logo-label {
    color: white;
    position: relative;
    vertical-align: middle;
    top: -30vh;
    font-family: "Open Sans";
    letter-spacing: 0.02em;
    font-weight: 100;
    font-size: 90px;
}
#kolibri-one-liner {
    font-size: 23px;
    text-transform: none;
    font-weight: 400;
    max-width: 53%;
    margin: auto;
    position: relative;
    line-height: 1.5em;
    top: -30vh;
    font-family: "Open Sans";
}


#highlight {
    background: rgba(255, 255, 255, 0.67);
    padding: 30px 90px;
    margin: -3px -5px;
    line-height: 1;
    border-radius: 3px;
    display:inline-block;
    color:#3E3E3F;
    font-weight: 400;
    font-size:30px !important;

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.bold{
    font-weight:700 !important;
    background: none;
    color:#3E3E3F;
}
.hsContainer .plaxEl{
    padding-top:15%;
}
.bcg{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.content-break {
    display: block;
    font-family: "Montserrat", sans-serif;
}
.content-intro{
    text-transform: uppercase;
    font-size: 55px;
    line-height: 100px;
    padding: 0px 40px;
    font-family: "Montserrat";
    display: block;
}
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 310px;
    overflow: hidden;
    position: relative;
}

.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center;
}
    
    .copy h1 {
        color: #ffffff;
        font-size: 55px;
        line-height: 48px;
        margin-bottom: 50px;
    }
    .hsContent h1, .short-h1{
        color: #ffffff;
        line-height: 45px;
        padding: 0px 200px;
        font-size: 50px !important;
        font-weight: 500 !important;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
    }
    .hsContent h2,
    .copy h2 {
        color: #ffffff;
        line-height: 48px;
        margin-bottom: 12px;
        padding: 0px 200px;
        font-size: 26px;
        font-weight: 100;
        font-family: "Open Sans", sans-serif;
        text-transform: initial;
        line-height: 1.5em;
    }
    .hsContent p {
        width: 80%;
        margin: 0 auto;
        font-size: 30px;
        line-height: 1.5em;
    }
    .hsContent a {
        color: #b2b2b2;
        text-decoration: underline;
    }
    .bgBlack {
        background-color: rgba(0,0,0,0.75);
        padding: 3px 10px;
    }

    #parallax_1 {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    #parallax_2 {
      margin-bottom: 10px;
    }
    .story-infographic{
        margin-top:80px;
        margin-bottom: 80px;
    }
    #slide-2{
        height:410px;
    }
    #slide-3, #slide-4 {
        min-width: 768px;
        height: 500px;
    }
    #slide-w, #slide-A{
        height:310px;
    }

    #slide-w .hsContent h1{
        line-height: 50px;
    } 

    #slide-4 .bcg {background-image:url('../img/kickstarter/about/final2.jpg')}
    
    #parallax_logo {
        width: 35%;
        vertical-align: middle;
        opacity: 0.8;
        position: relative;
        top: -25vh;
    }

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print {
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
