<li>
  <a href="{% url 'mission' %}">
    About Learning Equality
  </a>
</li>
<li>
  <a href="{% url 'values' %}">
    Core Values
  </a>
</li>
<li>
  <a href="{% url 'team' %}">
    Team
  </a>
</li>
<li>
  <a href="{% url 'board' %}">
    Board of Directors
  </a>
</li>
<li>
  <a href="{% url 'supporters' %}">
    Friends and Supporters
  </a>
</li>
<li>
  <a href="{% url 'press' %}">
    Press
  </a>
</li>
<li>
  <a href="{% url 'jobs' %}">
    Jobs
  </a>
</li>
<li>
  <a href="{% url 'internships' %}">
    Internships
  </a>
</li>