{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}KA Lite{% endblock title %}

{% block ka_lite %}selected{% endblock ka_lite %}

{% block extrahead %}


{% endblock extrahead %}

{% block bodycontents %}
<div id="about-container">
  <div class="row">
      {# Using side-nav for tablets and above #}
      <div class="col-md-3 col-sm-3 hidden-xs side-nav">
          <div data-spy="affix" data-offset-top="90">
              <ul class="nav nav-pills nav-stacked">
                {% include "partials/ka-lite/_ka-lite-navigation.html" %}
              </ul>
          </div>
      </div>

      {# Using top level tabs for mobile #}
      <div class="col-xs-12 visible-xs">
        <ul class="nav nav-tabs nav-justified">
          {% include "partials/ka-lite/_ka-lite-navigation.html" %}
        </ul>
      </div>

      <div id="about-body" class="col-md-9 col-sm-9 col-xs-12">
          {% block ka_lite_content %}

          {% endblock ka_lite_content %}
      </div>
  </div>
</div>
{% endblock bodycontents %}