{% extends 'ka-lite/base.html' %}

{% load staticfiles %}

{% block title %}Extended Features{% endblock title %}

{% block ka_lite_features_active %}active{% endblock ka_lite_features_active %}

{% block ka_lite_content %}

<div class="row">
  <div class="col-xs-12">
    <h1>
      <img src='{% static "img/ka-lite/ka-lite-logo-horizontal.png" %}' class="img-rounded img-responsive ka-lite-inline-img" alt="KA Lite">&nbsp;Extended Features
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 well">
    <!-- Bootstrap Nav tabs -->
    <ul class="nav nav-tabs" id="extended-features-tabs">
      <li class="active"><a href="#online-tools" data-toggle="tab">Online Tools</a></li>
      <li><a href="#custom-branding" data-toggle="tab">Custom Branding</a></li>
      <li><a href="#custom-content" data-toggle="tab">Custom Content</a></li>
      <li><a href="#rct-testing" data-toggle="tab">RCT &amp; A/B Testing</a></li>
      <li><a href="#cross-computer-sync" data-toggle="tab">Syncing Data Across Installations</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="online-tools">
        {% include "partials/ka-lite/extended-features/_online-tools.html" %}
      </div>

      <div class="tab-pane" id="custom-branding">
        <h2>Custom Branding</h2>
      </div>

      <div class="tab-pane" id="custom-content">
        <h2>Custom Content</h2>
      </div>

      <div class="tab-pane" id="rct-testing">
        <h2>RCT Testing &amp; A/B Testing</h2>
      </div>

      <div class="tab-pane" id="cross-computer-sync">
        <h2>Cross Installation Syncing</h2>
        <p>
          In some larger deployments, an organization might want to install multiple KA Lite servers for students to connect to--for example, at different classrooms in a school with unreliable Internet access.  We want students to be able to access their progress at those different locations, even though each location has it's own server and data is stored locally on that server.
        </p>
        <p>
          Cross-computer syncing is the (automated) process of sharing the student data across KA Lite servers.  This allows students to log in to other computers and still have their progress information available, and allows teachers to log into other computers to check the progress of their students.
        </p>
      </div>
    </div>

  </div>
</div>



<script>
  $(function () {
    $('#extended-features-tabs a:first').tab('show');
  });

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    e.target // activated tab
    e.relatedTarget // previous tab
  })
</script>



{% endblock ka_lite_content %}