{% extends 'ka-lite/base.html' %}

{% load staticfiles %}

{% block title %}What is KA Lite?{% endblock title %}

{% block what_is_ka_lite_nav %}active{% endblock what_is_ka_lite_nav %}

{% block extrahead %}

{% endblock extrahead %}

{% block ka_lite_content %}

  <div class="page-header">
      <h1>What is KA Lite?</h1>
  </div>

  <!-- Image | Paragraph -->
  <div class="row">
    <div class="col-xs-6">
      <img src='{% static "img/ka-lite/offline-khan.png" %}' class="img-rounded img-responsive">
    </div>
    <div class="col-xs-6">
      <h3>Free, offline access to Khan Academy</h3>
      <p>KA Lite is open-source software that can be downloaded and run on any computer, turning it into a webserver for viewing and interacting with downloaded Khan Academy videos and exercises, even when no internet is available. Students can connect to the server from within the classroom, on a laptop, tablet, or desktop computer. </p>
    </div>
  </div>

  <!-- Paragraph | Image -->
  <div class="row">
    <div class="col-xs-6">
      <h3>Support for mastery-based learning</h3>
      <p>Students can work their way through the content at their own pace, so that advanced learners aren't being held back, and less-advanced learners aren't being left behind. Teachers and parents can view student reports, so that class time can be used focusing on the individual learner's needs, rather than teaching to the middle.</p>
    </div>
    <div class="col-xs-6">
      <img src='{% static "img/ka-lite/coach-reports.png" %}' class="img-rounded img-responsive">
    </div>
  </div>

  <!-- Image | Paragraph -->
  <div class="row">
    <div class="col-xs-6">
      <img src="http://placehold.it/400x400">
    </div>
    <div class="col-xs-6">
      <h3>Easy data synchronization</h3>
      <p>Student data can be synchronized back to a central server when internet is available, allowing administrators to view aggregate and individual student statistics from one place.</p>
    </div>
  </div>

  <!-- Paragraph | Image -->
  <div class="row">
    <div class="col-xs-6">
      <h3>Cross-platform device support</h3>
      <p>The KA Lite server can be run on Linux, Windows, and Mac computers, and students can connect to the server from any laptop/desktop computer, or Android tablet/phone.</p>
    </div>
    <div class="col-xs-6">
      <img src="http://placehold.it/400x400">
    </div>
  </div>
{% endblock ka_lite_content %}