{% extends 'ka-lite/base.html' %}

{% load staticfiles %}

{% block title %}What is KA Lite?{% endblock title %}

{% block what_is_ka_lite_nav %}active{% endblock what_is_ka_lite_nav %}

{% block extrahead %}

{% endblock extrahead %}

{% block ka_lite_content %}


    {# For larger displays, we show it inline #}
    <div class="hidden-xs">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="ka-lite-headline-large">
            <span class="fluid-inline-image"><img src='{% static "img/ka-lite/ka-lite-logo-horizontal.png" %}' class="img-rounded img-responsive" alt="KA Lite"></span>
            <span class="fluid-text"> is an off-line version of </span>
            <span class="fluid-inline-image"><a href="http://khanacademy.org"><img src='{% static "img/ka-lite/khan-academy-logo-horizontal.png" %}' class="img-rounded img-responsive" alt="Khan Academy"></a></span>
            </br><small class="fluid-text">and it runs on pretty much everything.</small>
          </h1>
        </div>
      </div>
    </div> {# end visible-lg #}
    {# For smaller displays we show it stacked #}
    <div class="visible-xs ka-lite-headline-small">
      <div class="row">
        <div class="col-md-12">
          <img src='{% static "img/ka-lite/ka-lite-logo-horizontal.png" %}' class="img-rounded img-responsive" alt="KA Lite">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>is an offline version of</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="http://khanacademy.org"><img src='{% static "img/ka-lite/khan-academy-logo-horizontal.png" %}' class="img-rounded img-responsive" alt="Khan Academy"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3><small>and it runs on pretty much everything.</small></h3>
        </div>
      </div>
    </div> {# end hidden-lg #}

  <div class="responsive-spacer"></div>

  {# Using zig zag formation #}
  <!-- High-level overview >> Image | Paragraph -->
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <img src='{% static "img/ka-lite/videos-exercises.png" %}' class="img-rounded img-responsive" alt="KA Lite">
    </div>
    <div class="col-md-6 col-xs-12">
      <h3>No Internet required</h3>
      <p>KA Lite is open-source software that mimics the experience of an online user on <a href="http://khanacademy.org">Khan Academy</a> for offline situations. With KA Lite, you can watch Khan Academy videos, do Khan exercises, and track student progress -- all without needing an Internet connection!</p>
    </div>
  </div>

  <div class="responsive-spacer"></div>

  <!-- Progress tracking & flipped classroom >> Paragraph | Image -->
  <div class="row">
    <div class="col-md-6 col-md-push-6 col-xs-12">
      <img src='{% static "img/ka-lite/coach-reports.png" %}' class="img-rounded img-responsive">
    </div>
    <div class="col-md-6 col-md-pull-6 col-xs-12">
      <h3>Progress tracking built in</h3>
      <p>Students can work their way through the content at their own pace, so that advanced learners aren't being held back, and less-advanced learners aren't being left behind. Teachers and parents can view student reports, so that class time can be used focusing on the individual learner's needs, rather than teaching to the middle, making the <a href="http://en.wikipedia.org/wiki/Flip_teaching">"flipped classroom"</a> teaching model available to the off-line world.</p>
    </div>
  </div>

  <div class="responsive-spacer"></div>

  <!-- Image | Paragraph -->
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <img src='{% static "img/ka-lite/offline-khan.png" %}' class="img-rounded img-responsive">
    </div>
    <div class="col-md-6 col-xs-12">
      <h3>Designed to fit your needs</h3>
      <p>KA Lite can be run as a personal installation on a single computer, or it can be configured as a local webserver, so that an entire classroom can watch videos and store their progress in one place. Want to deploy KA Lite in multiple classrooms or communities and sync your data? No problem. <a href="{% url ka_lite_install %}">Learn more about this process.</a></p>
    </div>
  </div>

  <div class="responsive-spacer"></div>

  <!-- Paragraph | Image -->
  <div class="row">
    <div class="col-md-6 col-md-push-6 col-xs-12 ">
      <img src='{% static "img/ka-lite/coach-reports.png" %}' class="img-rounded img-responsive">
    </div>
    <div class="col-md-6 col-md-pull-6 col-xs-12">
      <h3>Support for mastery-based learning</h3>
      <p>Students can work their way through the content at their own pace, so that advanced learners aren't being held back, and less-advanced learners aren't being left behind. Teachers and parents can view student reports, so that class time can be used focusing on the individual learner's needs, rather than teaching to the middle.</p>
    </div>
  </div>
{% endblock ka_lite_content %}