{% extends 'ka-lite/base.html' %}

{% load staticfiles %}

{% block title %}What is KA Lite?{% endblock title %}

{% block what_is_ka_lite_nav %}active{% endblock what_is_ka_lite_nav %}

{% block extrahead %}

{% endblock extrahead %}

{% block ka_lite_content %}

  <div class="page-header">
      <h1>What is KA Lite?</h1>
  </div>

  <!-- Image | Paragraph -->
  <div class="row">
    <div class="col-xs-6">
      <img src="http://placehold.it/400x400">
    </div>
    <div class="col-xs-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum lacus mauris, a consequat orci dictum eu. Sed malesuada fermentum arcu, vel bibendum arcu. Nullam rhoncus quam eget mi interdum, non pulvinar metus aliquam. Nam at sapien nec turpis egestas aliquam porttitor non libero. Praesent eu consequat ante. Aliquam vitae lobortis ligula, non malesuada velit. Sed vel ipsum elementum, hendrerit nisi in, congue ligula. Cras eget lacus quis mauris condimentum auctor.</p>
    </div>
  </div>

  <!-- Paragraph | Image -->
  <div class="row">
    <div class="col-xs-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum lacus mauris, a consequat orci dictum eu. Sed malesuada fermentum arcu, vel bibendum arcu. Nullam rhoncus quam eget mi interdum, non pulvinar metus aliquam. Nam at sapien nec turpis egestas aliquam porttitor non libero. Praesent eu consequat ante. Aliquam vitae lobortis ligula, non malesuada velit. Sed vel ipsum elementum, hendrerit nisi in, congue ligula. Cras eget lacus quis mauris condimentum auctor.</p>
    </div>
    <div class="col-xs-6">
      <img src="http://placehold.it/400x400">
    </div>
  </div>
{% endblock ka_lite_content %}