.DS_Store
_static_cache/
database.sqlite
data/
media/
node_modules/
*.pyc
*.sublime-project
*.sublime-workspace
*.sqlite*
local_settings.py
local_settings_secrets.py
ips.txt
GeoLiteCity.dat
static/css/*
fle_site/media/user_resources/*
venv/*
fleSite/*
Thumbs.db
virtual_fle_home/*