@import "variables.less"; 
@import "mixins.less"; 

// --------------------
// ** Base
// --------------------

body {
    background-color: @white;
}

html, span, a, p, h1, h2 , h3, h4, h5, h6 {
    font-family: @sanserif;
}

p {
    padding: 10px 0;
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

hr {
    margin-bottom: 10px;
    margin-top: 0px;
}

a {
    color: @blue;
}

// --------------------
// ** Header
// --------------------

.masthead {
    height: 75px;
    background-color: @blue;
    a {
        color: @white;
    }
}

.nav-logo {
    background: url("../img/fle-text-horiz.png") no-repeat; 
    display: block;
    height: 75px;
    width: 512px;
}

@media (max-width: 700px) { 
    .nav-logo {
        background: url("../img/fle-text-horiz-sm.png") no-repeat;
        width: 149px;
    }
}


.nav-list {
    position: relative;
    top: 20px;

    li {
        margin-left: 30px;
        a {
            font-size: @small-size;
            &:hover {
                color: @blue;
            }
        }
        text-transform: uppercase;
        font-family: @sanserif-block;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

// Home
#contents-container {
    background-color: rgba(102,51,153,0.1);
    margin-top: 50px;
    width: 850px;
}

#map-img {
    .bump-right;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 778px;
}

.inner-container {
    width: 778px;
    margin-left: 56px;
    margin-bottom: 30px;
    background-color: white;
}

.inner-contents {
    width: 720px;
    padding: 10px 25px;

    a {
        color: @linkcolor;
    }
}

.footer-legal {
    color: #777;
    margin-bottom: 25px;
    .bump-down;
    .center-text;
}

// Radpress
.row {
    a {
        color: @linkcolor;
    }
}

#radpress-container {
    margin-top: 40px;
    .row {
        .span7 {
            margin-left: 85px;
        }
    }
}

.post-container {
    margin-right: 50px;
    margin-bottom: 80px;
}

#sidebar {
    margin-left: 40px;
    margin-top: 22px;
}

.edit-button {
    margin-top: 10px;
}


.recent-posts-widget {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.label {
    background-color: #D5D5D5;
}

.tagcloud {
    a:hover {
        color: #6287AC;
    }
}

#no-posts {
    margin-top: ;
}

.sharing:hover {
    text-decoration: none;
}

.blog-embedded-image {
    border: solid 1px #CCC;
    -moz-box-shadow: 5px 5px 0px #999;
    -webkit-box-shadow: 3px 3px 0px #999;
    box-shadow: 3px 3px 0px #999;
    margin-bottom: 10px;
    margin-top: 10px;
}