// Colors
@white: #f5f5f5;
@off-white: #DFE9F0;
@gray: #cccccc;
@black: #2f2f2f;
@blue: #3a7aa2;
@darkblue: #2d5a77;
@darkgray: #2e2e2e;
@linkcolor: #336799;

// Font sizes
@large-size: 30px;
@medium-size: 20px;
@small-size: 16px;

// Template sizes
@footerheight: 75px;

// Fonts
@sanserif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@sanserif-block: 'Oswald', 'Helvetica Neue', Arial, sans-serif; 