{% load staticfiles %}

<div class="container break-barriers">
	<h1>Breaking Down Connectivity Barriers</h1>
	<div class="col-md-9 open-source">
		<h2>Open Source Educational Content</h2>
		<p>Great educational content is getting easier to access on the internet, and it's about time someone brings it offline too. All the educational content that Kolibri offers for curation is licensed to be freely distributed and remixed for your own curricular needs.</p>
	</div>
	<div class="col-md-5"><img id="offline-placeholder" src="{% static 'img/learn-offline-2.png' %}"></div>
	<div class="col-md-7">
		<h2>Learn, Online and Offline</h2>
		<p>Learners can engage with high-quality educational material from the internet, even when internet connection is unreliable. Kolibri will enable educators to integrate and distribute their unique educational content through an offline server that is accessible through a local network.</p>
	</div>
</div> 
		
		 <br>
			
	
			
</div> <hr>


<div class="container">
	<div class="col-md-12" id="offline">
		<h1>Syncing and Sharing</h1>
		<p>Content and data is stored on the local server and synced with an online repository once it reaches an internet connection. Here are a few ways that teachers and learners can share data, content, and software updates -- all offline.</p>
			<br>
		<img id="offline-placeholder" src="{% static 'img/offline-image.png' %}">
	</div>

	<div class="col-md-6">
		<h2>Peer to peer</h2>
		<p>With the “device discovery” interface, devices can find and directly connect with each other over a local wi-fi network, allowing for easy content sharing and data updates.</p>
	</div>

	<div class="col-md-6">
		<h2>Sneakernet</h2>
		<p>Kolibri is also designed for easy transfer of content, data, and updates via the “sneakernet.” Users can use USB memory sticks to sync and share content, data, and updates through an easy-to-use web interface.</p>
	</div>


</div> <hr>


<div class="container">
	<div class="col-md-4">
		<img id="vectorization-placeholder" src="{% static 'img/vectorization-graphics-2.png' %}">

	</div>

	<div class="col-md-8">
		<h3>Content Vectorization</h3>
		<p>Downloading content is easy and fast. We found a way to compress huge libraries of content to fit on tiny USB hard drives, which is done by converting only the necessary parts of content items to scalable components.</p>
	</div> <br><hr>



</div>
<br><hr>

<div class="container">	
	<div class="col-md-8">
		<h3>Cross Platform Installation on Any Device</h3>
		<p>Kolibri is an application that can be installed on any device or platform (Windows, Linux, OSX, Android). Students and teachers can use any inexpensive, low-power device, such as an Android tablet, and still be able to engage with rich educational content through Kolibri.</p>
	</div>

	<div class="col-md-4">
		<img id="vectorization-placeholder" src="{% static 'img/cross-platform.png' %}">
	</div>
</div> <br><hr>
