{% load staticfiles %}
<div class="container">
	<div id="feature-banner">
		<h1>Curate High Quality, Unique Courses<h1> 
	</div>
	<div class="container">
		<div class="col-md-4">
			<img id="curate-img" src="{% static 'img/content-curation.png' %}">
		</div>
		<div class="col-md-8">
			<p>Curators can supplement their own original educational content with well-known, high-quality sources that could previously only be found online, like Khan Academy, OpenStax textbooks, CK12, and more.
</p>
		</div>
	</div> <hr>
	<div class="container feature-box">
		<h2>Packaged with the tools for you to create a great educational experience</h2>
		<br>
		
		<div class="col-md-4">
			<img id="features-img" src="{% static 'img/features.png' %}"><br>
			<h3>Quizzes and Exercises</h3>
			<p>We make it easy to create new quizzes and exercises that are catered to your curriculum, or import existing ones from other channels. Teachers have the option to create quizzes in multiple choice and free answer format, and also create exercises where students can practice what they've learned.</p>
		</div>
		<div class="col-md-4">
			<img id="features-img" src="{% static 'img/progress-tracker.png' %}" ><br>
			<h3>Progress Tracker</h3>
			<p>Learners can view their progress, and receive recommendations about what lessons or exercises to do next. Teachers or mentors can also track students’ progress by viewing “coach reports”, allowing them to see which students need extra help and identify where they can most effectively intervene to help students overcome learning barriers.</p>
		</div>
		<div class="col-md-4">
			<img id="features-img" src="{% static 'img/feedback.png' %}"><br>
			<h3>Learn from Feedback</h3>
			<p>Learners can provide feedback by rating and commenting on the content they view. Kolibri’s content recommendation system then highlights the most useful and relevant content on a learner’s dashboard. These ratings and feedback can also be synced to the online server to help inform content curators improve existing content.</p>
		</div>
	</div>

</div>
	
