<div class="container">
	<div id="feature-banner">
		<h1><h1> 
	</div>
	<div class="container">
		<div class="col-md-4">
			<img src="../../static/img/content-curation.png">
		</div>
		<div class="col-md-8">
			<h3>Curate High Quality, Unique Courses</h3>
			<p>In addition to sharing original content, Kolibri empowers educators to curate rich educational content from a variety of different high quality sources that could previously only be found online. Curators can supplement their own original educational content with well-known sources like Khan Academy, OpenStax textbooks, CK12, and more.</p>
		</div>
	</div>
	<div class="container">
		<h2>Create the educational experience you think is best.</h2>
		
		<div class="col-md-4">
			<img src="http://placehold.it/200x200">
			<h3>Quizzes and Exercises</h3>
			<p>Cater to learners’ needs by creating new quizzes and exercises or remixing existing ones that are importable from other channels.</p>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/200x200">
			<h3>Track Learner Progress</h3>

			<p>Learners can view their progress, and receive recommendations about what lessons or exercises to do next. Teachers or mentors can also track students’ progress by viewing “coach reports”, allowing them to see which students need extra help and identify where they can most effectively intervene to help students overcome learning barriers.</p>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/200x200">
			<h3>Learn from Feedback</h3>
			<p>Learners can provide feedback, by rating and commenting on the content they’re viewing. Kolibri’s content recommendation system then highlights the most useful and relevant content on a learner’s dashboard. These ratings and feedback are synced back to a central online server when possible, to help inform content curators so they can improve the content.</p>
		</div>
	</div>

</div>
	
