{# Scenario 2 -- Classroom Edition #}
<div class="display-none" id="scenario-2">

    {# Option 2 -- classroom edition / single server & multiple users #}
    <div class="row">
        <div class="span12">
            <h1>KA Lite Classroom Edition</h1>
        </div>
    </div>
    <div class="row">
        {# Do you really want option 1? #}
        <div class="span6">
            <h3>Option 1: One-click Install Classroom Edition</h3>
            <img src="http://placehold.it/350x150">
            <p>If you just need KA Lite to work for you and your learners, and you don't think you'll ever need our advanced features like viewing usage statistics online, administering user accounts online, retrieving data backups online, then this is the option for you!</p>
            <p>This type of installation is most popular with:</p>
            <ul>
                <li>Groups installing KA Lite in offline communities that they won't return to</li>
                <li>Others?</li>
            </ul>
            {# Starts the download or could be a modal popup box to prompt a donation?       #}
            <p><a href="#" class="button--large">Download Now!</a></p>
        </div>
        {# Or do you want option 2? #}
        <div class="span6">
            <h3>Option 2: Syncing Classroom Edition</h3>
            <img src="http://placehold.it/350x150">
            <p>This option allows you to take advantage of our suite of online tools for managing your installations. With the Syncing Edition, from our online portal, you can administer user accounts, sync data from the installation and view it online, and backup your data online.</p>
            <p>This type of installation is most popular with:</p>
            <ul>
                <li>??</li>
                <li>Others?</li>
            </ul>
            {# Takes you to the download wizard #}
            <p><a href="#" class="button--large">Show me my options</a></p>
        </div>
    </div>
</div>{# END Option 2 -- classroom edition / single server & multiple users #}