{# Option 3 -- multiple servers #}
<div class="display-none" id="scenario-3">

    <div class="row">
        <div class="span12">
            <h1>KA Lite Syncing Edition</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img src="http://placehold.it/350x150">
            <p>KA Lite Pomelo edition allows you to access all of our online tool suite, allowing you to track engagement with your installation when it syncs data, administer accounts online, and do other cool stuff.</p>
            <p>This type of installation is most popular with:</p>
            <ul>
                <li>Organizations working in offline communities that need reporting data on their project</li>
            </ul>
            {# Starts the download or could be a modal popup box to prompt a donation?       #}
            <p><a href="#" class="button--large">Show me the options!</a></p>
        </div>
    </div>
</div> {# END Option 3 -- multiple servers #}