{# Scenario 1 -- Personal Edition #}
<div class="display-none" id="scenario-1">
    <div class="row">
        <h1>KA Lite Personal Edition</h1>
    </div>
    <div class="row">
        <div class="span6">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="span6">
            <p>You're almost there! Just fill out the form below and choose a download option to get started using KA Lite!</p>
            {# Options Form #}
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                  <input type="text" id="inputName" placeholder="Name">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input type="text" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputOS">Operating System</label>
                <div class="controls">
                  <select id="inputOS">
                      <option>Windows</option>
                      <option>Mac</option>
                      <option>Linux</option>
                      <option>Raspian</option>
                    </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputCountry">Country</label>
                <div class="controls">
                    <select id="inputCountry">
                      <option>Country One</option>
                      <option>Country Two</option>
                      <option>Country 99</option>
                      <option>(seewhatididthere)</option>
                    </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputLanguage">Lanugage(s)</label>
                <div class="controls">
                  <select id="inputLanguage" multiple="multiple">
                      <option>Lanugage One</option>
                      <option>Lanugage Two</option>
                      <option>Lanugage 99</option>
                      <option>(seewhatididthere)</option>
                  </select>
                  <span class="help-block">Use CTRL + select to pick more than one.</span>
                </div>
              </div>
              <p>Help keep the project going by making a donation before you download!</p>
              <div class="row">
                <div class="span6">
                    <p><a href="#" class="button--large">Donate &amp; Download</a></p>
                </div>
                <div class="span6">
                    <p><a href="#" class="button--large">No thanks, just Download</a></p>
                </div>
              </div>
            </form>
        </div>
    </div>
</div> {# END Scenario 1 -- Personal Edition #}