{# Scenario 2 -- Classroom Edition #}
<div class="display-none well" id="scenario-2">

    {# Option 2 -- classroom edition / single server & multiple users #}
    <div class="row">
        <div class="col-xs-12">
            <h1>KA Lite Classroom Edition</h1>
            <p>This version of KA Lite allows you to install the software on a computer that will act as a local content server. This means that multiple students can access the materials over a local Wifi or LAN connection -- perfect for a classroom or community center!</p>
            <p>You have two options with the classroom edition:</p>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover center-text">
                <thead>
                    <tr>
                        <td>
                            {# Left blank -- could call this "features" #}
                        </td>
                        <td>
                            <h2>One-Click Classroom Edition</h2>
                        </td>
                        <td>
                            <h2>Syncing Classroom Edition</h2>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Use KA Lite
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sync &amp; View Usage Data Online
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Administer Accounts Online
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Back Up Data Online
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {# Leaving empty #}
                        </td>
                        <td>
                            <a href="#" class="btn btn-large btn-success">Show me the "One-Click" Options</a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-large btn-success">Show me the Syncing Options</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>{# END Option 2 -- classroom edition / single server & multiple users #}