<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel"><strong>Contact Information</strong></h3>
      </div>
      <div class="modal-body">
        <address>
          <strong>Mail:</strong><br>
          Foundation for Learning Equality, Inc.</br>
          4275 Executive Sq. 11th Floor</br>
          La Jolla, CA 92037</br>
        </address>

        <address>
          <strong>Email:</strong><br>
          <a href="mailto:info@learningequality.org">info@learningequality.org</a>
        </address> 
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->