<div class="modal fade" id="{{ p.slug }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header center-text">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <img class="img-thumbnail modal-thumbnail" src="{{ MEDIA_URL }}{{ p.picture }}">
        <h3 class="modal-title" id="myModalLabel"><strong>{{ p.name }}</strong></h3>
      </div>
      <div class="modal-body">
        {{ p.bio|safe }}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->