<div class="container-wide footer">
    <div class="container">
        <div class="footer-legal">
        	<span class="pull-left">
        		<a href="mailto:info@learningequality.org">Contact Us</a>
        	</span>
        	<span>&copy; 2013 Foundation for Learning Equality</span>
        	<ul class="list-icons pull-right">
            <li>
                <a href="https://www.facebook.com/learningequality" class="icon">circlefacebook</a>       
            </li>
            <li>
                <a href="https://twitter.com/LearnEQ" class="icon">circletwitterbird</a>      
            </li>
        </ul>
        </div>
    </div>
</div>