{% load staticfiles %}

<div class="container-wide">
    <div class="masthead">
        <div class="container">
            <a class="pull-left" href="{% url home %}"><div class="nav-logo"></div></a>
            <ul class="nav nav-list nav-pills pull-right">
                <li>
                    <a href="http://kalite.learningequality.org/">KA Lite</a>
                </li>
                <li>
                    <a class="{% block blog_nav %}{% endblock blog_nav %}" href="{% url articles_archive %}">Blog</a>
                </li>
            </ul>
        </div> 
    </div>
</div>