<!DOCTYPE HTML>
<html {% block lanugage %}{% endblock lanugage %}>
    <head>
        
        {% load staticfiles %}

    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        {% block headmeta %}{% endblock headmeta %}

    	 {% block titletag %}
    	 <title>{% block title %}{% endblock title %} | Foundation for Learning Equality</title>
    	 {% endblock titletag %}

        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="all" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/styles.less' %}" media="all" rel="stylesheet/less" type="text/css" />
        {% block headcss %}{% endblock headcss %}

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/less.js' %}" type="text/javascript"></script>
        {% block headjs %}{% endblock headjs %}

        {% block extrahead %}{% endblock extrahead %}
        {% block analytics %}{% endblock analytics %}
    </head>

<body>
    {% include "partials/navigation.html" %}
    {% block bodycontents %}{% endblock bodycontents %}
    {% include "partials/footer.html" %}
</body>
</html>

</html>