<!DOCTYPE HTML>
<html {% block lanugage %}{% endblock lanugage %}>
    <head>
        
        {% load staticfiles %}

    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        {% block headmeta %}{% endblock headmeta %}

    	 {% block titletag %}
    	 <title>{% block title %}{% endblock title %} | Foundation for Learning Equality</title>
    	 {% endblock titletag %}

        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="all" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/base.less' %}" media="all" rel="stylesheet/less" />
        {% block headcss %}{% endblock headcss %}

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/less.js' %}" type="text/javascript"></script>
        {% block headjs %}{% endblock headjs %}

        {% block extrahead %}{% endblock extrahead %}
        {% block analytics %}
        {% endblock analytics %}
    </head>

<body>
    <div class="container-wide" id="banner">
    	<div class="container">
            <div class="masthead">
                <a class="" href="{% url home %}"><img src="{% static 'img/fle-prov-logo-small.png' %}"></a>
                <ul class="nav nav-pills pull-right">
                    <li>
                        <a class="{% block home_nav %}{% endblock home_nav %}" href="{% url home %}">Home</a>
                    </li>
                    <li>
                        <a href="http://kalite.learningequality.org/">KA Lite</a>
                    </li>
                    <li>
                        <a class="{% block blog_nav %}{% endblock blog_nav %}" href="{% url radpress-article-list %}">Blog</a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
    {% block contents %}{% endblock contents %}
    <div class="container-wide" id="footer-container">
        <div class="container footer">
            <div class="footer-legal">&copy; 2013 Foundation for Learning Equality</div>
        </div>
    </div>
</body>
</html>

</html>