{% extends "radpress/base.html" %}

{% load trans from i18n %}
{% load url from future %}

{% block content %}
  <div id="blog-archive">
    <div class="post box clearfix">
      <div class="frame frame-full">
        <div class="title content-space">
          <h2 class="entry-title">{% trans "Post archives" %}</h2>
        </div>

        <div id="archive" class="content-space">
          {% include "radpress/partials/archive_list.html" %}
        </div>
      </div>
    </div>

    {% include "radpress/partials/navigation.html" %}
  </div>
{% endblock %}

{% block sidebar %}
  <div class="sidebar-widget">
    {% include "radpress/partials/search_form.html" %}
  </div>

  <div id="archive-tags">
    <h2>{% trans "Tags" %}</h2>

    {% if enabled_tag %}
      <a href="{% url 'radpress-article-archive' %}" class="remove-tag">
        {% trans "remove tag" %}
      </a>
    {% endif %}

    {% include "radpress/partials/tag_cloud.html" %}
  </div>
{% endblock %}
