{% extends "radpress/base.html" %}

{% load trans from i18n %}
{% load url from future %}
{% load radpress_datetime radpress_full_name from radpress_tags %}

{% block title %}{% trans "Mainpage" %}{% endblock %}

{% block content %}
  {% for object in object_list %}
    {% include "radpress/partials/entry.html" with summary=1 %}
  {% empty %}
    <p>{% trans "No posts found." %}</p>
  {% endfor %}
{% endblock %}

{% block extra_content %}
  <ul class="pager">
    <li class="previous">
      <a href="{% url "radpress-article-archive" %}">&larr; {% trans "older posts" %}</a>
    </li>
  </ul>
{% endblock %}
