{% extends "radpress/base_no_body.html" %}

{% load blocktrans trans from i18n %}
{% load url from future %}

{% load radpress_static_url from radpress_tags %}"
{% load radpress_widget_latest_posts from radpress_tags %}

{% block heads %}
  <link href="{% radpress_static_url 'css/main.css' %}" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div class="navbar navbar-static-top" id="header">
    <div class="container">
      <h2 class="header-title">
        <a href="{% url 'radpress-article-list' %}" title="{{ RADPRESS_TITLE }}">{{ RADPRESS_TITLE }}</a>
      </h2>
      {% if RADPRESS_DESCRIPTION %}
        <h6>{{ RADPRESS_DESCRIPTION }}</h6>
      {% endif %}
    </div>
  </div>

  <div class="navbar navbar-static-top" id="navigation">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li>
            <a href="{% url 'radpress-article-list' %}">{% trans "Blog" %}</a>
          </li>
          <li>
            <a href="{% url 'radpress-article-archive' %}">{% trans "Archive" %}</a>
          </li>
        </ul>

        <ul class="nav pull-right">
          <li>
            <a href="{% url 'radpress-rss' %}">{% trans "RSS" %}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="wrapper">
    <div class="container">
      <div class="row">
        <div class="span9">
          {% block base_content %}
            <div id="content">
              {% block content %}{% endblock %}
            </div>
          {% endblock %}

          {% block extra_content %}{% endblock %}
        </div>

        <div class="span3">
          <div id="sidebar">
            {% include "radpress/partials/search_form.html" %}
            {% radpress_widget_latest_posts %}

            {% if tag_list %}
              {% include "radpress/partials/tag_cloud.html" %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="copyright">
        © {% now "Y" %} -
        {% blocktrans with url="https://github.com/gkmngrgn/radpress" %}Powered by <a href="{{ url }}" target="_blank">RadPress</a>{% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
