{% extends "radpress/base.html" %}

{% load trans from i18n %}

{% block content %}
  <div id="blog-archive">
    <div class="post box clearfix">
      <div class="title content-space">
        <h2 class="entry-title">{% trans "Search results" %}</h2>
      </div>

      <div id="archive" class="content-space">
        {% include "radpress/partials/archive_list.html" %}
      </div>
    </div>

    {% include "radpress/partials/navigation.html" %}
  </div>
{% endblock %}

{% block sidebar %}
  <div class="sidebar-box">
    {% include "radpress/partials/search_form.html" %}
  </div>
{% endblock %}
