<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel"><strong>Contact Information</strong></h3>
      </div>
      <div class="modal-body">
        <strong>
          <address>
            Foundation for Learning Equality</br>Attn: Jamie Alexandre</br>4465 Vision Dr. #2</br>San Diego, CA 92121
          </address>
        </strong>

        <address>
          <strong>Email:</strong><br>
          <a href="mailto:info@learningequality.org">info@learningequality.org</a>
        </address> 
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary fle-btn" data-dismiss="modal">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->