{% load staticfiles %}

<div class="container-fluid main-footer" id="footer">
    <div class="banner_container">
        <div class="corner_banner">
            <img class="banner_img" src="{% static 'img/corner_banner.png' %}">
            <div class="kk-sliding">
                <div class="subscribe_success">Thank You !</div>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup" class="sliding">
                    <form action="//learningequality.us6.list-manage.com/subscribe/post?u=023b9af05922dfc7f47a4fffb&amp;id=d56041116d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate navbar-form navbar-left" target="_blank" novalidate>
                        <input type="email" value="" name="EMAIL" class="required email form-control email_input" id="mce-EMAIL" placeholder="Email Address">
                        <button type="submit" value="Join the Cause" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default email_submit">Subscribe</button>
                           <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; right: -5000px;"><input type="text" name="b_023b9af05922dfc7f47a4fffb_d56041116d" tabindex="-1" value=""></div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
                </script>
                <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
                </script>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-4 center-text">
                &copy; 2016 Learning Equality&nbsp;<a href="http://creativecommons.org/licenses/by-sa/4.0/"><img id="cc-icon" src="{% static 'img/icons/cc-by-sa-4.0.png' %}" alt="Creative Commons Attribution 4.0 International License" title="Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License"></a>
            </div>

            <div class="col-md-4 col-md-pull-4" id="help_links">
                <a href="#" data-modal-toggle="contactModal" id="contact" class="modal-toggle">Contact Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="{% url 'jobs' %}">Jobs</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="{% url 'internships' %}">Internships</a>
            </div>
            
            <div class="col-md-4 center-text">
                <ul class="list-icons">
                    <li>
                        <a href="https://www.facebook.com/learningequality" title="Visit us on Facebook!" target="_blank">
                            <img class="media-link" src="{% static 'img/facebook.png' %}"/>
                        </a>
                    </li>
                    <li>
                        <div class="fb-like" data-href="https://www.facebook.com/learningequality" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
                    </li>
                    <li>
                        <a href="https://twitter.com/LearnEQ" title="Visit us on Twitter!" target="_blank">
                            <img class="media-link" src="{% static 'img/twitter.png' %}"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LearnEQ" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @LearnEQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/corner-banner.js' %}" type="text/javascript"></script>
<script>

    function triggerModal(elementHash) {
        // given element ID intelligently trigger modals
        var modalId = '#' + $(elementHash).attr("data-modal-toggle");
        $(modalId).modal();
        // remove hash when hidden
        $(modalId).on('hidden.bs.modal', function (e) {
            window.location.hash = '';
        });
    } 

    $(function() {
        // handle hash in URL on page load
        var hash = window.location.hash;
        if (hash) {
            triggerModal(hash);
        }

        // handle toggle of modals on click
        $('.modal-toggle').click(function(event) {
            event.preventDefault();
            window.location.hash = this.id;
            triggerModal('#' + this.id);
        });
    });

</script>
