<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-3 center-text">
            &copy; 2014 Foundation for Learning Equality</span>
            </div>
            <div class="col-xs-12 col-md-3 col-md-pull-7 center-text" id="help_links">
                <a href="javascript:$('#contactModal').modal('toggle');">Contact Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'internships' %}">Internships</a>
            </div>
            <div class="col-xs-12 col-md-3 center-text">
                <ul class="list-icons">
                    <li>
                        <a href="https://www.facebook.com/learningequality" class="icon">circlefacebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LearnEQ" class="icon">circletwitterbird</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>