{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/_kickstarter_timeline.css' %}">
<script src="{% static 'js/_kickstarter_timeline.js' %}"></script>

<div class="timeline_container">
    <canvas id="timeline_canvas" width='1000px' height='800px'>
        Your browser does not support the canvas element.
    </canvas>
    <div class="circles_container">
        <img class="img-circle tl_img" id="tl_img_1" src="{% static 'img/kickstarter/timeline/tl_img_1.png' %}" alt="">
        <img class="img-circle tl_img" id="tl_img_2" src="{% static 'img/kickstarter/timeline/tl_img_2.png' %}" alt="">
        <img class="img-circle tl_img" id="tl_img_3" src="{% static 'img/kickstarter/timeline/tl_img_3.png' %}" alt="">
        <img class="img-circle tl_img" id="tl_img_4" src="{% static 'img/kickstarter/timeline/tl_img_4.png' %}" alt="">
        <div class="tl_text" id="tl_text_1">
            <h4 class="timeline-individual-heading">DEC 2012</h4>
            <p class="text-muted">THE KICKOFF</p>
            <p class="text-pain">KA Lite is released as open source<br>
            software and becomes available for<br>
            installation.</p>
            <a href="{% url 'ka_lite' %}" target="_blank">Learn more</a>
        </div>
        <div class="tl_text" id="tl_text_2">
            <h4 class="timeline-individual-heading">APRIL 2013</h4>
            <p class="text-muted">LEARNING EQUALITY IS BORN</p>
            <p class="text-pain">Wth a mission to provide wider<br>
            access to open educational resources<br>
            and opportunities.</p>
            <a href="{% url 'home' %}" target="_blank">More about us</a>
        </div>
        <div class="tl_text" id="tl_text_3">
            <h4 class="timeline-individual-heading">2013 - 2015</h4>
            <p class="text-muted">KA LITE INSTALLED<br>
            IN 160+ COUNTRIES</p>
            <p class="text-pain">See our interactive world map of deployments and installations.<br>
            Discover impactful stories from people around the world.</p>
            <a href="{% url 'blog' %}" target="_blank">Find stories</a>
        </div>
        <div class="tl_text" id="tl_text_4">
            <h4 class="timeline-individual-heading">OCT 2015</h4>
            <p class="text-muted">KICKSTARTER CAMPAIGN</p>
            <p class="text-pain">Wth a mission to provide wider<br>
            access to open educational resources<br>
            and opportunities.</p>
            <a id="be-part" href="#contact"><h4>Be Part Of Our Story!</h4></a>
        </div>
    </div>
</div>