{% load staticfiles %}

<script src="{% static 'js/_kickstarter_quote.js' %}"></script>
<script src="http://api.html5media.info/1.1.5/html5media.min.js"></script>

<div class="quote_container wow fadeIn">
    <p class="quote_1">
        People have big dreams all around the world.<br>
        Education can unlock that potential.</p>
    <br>
    <div class="quote_2">
        <img id="quote_mark_l" src="{% static 'img/kickstarter/quote/quote.png' %}">
        <p id="the_quote_2">I want to become an eye specialist...</p><br>
        <p id="the_quote_2">because some people can't see how beautiful</p><br>
        <p id="the_quote_2">is our world. So I want to show them.</p>
        <img id="quote_mark_r" src="{% static 'img/kickstarter/quote/quote.png' %}">
    </div>
    <br>
    <br>
    <p class="quote_3">
        - A student from our KA Lite<br>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
         deployment in India</p>
</div>
<div class="quote_video_overlay">
    <div class="quote_video_tint"></div>
    <img id="quote_video_btn" src="{% static 'img/kickstarter/quote/audio-btn.png' %}">
</div>
<div class="quote_video_bg">
    <video poster="{% static 'img/kickstarter/quote/fle_quote_poster-min.png' %}" id="quote_video" src="{% static 'img/kickstarter/quote/fle_quote-min.mp4' %}" preload></video>
</div>