{% load staticfiles %}

<div class="container-fluid below-fold2">
		<div class="row">
                        <div class="col-md-8 kolibri-statement" >
                        	 <img id="kolibri_logo" src="/static/img/kickstarter/about/kolibri.png">
                                <h1>Kolibri<h1>
                                <h2>Kolibri will bring high quality online educational content offline </h2>
                                <h3>For people who want to learn, but lack internet access</h3>
                        </div>
                        <div class="col-md-4 problem-statement">
                                <div class="col-md-12 top-box wow fadeInRight">
                                <img src="/static/img/kickstarter/about/story-2.png">
                            </div>
                            <div class="col-md-12 bottom-box wow fadeInRight" >
                                <img src="/static/img/kickstarter/about/story-1.png">
                            </div>
                        </div>
        </div>





		<!-- <img src="{% static 'img/kickstarter/about/kolibri.png' %}">
		<p>Kolibri</p>
	</div>
	<div class="col-md-4 col-md-offset-4">
		<span>Kolibri is an app that will bring high quality online educational content to people who want to learn, but lack Internet access.</span>
	</div> -->
</div>