{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">HERE'S WHAT WE'RE GOING TO BUILD</h2>
            <h3 class="section-subheading text-muted">Kolibri will ensure that lack of internet connectivity does not continue to be a barrier to learning. We’ve been listening to our global network of users, and have planned our next stages of development to meet their most urgent needs. </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 colored-container">
            <div class="portfolio-item">
                <a href="#portfolioModal0" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </div>
                    </div>
                    <img id="gear_1" src="{% static 'img/kickstarter/portfolio/gear_1.png' %}" style="display:none">
                    <img id="gear_2" src="{% static 'img/kickstarter/portfolio/gear_2.png' %}" style="display:none">
                    <svg id='svg_preconfigure' viewBox="0 25 800 450"></svg>
                </a>
                <div class="portfolio-caption" href="#portfolioModal0" data-toggle="modal">
                    <h4>Standalone Android Tablet</h4>
                    <p class="text-muted">The Out-of-the-Box Solution</p>
                    <div class="portfolio-barrier-box col-md-12">
                        <div class="barrier-title">
                            <i class="fa fa-ban"></i><span>BARRIER</span>
                        </div>
                        <p>We support Windows, Linux, and OSX, but low-cost Android tablets depend on nearby servers for connection, meaning they can't be taken home or on the go.</p>
                    </div>
                    <div class="portfolio-solution-box col-md-12">
                        <div class="solution-title">
                            <i class="fa fa-lightbulb-o"></i>
                            <span>SOLUTION</span>
                        </div>
                        <p>Kolibri will run as a standalone Android application, and we're working with manufacturers to produce an optimized, preconfigured, low-cost tablet solution, ready to use out of the box.</p>
                    </div>
                    <p><a  href="#portfolioModal0" data-toggle="modal">Learn More</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 colored-container">
            <div class="portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </div>
                    </div>
                    <img id="cc_bulb" src="{% static 'img/kickstarter/portfolio/cc_bulb.png' %}" style="display:none">
                    <svg id='svg_content_curation' viewBox="-40 -20 880 495"></svg>
                </a>
                <div class="portfolio-caption" href="#portfolioModal1" data-toggle="modal">
                    <h4>Local Content Curation and Creation</h4>
                    <p class="text-muted">Create Custom Curriculum</p>
                    <div class="portfolio-barrier-box col-md-12">
                        <div class="barrier-title">
                            <i class="fa fa-ban"></i>
                            <span>BARRIER</span>
                        </div>
                        <p>Educational content is not "one-size-fits-all." Our partners have consistently demanded the ability to align content to match local curricula, and include locally created content.</p>
                    </div>
                    <div class="portfolio-solution-box col-md-12">
                        <div class="solution-title">
                            <i class="fa fa-lightbulb-o"></i>
                            <span>SOLUTION</span>
                        </div>
                        <p>Kolibri will allow organizations and users to upload and organize content into custom "channels." These channels can then be distributed to other Kolibri devices for offline use, creating a better fit for local communities.</p>
                    </div>
                    <p><a href="#portfolioModal1" data-toggle="modal">LEARN MORE</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 colored-container">
            <div class="portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </div>
                    </div>
                    <svg id='svg_peer_to_peer' viewBox="0 0 800 450"></svg>
                </a>
                <div class="portfolio-caption" href="#portfolioModal2" data-toggle="modal">
                    <h4>Peer to Peer Syncing Between Devices</h4>
                    <p class="text-muted">Exchange Content Offline</p>
                    <div class="portfolio-barrier-box col-md-12">
                        <div class="barrier-title">
                            <i class="fa fa-ban"></i>
                            <span>BARRIER</span>
                        </div>
                        <p>We already provide ways to leverage intermittent Internet access, but when devices are running in totally offline contexts, sharing and syncing is a cumbersome challenge.</p>
                    </div>
                    <div class="portfolio-solution-box col-md-12">
                        <div class="solution-title">
                            <i class="fa fa-lightbulb-o"></i>
                            <span>SOLUTION</span>
                        </div>
                        <p>No internet? No problem. Devices running Kolibri will be able to connect to each other over local wifi or LAN connections to share content, update software, and sync data.</p>
                    </div>
                    <p><a href="#portfolioModal2" data-toggle="modal">Learn More</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 colored-container">
            <div class="portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </div>
                    </div>
                    <img id="vv_1" src="{% static 'img/kickstarter/portfolio/vv_1.png' %}" style="display:none">
                    <img id="vv_2" src="{% static 'img/kickstarter/portfolio/vv_2.png' %}" style="display:none"><!-- a hack to get the image url -->
                    <svg id='svg_video_vectorization' viewBox="0 0 800 450"></svg>
                </a>
                <div class="portfolio-caption" href="#portfolioModal3" data-toggle="modal">
                    <h4>Vector Compressed Videos</h4>
                    <p class="text-muted">Download Any Amount of Content</p>
                    <div class="portfolio-barrier-box col-md-12">
                        <div class="barrier-title">
                            <i class="fa fa-ban"></i>
                            <span>BARRIER</span>
                        </div>
                        <p>Downloading videos the first time takes an inconveniently long time for those with low bandwidth, and storing huge libraries of video content poses a problem for devices with limited storage.</p>
                    </div>
                    <div class="portfolio-solution-box col-md-12">
                        <div class="solution-title">
                            <i class="fa fa-lightbulb-o"></i>
                            <span>SOLUTION</span>
                        </div>
                        <p>We’re developing an innovative tool to compress videos into a very low-bandwidth HTML5 format while retaining quality, so that thousands of videos can fit on a single 4GB device.</p>
                    </div>
                    <p><a href="#portfolioModal3" data-toggle="modal">TRY IT OUT!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>