{% load staticfiles %}

<div class="container-fluid below-fold2">
		<div class="row">
                        <div class="col-md-8 kolibri-statement" >
                        	 <img id="kolibri_logo" src="/static/img/kickstarter/about/kolibri.png">
                                <h1>Kolibri<h1>
                                <h2>Kolibri will bring high quality online educational content offline </h2>
                                <!-- <h3>For people who want to learn, but lack internet access</h3> -->
                                <div class="row use-cases ">
                                    <div class="col-md-3 use shift-down2">
                                        <img class="use-image" src="/static/img/kickstarter/use cases/use-1.png">
                                        <p>Orphanages</p>
                                
                                    </div>
                                    <div class="col-md-3 use shift-down">
                                        <img class="use-image" src="/static/img/kickstarter/use cases/use-2.png">
                                        <p>Refugee Camps</p>
                                    </div>
                                    <div class="col-md-3 use">
                                        <img class="use-image" src="/static/img/kickstarter/use cases/use-3.png">
                                        <p>After-School Programs</p>
                                    </div>
                                    <div class="col-md-3 use shift-down">
                                        <img class="use-image" src="/static/img/kickstarter/use cases/use-4.png">
                                        <p>Rural Schools</p>
                                    </div>
                                </div>

                        </div>
                        <div class="col-md-4 problem-statement">
                                <div class="col-md-12 top-box wow fadeInRight">
                                <img src="/static/img/kickstarter/about/story-2.png">
                            </div>
                            <div class="col-md-12 bottom-box wow fadeInRight" >
                                <img src="/static/img/kickstarter/about/story-1.png">
                            </div>
                        </div>
        </div>





		<!-- <img src="{% static 'img/kickstarter/about/kolibri.png' %}">
		<p>Kolibri</p>
	</div>
	<div class="col-md-4 col-md-offset-4">
		<span>Kolibri is an app that will bring high quality online educational content to people who want to learn, but lack Internet access.</span>
	</div> -->
</div>