{% load staticfiles %}

<div class="container feature-intro">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">EXPLORE HOW KOLIBRI WILL OVERCOME BARRIERS TO LEARNING</h2>
    </div>
    <div class="col-md-3 col-md-offset-3">
    	<p><i class="fa fa-lock lock"></i> <strong>= BARRIER</strong></p>
    </div>
    <div class="col-md-3">
    	<p><img class="kolibri-icon k" src="{% static 'img/kickstarter/portfolio/kolibri-icon.png' %}"><strong> = OUR SOLUTION</strong></p>
    </div>
</div>

<div id="tile-container">
	<div class="row tile-row-container-1">
		<div class="feature-tile first-tile col-md-4 col-sm-4 col-xs-12">
			<div id="no-internet" class="row feature-barrier"></div>
			<div class="row feature-solution">
				<div class="col-md-12 col-sm-12 feature-solution-text">
					<p>Do everything completely offline: download, save, share, and more</p>
				</div>
				<div><a class="trigger-modal" href="#portfolioModal0" data-toggle="modal">LEARN MORE</a></div>
			</div>
		</div>
		<div class="feature-tile col-md-4 col-sm-4 col-xs-12">
			<div id="curate" class="row feature-barrier"></div>
			<div class="row feature-solution">
				<div class="col-md-12 col-sm-12 feature-solution-text">
					<p>Curate high quality, customized educational content to better fit local communities</p>
				</div>
				<div><a class="trigger-modal" href="#portfolioModal1" data-toggle="modal">LEARN MORE</a></div>
			</div>
		</div>
		<div class="feature-tile last-tile col-md-4 col-sm-4 col-xs-12">
			<div id="out-of-box" class="row feature-barrier"></div>
			<div class="row feature-solution">
				<div class="col-md-12 col-sm-12 feature-solution-text">
					<p>Ready to use out of the box on a pre-installed, low-cost, custom-made Android tablet.</p>
				</div>
				<div><a class="trigger-modal" href="#portfolioModal0" data-toggle="modal">LEARN MORE</a></div>
			</div>
		</div>
	</div>


	<div class="row tile-row-container-2">
		<div class="feature-tile first-tile col-md-4 col-sm-4 col-xs-12">
			<div id="vector" class="row feature-barrier"></div>
			<div class="row feature-solution">
				<div class="col-md-12 col-sm-12 feature-solution-text">
					<p>Fit thousands of videos on a single 4GB memory card</p>
				</div>
				<div><a class="trigger-modal" href="#portfolioModal3" data-toggle="modal">TRY IT OUT!</a></div>
			</div>
		</div>
		<div class="feature-tile col-md-4 col-sm-4 col-xs-12">
			<div id="sync" class="row feature-barrier"></div>
			<div class="row feature-solution">
				<div class="col-md-12 col-sm-12 feature-solution-text">
					<p>Sync and share content and data over local wifi or LAN connections</p>
				</div>
				<div><a class="trigger-modal" href="#portfolioModal3" data-toggle="modal">LEARN MORE</a></div>
			</div>
		</div>
		<div class="feature-tile last-tile col-md-4 col-sm-4 col-xs-12">
			<div id="progress-report" class="row feature-barrier"></div>
			<div class="row feature-solution">
				<div class="col-md-12 col-sm-12 feature-solution-text">
					<p>Measure learner progress with progress reports, customized quizzes and exercises, and user feedback</p>
				</div>
				<div><a class="trigger-modal" href="#portfolioModal3" data-toggle="modal">LEARN MORE</a></div>
			</div>
		</div>
	</div>

</div>