{% load staticfiles %}

<h1 id="dreams">Help someone's dream take flight</h1>
<div id="footer-logo"><img id="footer-kolibri" src="{% static 'img/kickstarter/about/kolibri.png' %}"></div>
<h3 class="lowcase">Indiegogo campaign<br>Launches this Friday, October 16</h3>

<div class="foot_containor">
	<!-- <img id="footer-kolibri" src="{% static 'img/kickstarter/about/kolibri.png' %}"> -->
	<!-- <img id="footer-kickstarter" src="{% static 'img/kickstarter/kickstarter-logo.png' %}"> -->
    <div id="sign-up">
        <div id="mc_embed_signup">
            <div class="social_btns" id="footer-social-btns">
                <a class="fe_share_btn" href="https://www.facebook.com/sharer/sharer.php?u=learningequality.org/kolibri" target="_blank"><div class="fb_btn_2"><span class="fa-stack fa-3x"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></div></a>
                <!-- <div class="space_taker"></div> -->
                <a class="twitter_follow_btn" href="http://twitter.com/home?status=@LearnEQ is using innovative %23EdTech to help bridge the %23DigitalDivide. Learn more about their new platform, %23Kolibri http://bit.ly/1QAUOuV" target="_blank"><div class="tw_btn_2"><span class="fa-stack fa-3x"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></div></a>
                <!-- <div class="space_taker"></div> -->
                <a class="reddit_submit_btn" href="http://www.reddit.com/submit?url=https://learningequality.org/kolibri&amp;title="><div class="reddit_btn_2"><span class="fa-stack fa-3x"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-reddit fa-stack-1x"></i></span></div></a>
            </div>


            <!-- Mailchimp Form -->
            <iframe id="header-mailchimp" src="{% url 'mailchimp' %}" frameborder="0">
                <a href="partials/_kickstarter_mailchimp.html" target="_blank"></a>
            </iframe>
        </div>
    </div>
</div>