{% load staticfiles %}

<STYLE type="text/css">
    #kickstarter-header {
        height: 100vh;
    }
    .header-shadow {
        height: 70vh;
    }
</STYLE>
<link rel="stylesheet" href="/static/css/_kickstarter_parallax.css">
<link rel="stylesheet" href="/static/css/parallax_normalize.css">

<script src="{% static 'js/imagesloaded.js' %}"></script>
<script src="{% static 'js/skrollr.js' %}"></script>
<script src="{% static 'js/_main.js' %}"></script>

<div id="parallax">

    <!--  sep  8 -->
    <section id="slide-k">
        <div class="bcg" data-anchor-target="#slide-k">
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="slide-logo" data-center="opacity: 1" data-206-top="opacity: 1">
                        <img id="slide_logo" src="/static/img/kickstarter/about/kolibri.png">
                        <h1>Kolibri<h1>
                            <br>
                        <h2>Kolibri is an app that will bring high quality online education content to people who want to learn, but lack internet access. </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-k2">
        <div class="bcg" data-0="background-color:rgb(0, 0, 0);" data-top="background-color:(225, 225, 225);"  data-anchor-target="#slide-k2">
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="slide-k2-content" >
                       <div class="row">
                            <div class="col-md-6" data-center="opacity: 1" data--50-bottom="opacity: 0" data-106-top="opacity: 1">
                                <h1> No Internet Required</h1>
                                <br>
                                <h2> How do we educate the underpriviledged? By Providing 7000+ of the best online educational vidoes without the need for internet connection.</h2>
                            </div>
                            <div id="tablet" class="col-md-6" data--400-bottom="opacity: 1" data--120-bottom="opacity: 0" data-116-top="opacity: 1" data--106-top="opacity: 0">
                                <img id="slide_tablet" src="/static/img/kickstarter/tablet.png">
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </section>

    <!-- original -->
  <!--   <section id="slide-2">
        <div class="bcg" data-0="background-color:rgb(0, 0, 0);" data-top="background-color:(225, 225, 225);"  data-anchor-target="#slide-2">
            <div class="hsContainer">
                <div class="hsContent">
                    <div class="story-infographic" data-center="opacity: 1" data--200-bottom="opacity: 0" data-250-top="opacity: 1" data--106-top="opacity: 0">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/static/img/kickstarter/about/story-2.png">
                            </div>
                            <div class="col-md-6">
                                <img src="/static/img/kickstarter/about/story-1.png">
                            </div>
                        </div>
                    </div>

                    <h1 class="short-h1" data--270-bottom="opacity: 1" data--10-bottom="opacity: 0" data-250-top="opacity: 1" data-10-top="opacity: 0"  data-anchor-target="#slide-2 h2"> 2 years ago, </h1>
                    <h2 data-center="opacity: 1" data--10-bottom="opacity: 0" data-250-top="opacity: 1" data-10-top="opacity: 0" data-anchor-target="#slide-2 h2">we built KA Lite, an offline version of the online learning platform Khan Academy, and brought it to learners around the world. </h2>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-3" class="homeSlide">
        <div class="bcg" data-center="background-position: 0px 50%;" data-bottom-top="background-position: 0px 40%;" data-top-bottom="background-position: 0px 50%;" data-anchor-target="#slide-3">

            <div class="hsContainerbottom">
                <div class="hsContent plaxEl">
                        <div id="highlight" data-550-bottom="opacity: 1" data-900-bottom="opacity: 0" data--90-top="opacity: 1" data--130-top="opacity: 0" data-anchor-target="#slide-3">

                            <div class="highlight-content-1" data-300-top="opacity: 1" data-400-top="opacity: 0"  data-anchor-target="#slide-3">
                                <h2>Because KA Lite requires
                                <span class="content-break bold">No Internet Connection,</span>
                                it is being used in a wide variety of challenging contexts
                                </h2>

                                 <div id="line">
                                    <img src="/static/img/kickstarter/about/platforms/line2.svg">
                                </div>
                            </div>

                            <div class="highlight-content-2" data-60-top="opacity: 1" data-240-top="opacity: 0"  data--100-top="opacity: 1" data--200-top="opacity: 0" data-anchor-target="#slide-3">
                                <h1>
                                rural schools &middot;
                                orphanages &middot;
                                prisons &middot;
                                refugee camps &middot;
                                after school programs 
                                </h1>
                            </div>
                        </div>   



                        <div id="highlight2" data--100-bottom="opacity: 1" data--250-bottom="opacity: 1" data-100-bottom="opacity: 0" data--600-bottom="opacity: 0"data-anchor-target="#slide-3">  

                            <div class="highlight-content-3" data-100-bottom="opacity: 1" data-160-bottom="opacity: 0" data--330-bottom="opacity: 1" data--400-bottom="opacity: 0" data-anchor-target="#slide-3">
                                <h2>In these 2 years, KA Lite has reached learners in over
                                <span class="content-break bold">160+ COUNTRIES</span>
                                </h2>
                            </div>                 
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section id="slide-A">
        <div class="bcg" data-0="background-color:rgb(0, 0, 0);" data-top="background-color:(225, 225, 225);"  data-anchor-target="#slide-A">
            <div class="hsContainer">
                <div class="hsContent">
                    <h1 data--180-bottom ="opacity: 1" data--10-bottom="opacity: 0" data-106-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-A h2">NOW, WE NEED YOUR HELP <br><br></h1>
                    <h2 data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-10-top="opacity: 0" data-anchor-target="#slide-A h2">to build our next generation learning platform</h2>
                </div>
            </div>
        </div>
    </section>
        
    <section id="slide-4" class="homeSlide homeSlideTall">
        <div class="bcg" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 1px;" data-top-bottom="background-position: 50% 1px;" data-anchor-target="#slide-4">
            <div class="curtainContainer">
                <div class="curtain" data-bottom-top="opacity: 0" data-106-top="height: 100%; opacity: 0.85; top: 0%;" data-266-top="height: 100%; opacity: 0.7; top: 0%;" data-anchor-target="#slide-4">
                </div>
                <div class="copy" data-bottom-top="opacity: 0"  data-bottom="opacity: 1;"  data-anchor-target="#slide-4 .copy">
                     <img id="parallax_logo" src="/static/img/kickstarter/about/kolibri.png">
                     <h1 id="kolibri-logo-label">Kolibri</h1>
                     <h1 id="kolibri-one-liner">The platform to bring high-quality online educational content offline, for learners across the world without Internet access</h1>
                </div>

                
            </div>
        </div>
    </section>
    <section id="slide-w">
        <div class="bcg" data-0="background-color:rgb(0, 0, 0);" data-top="background-color:(225, 225, 225);"  data-anchor-target="#slide-w">
            <div class="hsContainer">
                <div class="hsContent">
                    <h2 data-bottom="opacity: 0" data--160-bottom="opacity: 1" data-anchor-target="#slide-w h2"><span class="content-intro">You can play a part</span>in helping us build critical tools to meet global needs</h2>
                    <h2 data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-w h2"></h2>
                </div>
            </div>
        </div>
    </section> -->
</div>


