{% load staticfiles %}

<h1 id="dreams">Help someone's dream take flight</h1>

<div class="foot_containor">
	<img id="footer-kolibri" src="{% static 'img/kickstarter/about/kolibri.png' %}">
	<!-- <img id="footer-kickstarter" src="{% static 'img/kickstarter/kickstarter-logo.png' %}"> -->
    <h3 class="lowcase">Join our October campaign!<br>Coming soon</h3>
    <iframe id="footer-mailchimp" src="{% url 'mailchimp' %}" frameborder="0" width="100%" height="200">
        <a href="partials/_kickstarter_mailchimp.html" target="_blank">Make a difference</a>
    </iframe>
    {% include "main/partials/_kickstarter_social_btns.html" %}
</div>
<!-- End mc_embed_signup -->