{% load staticfiles%}
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Divide</h2>
                    <h3 class="section-subheading text-muted">Understand why universal education is our cause.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education Inequality </h4>
                    <p class="text-muted">607 Million Children in the world lack access to a quality basic education.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Online Resources</h4>
                    <p class="text-muted">There are now more resources online than ever before for accessing high quality educational content for free in any subject.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">4.3 BILLION ARE DISCONNECTED</h4>
                    <p class="text-muted">This is the divide. The 60% of the world who could benefit the most from this tremendous opportunity lack the connectivity needed to access it.</p>
                </div>
            </div>
        </div>

        