{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/igg_integration.css' %}?asdfghjkl">
<!-- desktop version -->
<div class="sticky-signup">
    <div id="igg_progress">
        <div id="progress_outer">
            <div id="progress_text_1"><strong>0%</strong> funded</div>
            <div class="progress">
                <div id="talkbubble">$0</div>
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
            </div>
            <div id="progress_text_2"><strong>$250K</strong> goal</div>
        </div>
    </div>

    <div id="donor_carousel">
        <div class="inner_item"><img class="donor_icon" src="{% static 'img/kickstarter/donor_icon.png' %}"><div class="donor_info"></div></div>
        <div class="inner_item"><img class="donor_icon" src="{% static 'img/kickstarter/donor_icon.png' %}"><div class="donor_info"></div></div>
        <div class="inner_item"><img class="donor_icon" src="{% static 'img/kickstarter/donor_icon.png' %}"><div class="donor_info"></div></div>
        <div class="inner_item"><img class="donor_icon" src="{% static 'img/kickstarter/donor_icon.png' %}"><div class="donor_info"></div></div>
        <div class="inner_item"><img class="donor_icon" src="{% static 'img/kickstarter/donor_icon.png' %}"><div class="donor_info"></div></div>
        <div class="inner_item"><img class="donor_icon" src="{% static 'img/kickstarter/donor_icon.png' %}"><div class="donor_info"></div></div>
        <div class="inner_item"><img class="donor_icon" src="{% static 'img/kickstarter/donor_icon.png' %}"><div class="donor_info"></div></div>
        <div class="inner_item"><img class="donor_icon" src="{% static 'img/kickstarter/donor_icon.png' %}"><div class="donor_info"></div></div>
        <div class="inner_item"><img class="donor_icon" src="{% static 'img/kickstarter/donor_icon.png' %}"><div class="donor_info"></div></div>
    </div>
</div> 


<!-- small screen version -->
<!-- <div class="sticky-signup2" data-offset-top="200">
    <span>Sign up for updates on the campaign</span>
    <div class="donor_carousel">
        
    </div>
</div> -->

<script type="text/javascript">
    var summary_json = JSON.parse( '{{ summary_info|safe }}' );
    var all_contributors = JSON.parse( '{{ all_contributors|safe }}' );
    var contributor_index = 0;


// - - - - - - - - - igg progressbar - - - - - - - - - - - - - -
    $(function() {
        var collected_funds = summary_json.collected_funds;
        if(collected_funds){
            var progress_percent = $('#progress_text_1').children('strong');
            var talkbubble = $('#talkbubble');
            setTimeout(function(){
                animate_percentage(progress_percent, Math.round(collected_funds*100/250000), 1500);
                animate_money(talkbubble, collected_funds, 1500);
            }, 1500);

            update_igg_progress_bar(collected_funds);
        }

        $( window ).resize(function() {
            update_igg_progress_bar(collected_funds);
        });

// - - - - - - - - - donor carousel - - - - - - - - - - - - - -


        init_carousel($(".inner_item"));
        // setTimeout(move_carousel, 2000, $(".inner_item"));
        var all_carousel_items = $(".inner_item");
        setInterval(move_carousel, 4000, all_carousel_items);
    });

    function animate_percentage(element, percent, duration){
        $({percentage: 0}).stop(true).animate({percentage: percent}, {
            duration : duration,
            easing: 'easeOutExpo',
            step: function () {
                var percentageVal = Math.round(this.percentage);
                
                element.text(percentageVal + '%');
            }
        }).promise().done(function () {
            // hard set the value after animation is done to be
            // sure the value is correct
            element.text(percent + '%');
        });
    }

    function animate_money(element, money, duration){
        $({percentage: 0}).stop(true).animate({percentage: money}, {
            duration : duration,
            easing: 'easeOutExpo',
            step: function () {
                var percentageVal = Math.round(this.percentage);
                
                element.text('$' + percentageVal);
            }
        }).promise().done(function () {
            // hard set the value after animation is done to be
            // sure the value is correct
            element.text('$' + money);
        });
    }

    function update_igg_progress_bar(money){
        var funded_percent = Math.round(money*100/250000);
        $('.progress-bar').width(funded_percent+'%');
        $('#talkbubble').css("margin-left" , $('.progress').width()*funded_percent/100 - 40);
    }

    var gap = 0;
    var g = 0;
    var pre_fit;
    var carousel_pos;
    function update_carousel_item(elem, donation, donor){
        carousel_pos = elem.data('carousel_pos');

        pre_fit = $($(".inner_item")[7]).children('.donor_info');
        pre_fit.html("<div class='gold'>"+donation+"</div>"+donor);
        gap = 310 - pre_fit.width() - 60;

        if(carousel_pos == 0){
            elem.data("carousel_pos", 8);
            elem.translate3d({x:0, y:300, z:0}, 1000, "ease");
        }else if(carousel_pos == 1){
            elem.data("carousel_pos", 0);
            elem.css({"height": 10});
            g = gap - 120;
            elem.translate3d({x:g, y:0, z:0}, 1000, "ease");
        }else if(carousel_pos == 2){
            elem.data("carousel_pos", 1);
            elem.css({"height": 20});
            g = gap - 80;
            elem.translate3d({x:g, y:0, z:0}, 1000, "ease");
        }else if(carousel_pos == 3){
            elem.data("carousel_pos", 2);
            elem.css({"height": 30});
            elem.children('.donor_info').css({"opacity": 0});
            g = gap - 40;
            elem.translate3d({x:g, y:0, z:0}, 1000, "ease");
        }else if(carousel_pos == 4){   //this going to be the active item
            elem.data("carousel_pos", 3);
            var d_info = elem.children('.donor_info');
            d_info.html("<div class='gold'>"+donation+"</div>"+donor);
            d_info.css({"opacity": 1});
            // gap = 310 - d_info.width() - 60;
            elem.css({"height": 50});
            elem.translate3d({x:gap, y:0, z:0}, 1000, "ease");
        }else if(carousel_pos == 5){
            elem.data("carousel_pos", 4);
            elem.css({"height": 30});
            elem.translate3d({x:310, y:0, z:0}, 1000, "ease");
        }else if(carousel_pos == 6){
            elem.data("carousel_pos", 5);
            elem.css({"height": 20});
            elem.translate3d({x:350, y:0, z:0}, 1000, "ease");
        }else if(carousel_pos == 7){
            elem.data("carousel_pos", 6);
            elem.translate3d({x:390, y:0, z:0}, 1000, "ease");
        }else if(carousel_pos == 8){
            elem.data("carousel_pos", 7);
            elem.translate3d({x:450, y:0, z:0}, 1000, "ease");
        }
    }

    var donation = 50;
    var donor = "Anonymous";
    var temp_summary_json;
    function move_carousel(carousel_items) {
        //there we check see if new donation occured every time the carousel is moved
        temp_summary_json = JSON.parse( '{{ summary_info|safe }}' );
        if(temp_summary_json.collected_funds != summary_json.collected_funds){
            all_contributors = JSON.parse( '{{ all_contributors|safe }}' );
            summary_json = temp_summary_json;
        }

        if(contributor_index+1 == all_contributors.length){
            contributor_index = 0;
        }
        if(all_contributors){
            donation = (all_contributors[contributor_index].amount == null ? "&nbsp;" : '$'+all_contributors[contributor_index].amount);
            // donation = all_contributors[contributor_index].amount;
            donor = all_contributors[contributor_index].by;
        }
        contributor_index++;

        //it's important to reverse the order so that donor_info text width can be pre-determiined
        $(carousel_items.get().reverse()).each(function(index) {
            update_carousel_item($(this), donation, donor);
        });
    }

    function get_matrix_x(elem) {
        var matrix = elem.css('transform');
        var values = matrix.match(/-?[\d\.]+/g);
        return values[4];
    }

    function get_matrix_y(elem) {
        var matrix = elem.css('transform');
        var values = matrix.match(/-?[\d\.]+/g);
        return values[5];
    }

    //this is a custom jquery function for convenient access of hardware accelerate trnaslate3d
    ;(function($) {
        var delay = 0;
        $.fn.translate3d = function(translations, speed, easing, complete) {
            var opt = $.speed(speed, easing, complete);
            opt.easing = opt.easing || 'ease';
            translations = $.extend({x: 0, y: 0, z: 0}, translations);

            return this.each(function() {
                var $this = $(this);

                $this.css({ 
                    transitionDuration: opt.duration + 'ms',
                    transitionTimingFunction: opt.easing,
                    transform: 'translate3d(' + translations.x + 'px, ' + translations.y + 'px, ' + translations.z + 'px)'
                });

                setTimeout(function() { 
                    $this.css({ 
                        transitionDuration: '0s', 
                        transitionTimingFunction: 'ease'
                    });

                    opt.complete();
                }, opt.duration + (delay || 0));
            });
        };
    })(jQuery);

    // have to be odd number of items in the carousel
    function init_carousel(carousel_items) {
        if(all_contributors){
            donation = (all_contributors[contributor_index].amount == null ? "&nbsp;" : '$'+all_contributors[contributor_index].amount);
            donor = all_contributors[contributor_index].by;
        }
        contributor_index++;

        var d_info = $(carousel_items[3]).children('.donor_info');
        d_info.html("<div class='gold'>"+donation+"</div>"+donor);
        d_info.css({"opacity": 1});
        var init_gap = 310 - d_info.width() - 60;

        carousel_items.each(function(index) {
            switch (index) {
                case 0:
                    $(this).data("carousel_pos", 0);
                    $(this).css({"height": 10});
                    $(this).translate3d({x:init_gap-120, y:0, z:0}, 0);
                    break;
                case 1:
                    $(this).data("carousel_pos", 1);
                    $(this).css({"height": 20});
                    $(this).translate3d({x:init_gap-80, y:0, z:0}, 0);
                    break;
                case 2:
                    $(this).data("carousel_pos", 2);
                    $(this).css({"height": 30});
                    $(this).translate3d({x:init_gap-40, y:0, z:0}, 0);
                    break;
                case 3:   // this is the active item !  !  !  !  !
                    $(this).data("carousel_pos", 3);
                    $(this).css({"height": 50});
                    $(this).translate3d({x:init_gap, y:0, z:0}, 0);
                    break;
                case 4:
                    $(this).data("carousel_pos", 4);
                    $(this).css({"height": 30});
                    $(this).translate3d({x:310, y:0, z:0}, 0);
                    break;
                case 5:
                    $(this).data("carousel_pos", 5);
                    $(this).css({"height": 20});
                    $(this).translate3d({x:350, y:0, z:0}, 0);
                    break;
                case 6:
                    $(this).data("carousel_pos", 6);
                    $(this).css({"height": 10});
                    $(this).translate3d({x:390, y:0, z:0}, 0);
                    break;
                case 7:
                    $(this).data("carousel_pos", 7);
                    $(this).css({"height": 10});
                    $(this).translate3d({x:450, y:0, z:0}, 0);
                    break;
                case 8:
                    $(this).data("carousel_pos", 8);
                    $(this).css({"height": 10});
                    $(this).translate3d({x:0, y:300, z:0}, 0);
                    break;
            }
        });
    }
</script>
