{% load staticfiles %}

<!-- Social Media & Marketing Intern -->
<div class="well" id="social_media_intern">
    <h5><strong>Social Media &amp; Marketing Intern</strong></h5>
    Responsibilities include:
    <ul>
        <li>
            Writing blog posts
        </li>
        <li>
            SEO for our sites 
        </li>
        <li>
            Targeted outreach on Twitter/FB/LinkedIn/AngelList for funding, PR, and recruiting
        </li>
    </ul>
    Experience with the following preferred:
    <ul>
        <li>
            Principles of SEO
        </li>
        <li>
            Principles of social media engagement  
        </li>
        <li>
            Great writing skills
        </li>
    </ul>
    To apply, you’ll need:
    <ul>
        <li>
            A brief cover letter (300 words or less on why you’d like to work with us)
        </li>
        <li>
            A link to your resume or LinkedIn
        </li>
        <li>
            Links to Facebook, Twitter, or LinkedIn profiles/pages that you’ve worked on
        </li>
    </ul>
    Ready to apply? <a href="https://docs.google.com/a/learningequality.org/forms/d/17JgpzI_s9cLS1Ed6qELIfFN2QwQOTL1ygrw4tpc0I3I/viewform">Fill out an application!</a>
</div>