{% extends base_template %}
{% load staticfiles %}

{% block title %}KA Lite{% endblock title %}

{% block bodycontents %}
  <!-- Blue header --> 
  <div class="container-fluid" id="ka-lite-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <img src='{% static "img/ka-lite/ka-lite-logo-horizontal.png" %}' alt="KA Lite" class="headerimg">
        </div>
      </div>
      {% block pageheader %}{% endblock pageheader %}
    </div>
  </div>
  <!-- KA Lite fixed in-page nav --> 
  {% include "ka_lite/partials/_inner_nav.html" %}
  {% block pagecontents %}{% endblock pagecontents %}

<!-- Script for smooth scrolling --> 
<script type="text/javascript">
  var $root = $('html, body');
  $('a').not('#this-carousel-id a').click(function(){
    console.log("blah")
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
  });
</script>

{% endblock bodycontents %}