{% extends 'ka_lite/base.html' %}

{% load staticfiles %}

{% block title %}FAQ{% endblock title %}

{% block bodycontents %}
<div class="container-fluid white">
	<div class="container">
	  <div class="row">
	  	<div class="col-md-3 hidden-sm hidden-xs">
	  		<div id="faq-nav" class="affix-top" data-spy="affix" data-offset-top="50">
	  			<div class="panel panel-default">
	  				<div class="panel-heading">
	  					<h3 class="panel-title">
	  						<a href="{% url 'ka_lite' %}">&#8592; Back to KA Lite</a>
	  					</h3>
	  				</div>
	  				<div class="panel-body">
	  					<ul>
	  						{% for topic, questions in faq.items %}
	  							<li><a href="#{{ topic.slug }}">{{ topic.name }}</a></li>
	  						{% endfor %}
	  					</ul>
	  				</div>
	  				<div class="panel-footer">
	  					<h3 class="panel-title">
	  						<a href="#" class="scroll-to-top" title="Back to top of page">&#8593; Back to Top</a>
	  					</h3>
	  				</div>
	  			</div>
	  			
	  		</div>
	  	</div>
	    <div class="col-md-9 col-sm-12">
	      <h2>KA Lite Frequently Asked Questions </h2>
	      <div class="visible-sm visible-xs">
	      	<h4>
	      		<a href="{% url 'ka_lite' %}">&#8592; Back to KA Lite</a>
	      	</h4>
	      	<a href="#" id="back-top-chevron" class="btn btn-primary btn-md scroll-to-top" role="button" title="Back to top page"><span class="glyphicon glyphicon-chevron-up"></span></a>
	      </div>
	      <!-- Questions section --> 
	      {% for topic, questions in faq.items %}
		      <div class="panel panel-default" id="{{ topic.slug }}">
		      	<div class="panel-heading">
		      		<h3 class="panel-title">{{ topic.name }}</h3>
		      	</div>
		      	<div class="list-group">
		      	{% for q in questions %}
			      	<a name="faq-question-{{ q.slug }}" href="#faq-question-{{ q.slug }}" class="list-group-item"><h4>{{ q.text }}</h4></a>
			      {% endfor %}
			     	</div>
			    </div>
			  {% endfor %}
			  <!-- Answers section -->
	      <div class="panel panel-default">
	      	<div class="panel-heading">
	      		<h3 class="panel-title">Answers</h3>
	      	</div>
	      	<div class="list-group" id="faq-answers">
			  	{% for topic, questions in faq.items %}
		      	{% for q in questions %}
			      	<div id="faq-question-{{ q.slug }}" class="list-group-item">
			      		<h4 class="list-group-item-heading"><strong>{{ q.text }}</strong></h4>
			      		<p class="list-group-item-text">{{ q.answer | safe }}</p>
			      	</div>
			      {% endfor %}
			    {% endfor %}
      		</div>
      	</div>
	    </div>
	  </div>
	</div>
</div>



<script type="text/javascript">
	// script to toggle active state of answer box
	$("a[href^='#faq-question-']").click(function() {
		$("div[id^='faq-question-'").removeClass('active');
		$("div[id='" + this.name + "'").addClass('active');
	});

	$('a').not('.scroll-to-top').click(function(){
	    var bump = 50;
	    var $root = $('html, body');
	    $root.animate({
	        scrollTop: $( $.attr(this, 'href') ).offset().top - bump
	    }, 600);
	    return false;
	  });

	$(document).ready(function(){
		$(window).scroll(function () {
	        if ($(this).scrollTop() > 200) {
	        	console.log("past 200");
	            $('#back-top-chevron').fadeIn();
	        } else {
	            $('#back-top-chevron').fadeOut();
	        }
	    });
	});
</script>

{% endblock bodycontents %}