{% extends 'ka_lite/base.html' %}

{% load staticfiles %}

{% block title %}FAQ{% endblock title %}

{% block bodycontents %}
<div class="container-fluid white">
	<div class="container">
	  <div class="row">
	    <div class="col-md-12">
	      <h2 id="faq_top">KA Lite Frequently Asked Questions </h2>
	      <div class="pull-right" id="back_kalite" ><a class="btn btn-sm btn-default" href="{% url 'ka_lite' %}">&#8592; Back to KA Lite</a></div>
	      <div class="clearfix"></div>
	      <!-- Questions section --> 
	      {% for topic, questions in faq.items %}
		      <div class="panel panel-default">
		      	<div class="panel-heading">
		      		<h3 class="panel-title">{{ topic.name }}</h3>
		      	</div>
		      	<div class="list-group">
		      	{% for q in questions %}
			      	<a name="faq-question-{{ q.slug }}" href="#faq-question-{{ q.slug }}" class="list-group-item"><h4>{{ q.text }}</h4></a>
			      {% endfor %}
			     	</div>
			    </div>
			  {% endfor %}
			  <!-- Answers section -->
	      <div class="panel panel-default">
	      	<div class="panel-heading">
	      		<h3 class="panel-title">Answers</h3>
	      	</div>
	      	<div class="list-group" id="faq-answers">
			  	{% for topic, questions in faq.items %}
		      	{% for q in questions %}
			      	<div id="faq-question-{{ q.slug }}" class="list-group-item">
			      		<h4 class="list-group-item-heading"><strong>{{ q.text }}</strong></h4>
			      		<p class="list-group-item-text">{{ q.answer | safe }}</p>
			      	</div>
			      {% endfor %}
			    {% endfor %}
      		</div>
      	</div>
	    </div>
	  </div>
	</div>
	<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Back to top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>



<script type="text/javascript">
	// script to toggle active state of answer box
	$("a[href^='#faq-question-']").click(function() {
		$("div[id^='faq-question-'").removeClass('active');
		$("div[id='" + this.name + "'").addClass('active');
	});
</script>

<script type="text/javascript">
$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
               scrollTop: target.offset().top
        }, 1000);
            return false;
        });
        
        $('#back-to-top').tooltip('show');

});
</script>

{% endblock bodycontents %}