{% extends 'ka_lite/base.html' %}
{% load staticfiles %}

{% block pageheader %}
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h1>An offline version of Khan Academy.</h1>
    <p>A free lightweight solution providing high-quality education where you need it most.  Bringing the power of online learning to the offline world.</p>
    <a href="#download" class="btn btn-success btn-lg" title="Download KA Lite"><i class="fa fa-cloud-download"></i>
        Download
    </a>
    <a href="http://demo.learningequality.org" class="btn btn-success btn-lg" title="Explore an online installation of KA Lite"><i class="fa fa-plug"></i>
        Demo
    </a>
    <a href="{% url 'give' %}" class="btn btn-success btn-lg" title="Donate to the further development of KA Lite"><i class="fa fa-heart"></i>
        Donate
    </a>
     <a href="{% url 'infographic' %}" class="btn btn-success btn-lg" title="Learn how to deploy KA Lite"><i class="fa fa-paper-plane"></i>  
       Deploy
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center new-user">
  <a href="https://hub.learningequality.org/">Returning users, access your data.</a>
  </div>
</div>
{% endblock pageheader %}

{% block pagecontents %}
<div id="ka-lite-content">
  <!-- Important!! ID hashes are used for both styling and navigation -->
  <div id="overview" class="ka-lite-section">
    {% include "ka_lite/sections/overview.html" %}
  </div>
  <div id="community" class="ka-lite-section">
    {% include "ka_lite/sections/community.html" %}
  </div>
  <div id="support" class="ka-lite-section">
    {% include "ka_lite/sections/support.html" %}
  </div>
  <div id="download" class="ka-lite-section">
    {% include "ka_lite/sections/download.html" %}
  </div>
</div>

<!-- Scrollspy -->
<script type="text/javascript">
  $('body').scrollspy({ 
    target: '#ka-inner-nav',
    offset: 120
  });

  $('a').not('#this-carousel-id a').not('.scroll-to-top').click(function(){
    var bump = $("#ka-inner-nav").hasClass("affix-top") ? 90 : 0;
    var $root = $('html, body');
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top - bump
    }, 600);
    return false;
  });
</script>
{% endblock pagecontents %}

{% block footerspacing %}{% endblock %}