{% extends 'ka_lite/base.html' %}
{% load staticfiles %}

{% block pageheader %}
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h1>An offline version of Khan Academy.</h1>
    <p>A free lightweight solution providing high-quality education where you need it most.  Bringing the power of online learning to the offline world.</p>
    <a href="#download" class="btn btn-primary btn-lg">
        Download
    </a>
    <a href="http://demo.learningequality.org" class="btn btn-default btn-lg">
        Demo
    </a>
  </div>
</div>
{% endblock pageheader %}

{% block pagecontents %}
<div id="ka-lite-content">
  <!-- Important!! ID hashes are used for both styling and navigation -->
  <div id="overview" class="ka-lite-section">
    {% include "ka_lite/sections/overview.html" %}
  </div>
  <div id="community" class="ka-lite-section">
    {% include "ka_lite/sections/community.html" %}
  </div>
  <div id="support" class="ka-lite-section">
    {% include "ka_lite/sections/support.html" %}
  </div>
  <div id="download" class="ka-lite-section">
    {% include "ka_lite/sections/download.html" %}
  </div>
</div>

<!-- Scrollspy -->
<script type="text/javascript">
  $('body').scrollspy({ 
    target: '#ka-inner-nav',
    offset: 120
  });
</script>
{% endblock pagecontents %}