{% extends base_template %}
{% load staticfiles %}
{% load jsonify %}

{% block extrahead %}
    <style>
        /* Prevent scrolling on this page only */
        body {
            overflow: hidden;
        }
        /* For the legend */
        #legend-container, #share-container, #title-container {
            background-color: rgba(255, 255, 255, 0.64);
            border: 2px solid black;
            border-radius: 7px;
        }
        #legend-container {
            text-align: left;
            margin-top: 1%;
            margin-right: 1%;
        }
        #title-container {
            margin-top: 1%;
        }
        #title-container > h1 {
            padding-left: 10px;
            padding-right: 10px;
        }
        #logo-text {
            position: relative;
            top: 10px;
        }        
        .banner-logo {
            display: inline;
        }
        #ka-lite-logo {
            height: 50px;
        }
        #fle-logo {
            height: 60px;
        }
        #share-container{
            text-align: center;
            margin-bottom: 1%;
            margin-right: 1%;
        }
        .legend-row {
            font-family: Arial, sans-serif;
            font-size: 12px;
            padding: 5px;
        }
        #share-container > a, #share-container > button {
            margin: 10px;
        }
        #deployment-icon {
            width:35px;
            height:35px;
        }
        #installation-icon {
            margin-left:8px;
        }
        #deployment-text {
            position:relative;
            top:10px;
        }
        #installation-text {
            margin-left: 6px;
        }

        .infobox {
            position: relative;
            background: #fff;
            border: 4px solid rgba(213, 213, 213, 0.5);
            padding: 3px 6px;
            border-radius: 5px;
        }
        .infobox:after, .infobox:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .infobox:after {
            border-color: rgba(255, 255, 255, 0);
            border-top-color: #fff;
            border-width: 12px;
            margin-left: -12px;
        }
        .infobox:before {
            border-color: rgba(213, 213, 213, 0);
            border-top-color: rgba(213, 213, 213, 0.5);
            border-width: 18px;
            margin-left: -18px;
        }
        .deployment-carousel-img {
            height: 350px;
            position: relative;
        }
        .deployment-carousel-img img {
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            max-width: 100%;
            max-height: 100%;
        }
        /* Responsive for phones */
        @media (max-width: 768px) {
            #logo-text {
                display:none;
            }
            #ka-lite-logo {
                height: 30px;
            }
            #fle-logo {
                height: 45px;
            }
            h1 {
                margin-top: 2px;
                margin-bottom: 8px;
            }
            .btn-responsive {
                padding:4px 9px;
                font-size:90%;
                line-height: 1.2;
            }
            #deployment-icon {
                width:25px;
                height:25px;
            }
            #installation-icon {
                height: 25px;
                margin-left: 5px;
            }
        }

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUVMGp6Uks8OCczFfrWo20zHnmENyW5O0"></script>
    <script src="{% static 'js/infobox.js' %}"></script>

    <script>

        function showDeployments(map) {
            // Add deployment markers 
            var deployments = {{ deployments|jsonify }};

            var iconSize = new google.maps.Size(35, 35);

            for (var i = 0; i < deployments.length; i++) {
                var fields = deployments[i].fields;
                var title = fields.title;
                var slug = fields.slug;
                var latLng = new google.maps.LatLng(fields.latitude, fields.longitude);

                var iconImage;
                if (fields.photo_gallery) {
                    iconImage = '{% static "img/ka-lite/icons/ranger_station_pics.png" %}';
                } else {
                    iconImage = '{% static "img/ka-lite/icons/ranger_station.png" %}';
                }

                var rangerIcon = {
                    url: iconImage,
                    scaledSize: iconSize
                };
                
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    slug: slug,
                    icon: rangerIcon,
                    zIndex: 100000000,
                    infoBoxContent: title + " (click for more info)"
                });
                createInfoBox(map, marker);
                // modal open on click
                google.maps.event.addListener(marker, 'click', function() {
                    window.location.hash = this.slug;
                    $('#' + this.slug).modal();
                });
            }
        }

        function drawLegend(map) {
            var legend = document.createElement('div');
            legend.setAttribute('id', 'legend-container');
            legend.innerHTML = "<div class='legend-row'><img id='deployment-icon' src='{% static 'img/ka-lite/icons/ranger_station.png' %}' alt='KA Lite Deployment' /><span id='deployment-text'>&nbsp;Deployment</span></div><div class='legend-row'><img id='installation-icon' src='https://maps.google.com/mapfiles/marker.png' alt='KA Lite Installation' /><span id='installation-text'>&nbsp;Installation</span></div>";
            map.controls[google.maps.ControlPosition.RIGHT_TOP].push(legend);
        }

        function drawActionButtons(map) {
            var shareContainer = document.createElement('div');
            shareContainer.setAttribute('id', 'share-container');
            var aboutMapButton = "<button id='about-this-map-btn' class='btn btn-primary btn-responsive'>About this Map</button>";
            var storyShareBtn = "<a href='{% url 'map_add' %}' class='btn btn-primary btn-responsive'>Add your story!</a>";
            var tweetThisBtn = "<a href='http://twitter.com/home?status=Check%20out%20%40LearnEQ%20%27s%20map%20of%20known%20%40ka_lite%20deployments%20and%20installations%20around%20the%20world!%20https%3A%2F%2Flearningequality.org%2Fka-lite%2Fmap%2F'class='btn btn-primary btn-responsive'>Tweet this map!</a>";
            shareContainer.innerHTML = aboutMapButton + storyShareBtn + tweetThisBtn;
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(shareContainer);
        }

        function drawTitleBar(map) {
            var titleContainer = document.createElement('div');
            titleContainer.setAttribute('id', 'title-container');
            var bannerContent = "<h1><a href='{% url 'ka_lite' %}'><img id='ka-lite-logo' src='{% static 'img/ka-lite/ka-lite-logo-horizontal.png' %}' alt='KA Lite' class='img-responsive banner-logo'></a> by <a href='{% url 'mission' %}'><img id='fle-logo' src='{% static 'img/fle-prov-logo-small.png' %}' alt='The Foundation for Learning Equality logo' class='img-responsive banner-logo'/></a></h1>";
            titleContainer.innerHTML = bannerContent;
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(titleContainer);
        }

        function handleHash(map) {
            // Trigger modal if hash
            var hash = window.location.hash;
            if (hash === '#about-map') {
                $('#about-this-map-modal').modal('show');
            } else if (hash) {
                // Center map on deployment
                var modalObj = $(hash);
                var longitude = modalObj.attr("data-longitude");
                var latitude = modalObj.attr("data-latitude");
                setTimeout(function() {
                    map.setCenter(new google.maps.LatLng(latitude, longitude));
                    map.setZoom(5);
                }, 500);
                $(hash).modal('show');
            }
        }

        var infoBoxDefaults = {
            disableAutoPan: true,
            pixelOffset: new google.maps.Size(-250, -70),
            zIndex: 100000000,
            boxStyle: {
                opacity: 0.85,
                width: "500px",
                "text-align": "center",
                "font-size": "13px"
            },
            closeBoxURL: "",
            infoBoxClearance: new google.maps.Size(1, 1),
            isHidden: false,
            pane: "floatPane",
            enableEventPropagation: false
        };

        function createInfoBox(map, marker) {
            // Create info window that appears on hover for marker

            var infoBoxOptions = _.extend({}, infoBoxDefaults, {
                content: "<span class='infobox'>" + marker.infoBoxContent + "</span>"
            });

            var infobox = new InfoBox(infoBoxOptions);

            google.maps.event.addListener(marker, 'mouseover', function() {
                infobox.open(map, this);
            });

            google.maps.event.addListener(marker, 'mouseout', function() {
                infobox.close();
            });

        }

        function display_locations(locations) {
            // Create map 
            $("#map_canvas").height($(window).height());
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                mapTypeId: google.maps.MapTypeId.HYBRID,
                mapTypeControl: false,
                panControl: false,
                zoomControl: true,
                streetViewControl: false
            });

            var defaultBounds = new google.maps.LatLngBounds(
                                new google.maps.LatLng(70, -100),
                                new google.maps.LatLng(-60, 100));
                                map.fitBounds(defaultBounds);

            function placeInstallPins(map, locations) {

                _.each(locations, function(item){
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.latitude, item.longitude),
                        map: map,
                        cursor: 'default',
                        zIndex: 1,
                        infoBoxContent: item.name
                    });
                    createInfoBox(map, marker);
                });

                // Once install pins have been placed, draw everything else
                showDeployments(map);
                drawLegend(map);
                drawActionButtons(map);
                drawTitleBar(map);
                setTimeout(function(){ map.setZoom(3) }, 500);
                setTimeout(handleHash(map), 1000);
            }
            setTimeout(placeInstallPins(map, locations), 500);
        }
        
        $.getScript("{{ LOCATIONS_JSONP_URL }}");

        $(function() {
            $('body').on('click', '#about-this-map-btn' , function() {
                window.location.hash = 'about-map';
                $('#about-this-map-modal').modal();
            });
        });


    </script>
{% endblock extrahead %}

{% block title %}
    Deployments Map
{% endblock title %}

{% block navigationoverride %}
    {# This page intentionally left blank #}
{% endblock navigationoverride %}

{% block bodyoverride %}
    <div id="map-container">
        <img id="loading-gif" src="{% static 'img/ka-lite/loading.gif' %}">
        <div id="map_canvas"></div>
    </div>            
    {% include "ka_lite/partials/_map_modal_content.html" %}
    {% include "ka_lite/partials/_about_map_modal.html" %}
{% endblock bodyoverride %}

{% block footerspacing %}{% endblock %}
    
{% block footeroverride %}
    {# This page intentionally left blank #}
{% endblock footeroverride %}
