{% extends base_template %}
{% load staticfiles %}

{% block title %}Add a deployment{% endblock title %}

{% block bodycontents %}
<div class="container">
    <div class="col-sm-12">

        {{ deployment_form.non_field_errors }}

        <form action="." enctype="multipart/form-data" method="POST" class="form-horizontal" role="form">
            {% csrf_token %}

            <div class="form-group">
                <h2>Please tell us more about your deployment!</h2>
            </div>

            <h3>Required fields</h3><br/>

            {% for field in deployment_form %}

                {% if field.name == "start_date_raw" %}
                <h3>Optional fields</h3><br/>
                {% endif %}

                <div class="form-group">

                    <div class="col-sm-2 control-label">
                        {{ field.label_tag }}{% if field.field.required %} *{% endif %}
                    </div>
                    <div class="col-sm-10">
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                        ({{ field.help_text }})
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-sm-2 control-label">
                (* = required field)
                </div>
                <div class="col-sm-10 text-center">
                </div>
            </div>

            <h3>Upload photos!</h3><br/>

            <p>We love seeing your photos, and we love <a target="_blank" href="{% url "map" %}">sharing them on the map</a> even more! If you have more photos than will fit here, or want to include videos, etc, please email them to <a href="stories@learningequality.org">stories@learningequality.org</a> instead.</p>

            {{ photo_formset.management_form }}

            {% for form in photo_formset.forms %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <div class="form-group">

                        <div class="col-sm-3">
                            {{ form.picture }}
                            {{ form.picture.errors }}
                        </div>

                        <div class="col-sm-9">
                            {{ form.caption }}
                            {{ form.caption.errors }}
                        </div>

                </div>
            {% endfor %}

            <br/><br/>

            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <input type="submit" value="Submit deployment story!" class="btn btn-info" />
                </div>
            </div>

        </form>

    </div>
</div>
{% endblock bodycontents %}
