{% extends 'ka_lite/base.html' %}
{% load staticfiles %}

{% block pageheader %}
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h1>An offline version of Khan Academy.</h1>
    <p>A free lightweight solution providing high-quality education where you need it most.  Bringing the power of online learning to the offline world.</p>
    <a href="https://sites.google.com/a/learningequality.org/kalite/installation target='_blank'" class="btn btn-primary btn-lg">
        Download
    </a>
    <a href="http://demo.learningequality.org" class="btn btn-default btn-lg">
        Demo
    </a>
  </div>
</div>
{% endblock pageheader %}

{% block pagecontents %}
<div id="overview-contents">
  <!-- No Internet Required Section -->
  <div class="container-fluid off-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src='{% static "img/ka-lite/no_internet.jpg" %}' alt="No Internet Required" class="overview-pic">
        </div>
        <div class="col-md-6">
          <h2>No Internet Required</h2>
          <p>KA Lite is open-source software that mimics the online experience of Khan Academy for offline situations. Running KA Lite as a local server, you can watch Khan Academy videos, do Khan exercises, and track student progress -- all without needing an Internet connection!</p>
        </div>
      </div> 
    </div>
  </div> <!-- End no Internet Required Section -->

  <!-- Videos & Exercises Section -->
  <div class="container-fluid white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Over 4,000 Videos and Interactive Exercises</h2>
          <p>KA Lite offers instructional videos from Khan Academy on math, science, history, economics and matches the common core standards. We provide a diverse collection of math exercises for students that generates immediate feedback, provides step-by-step solutions, and works through a point system to encourage continued practice of material.</p>
        </div>
        <div class="col-md-6">
          <img src='{% static "img/ka-lite/exercise_overview.png" %}' class="overview-pic" alt="No Internet Required">
        </div>
      </div> 
    </div>
  </div> <!-- End Videos & Exercises Section -->

  <!-- Personal, Classroom, or School -->
  <div class="container-fluid off-white">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h2>Customizable for personal, classroom, or school usage</h2>
          <p>KA Lite has been used individually in various situations, including a home schooling family on their road trip, a classroom full of students in India, and an entire correctional facility in Idaho.</p>
        </div>
        <div class="col-md-4">
          <img src='{% static "img/ka-lite/personal.png" %}' class="customizable-pic" alt="Personal KA Lite use">
        </div>
        <div class="col-md-4">
          <img src='{% static "img/ka-lite/classroom.png" %}' class="customizable-pic" alt="Classroom KA Lite use">
        </div>
        <div class="col-md-4">
          <img src='{% static "img/ka-lite/school.png" %}' class="customizable-pic" alt="School KA Lite use">
        </div>
      </div>
  </div> <!-- End Personal, Classroom, or School -->

  <!-- Track Performance -->
  <div class="container-fluid white">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <h2>Track Performance</h2>
          <p>Students can work their way through the content at their own pace, and visualize their progress through a knowledge map. Teachers have access to student reports analyzing statistics on class performance including progress, effort, and needs. Student data reports can be synced between classrooms and facilities, in addition to being stored online.</p>
        </div>
        <div class="col-md-12">
          <img src='{% static "img/ka-lite/overview_progress.png" %}'alt="Thousands of Exercises and Videos" class="img-thumbnail">
        </div>
      </div>
  </div> <!-- End Track Performance -->

  <!-- No Internet Required Section -->
  <div class="container-fluid off-white">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6">
          <img src='{% static "img/ka-lite/nalanda_download.jpg" %}' alt="Download KA Lite" class="overview-pic">
        </div>
        <div class="col-md-6">
          <h2>KA Lite version 0.12</h2>
          <a href="https://sites.google.com/a/learningequality.org/kalite/installation target='_blank'" class="btn btn-primary btn-lg">
              Download
          </a>
          <div class="row">
            <div class="col-md-4">
              <a href="#">
                <img src='{% static "img/ka-lite/learnmore.png" %}' alt="Download KA Lite" class="action-icons">
                <h3>Learn More</h3>
              </a>
            </div>
            <div class="col-md-4">
              <img src='{% static "img/ka-lite/contact.png" %}' alt="Download KA Lite" class="action-icons">
              <h3>Connect</h3>
            </div>
            <div class="col-md-4">
              <img src='{% static "img/ka-lite/faq.png" %}' alt="Download KA Lite" class="action-icons">
              <h3>FAQ</h3>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div> <!-- End no Internet Required Section -->

</div>
{% endblock pagecontents %}