{% extends 'ka_lite/base.html' %}
{% load staticfiles %}

{% block ka_lite_partner_active %}active{% endblock ka_lite_partner_active %}

{% block section_title %}
    Partner With Us
{% endblock section_title %}

{% block ka_lite_bodycontents %}
    <!-- Deploying Partners -->
    <div class="row well">
        <div class="row col-sm-12 col-xs-12">
            <h2>Deploy KA Lite With Us!</h2>
            <p>
                <ul>
                    <li>
            Looking for technical experts to customize KA Lite for your large-scale deployment needs?
            </li>
            <li>
            Have an idea for a grant application that KA Lite can be a central cog?
            </li></ul></p>
        </div>
        <div class="row col-sm-12 col-xs-12">
            <button class="btn btn-primary btn-success">Tell us about your partnership idea!</button>
        </div>

        <div class="row col-sm-12 col-xs-12">
            <p>&nbsp;</p>
            <p>Read about our partnered deployments:</p>

            <div class="col-sm-4 col-xs-12">
                <a href="javascript:alert('Idaho Department of Correction popup');">
                    <h4>Idaho Department of Correction</h4>
                    <img src="http://placehold.it/200x100">
                </a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="javascript:alert('Nalanda popup');">
                    <h4>Nalanda<br/>&nbsp;</h4>
                    <img src="http://placehold.it/200x100">
                </a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="javascript:alert('Stanford Medicine popup');">
                    <h4>Stanford Medicine<br/>&nbsp;</h4>
                    <img src="http://placehold.it/200x100">
                </a>
            </div>
        </div>
    </div>

    <!-- Sponsors -->
    <div class="col-sm-12 col-xs-12">
        <div class="well">
            <h2>Sponsor Us</h2>
            <p>When great organizations provide us with tools to help build and maintain KA Lite, we do great things.</p>
            <p>Would your company or organization be interested in providing services to help our mission?</p>
            <p>Does your company or organization participate in a corporate matching program?</p>
            <button class="btn btn-primary btn-success">Contact Us Today</button>
        </div>
    </div>
</div>

{% endblock ka_lite_bodycontents %}