{% extends 'ka_lite/base.html' %}

{% load staticfiles %}

{% block title %}Partner With Us{% endblock title %}

{% block ka_lite_partner_active %}active{% endblock ka_lite_partner_active %}

{% block ka_lite_content %}

<div class="row">
  <div class="col-xs-12">
    <h1>Partner With Us</h1>
  </div>
</div>


<div class="row">
    <!-- Deploying Partners -->
    <div class="col-sm-6 col-xs-12">
        <div class="well">
            <h2>Deploy KA Lite</h2>
            <p>Join the xxxx organizations that are deploying KA Lite in schools and communities that they serve and bringing unprecedented access to high-quality educational resources to the communities they serve!</p>
            <button class="btn btn-primary btn-success">Show me the options</button>
        </div>
    </div>
    <!-- Sponsors -->
    <div class="col-sm-6 col-xs-12">
        <div class="well">
            <h2>Sponsor Us</h2>
            <p>We depend on great organizations to provide us with the tools we need to continue building and maintaining KA Lite. Do you think your company or organization would be interested in providing your services? Participating in a corporate matching program?</p>
            <button class="btn btn-primary btn-success">Contact Us Today</button>
        </div>
    </div>
</div>

{% endblock ka_lite_content %}