{% extends 'ka_lite/base.html' %}
{% load staticfiles %}

{% block ka_lite_what_active %}active{% endblock %}

{% block section_title %}Product Comparison{% endblock section_title %}
{% block ka_lite_bodycontents %}
    <div class="row">
        <div class="col-xs-12">
        	<p>
        		KA Lite is not the only way to access Khan Academy content in offline settings. Other popular alternatives exist and are maintained by absolutely top-notch people (we would know -- we've talked to them!) Below, we've done our best to show the difference between KA Lite and a few of these alternatives.</p> 
        	<p>
        		This is not an exhaustive list. Check out <a href="https://www.khanacademy.org/downloads">Khan Academy's list of alternatives</a>, and World Possible's <a href="http://www.rachelfriends.org/index.html">RACHEL</a>, which combines KA on a Stick with other free learning resources to create the <a href="http://rachel.worldpossible.org/">RACHEL USB</a> and the KA-Pi to create the <a href="http://pi.worldpossible.org/">RACHEL-Pi</a>.
        	</p>
            <table class="table table-responsive center-text" id="product-comparison-table">
                <thead>
                    <tr>
                        <td>
                            <h2>Features</h2>
                        </td>
                        <td>
                            <h2>KA Lite</h2>
                        </td>
                        <td>
                            <h2>KA on a Stick</h2>
                        </td>
                        <td>
                            <h2>KA-Pi</h2>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>Watch Khan Videos Offline</p>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Do Khan Exercises Offline</p>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Individual Student, Teacher, &amp; Admin Logins</p>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Progress Tracking on Videos &amp; Exercises</p>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Coach Reporting Tools</p>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Ability to Sync Usage Data with Online Repository</p>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Create local WiFi hotspot for KA Lite content</p>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
    	</div>
    </div>
{% endblock ka_lite_bodycontents %}