{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About Us{% endblock title %}

{% block home_nav %}selected{% endblock home_nav %}

{% block extrahead %}
<style>
.page-header h1{
	font-size: 36px;
}

.page-header{
	border-bottom: 1px solid rgba(119, 119, 119, 0.21);
}

.team .row{
	padding-top: 15px;
}

.team h3{
	color: #777;
	margin-top: -10px;
}
.team img{
	width: 180px;
	height: 180px;
}
.board .col-sm-2{
text-align: center;
}
.board img{
	width: 140px;
	height: 160px;
}

.partners{
	margin-bottom: 20px;
}
.partners img{
	max-width: 200px;
	max-height: 150px;
}
</style>

{% endblock extrahead %}

{% block bodycontents %}

<div class="container mission">
	<div class="page-header">
        <h1>Our Mission</h1>
    </div>
    <p>
    	The Foundation for Learning Equality (FLE) is a startup non-profit organization located in San Diego, CA. We are dedicated to creating tools for the sharing and creation of open-licensed educational content for use by anyone around the world, with a special emphasis on reaching the 65% of the world that does not have Internet access, and those with limited-bandwidth, expensive, or unreliable connections.
    </p>
</div>



<div class="container team">
	<div class="page-header">
        <h1>Meet the Team</h1>
	</div>

     <div class="row">
        <div class="col-sm-4">
          <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg" >
          <h2>Guan Wang</h2>
          <h3>User Experience Designer</h3>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-sm-4">
          <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg">
          <h2>Guan Wang</h2>
          <h3>User Experience Designer</h3>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-sm-4">
          <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg">
          <h2>Guan Wang</h2>
          <h3>User Experience Designer</h3>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-4">
          <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg">
          <h2>Guan Wang</h2>
          <h3>User Experience Designer</h3>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-sm-4">
          <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg">
          <h2>Guan Wang</h2>
          <h3>User Experience Designer</h3>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-sm-4">
          <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg">
          <h2>Guan Wang</h2>
          <h3>User Experience Designer</h3>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
     </div>

 </div>

<div class="container board">
	<div class="page-header">
        <h1>Our board members</h1>
    </div>
	<div class="row">
		<div class="col-sm-2">
          <img src="http://www.ed.gov/blog/wp-content/uploads/2010/05/mike-smith-1.jpg" >
          <h4>Mike Smith</h4>
		</div>
		<div class="col-sm-2">
          <img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-frc1/1001534_10103035276358709_19734034_n.jpg" >
          <h4>Sarah Loos Karnowski</h4>
		</div>
		<div class="col-sm-2">
          <img src="http://www.ed.gov/blog/wp-content/uploads/2010/05/mike-smith-1.jpg" >
          <h4>Mike Smith</h4>
		</div>
		<div class="col-sm-2">
          <img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-frc1/1001534_10103035276358709_19734034_n.jpg" >
          <h4>Sarah Loos Karnowski</h4>
		</div>
		<div class="col-sm-2">
          <img src="http://www.ed.gov/blog/wp-content/uploads/2010/05/mike-smith-1.jpg" >
          <h4>Mike Smith</h4>
		</div>
		<div class="col-sm-2">
          <img src="https://scontent-b-lax.xx.fbcdn.net/hphotos-frc1/1001534_10103035276358709_19734034_n.jpg" >
          <h4>Sarah Loos Karnowski</h4>
		</div>
	</div>
</div>

<div class="container partners">
	<div class="page-header">
        <h1>Our Supporters</h1>
    </div>
    <div class="row">
     <img src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f6/UCSD_logo.png/800px-UCSD_logo.png">
     <img src="http://www.cctvcambridge.org/sites/default/files/imagefield/Screen%20Shot%202013-06-18%20at%2012.43.16%20PM.png">
     <img src="http://upload.wikimedia.org/wikipedia/en/b/b0/Hewlett_Foundation_logo.png">
     <img src="http://trikeapps.com/assets/60/screenshot-large-khan.png">
     <img src="http://www.deskaway.com/images/logos/RS_PoweredByLogo-2c.png">

    </div>
</div>
{% endblock bodycontents %}