{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock title %}

{% block home_nav %}selected{% endblock home_nav %}

{% block analytics %}
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36937407-2', 'learningequality.org');
        ga('send', 'pageview');
    </script>
    
{% endblock analytics %}

{% block bodycontents %}
<div class="container-wide">
	<div class="container" id="contents-container">
		<div class="row">
			<div class="outer-container center-text">
				<a href="{% url map %}"><img id="map-img" src="{% static 'img/main-featured.png' %}" alt="Open access, high quality education for the world."></a>
			</div>
		</div>
		<div class="row">
			<div class="inner-container">
				<div class="inner-contents">
					<h3>About</h3>
					<hr>
					<p>The Foundation for Learning Equality (FLE), a California-based nonprofit organization, is dedicated to creating tools for the sharing and creation of open-licensed educational content for use by anyone around the world, with special emphasis on reaching the 65% of the world that does not have Internet access, and those with limited or expensive bandwidth.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="inner-container">
				<div class="inner-contents">
					<h3>Current Projects</h3>
					<hr>
					<div class="row">
						<div class="span1"></div>
						<div class="span3">
							<img src="{% static 'img/KA_Lite-vertical-logo.png' %}" alt="KA Lite: an offline version of Khan Academy that runs on almost anything.">
						</div>
						<div class="span5">
							<div class="row center-text bump-down">
								<div class="span5">
									<p class="lead">An offline version of Khan Academy that runs on almost anything.</p>
								</div>
							</div>
							<div class="row center-text">
								<div class="span5">
									<a href="http://kalite.learningequality.org/"><button class="btn btn-primary btn-large">Learn More</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="inner-container">
				<div class="inner-contents">
					<h3>Get Involved with FLE</h3>
					<hr>
					<p>To get involved with the Foundation for Learning Equality, send us an email at <a href="mailto:info@learningequality.org">info@learningequality.org</a>.</p>
					<p>If you'd like to learn about ways to contribute to the KA Lite project, visit the <a href="http://kalitewiki.learningequality.org/">KA Lite wiki</a>.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="inner-container">
				<div class="inner-contents">
					<h3>Support Our Mission</h3>
					<hr>
					<p>Help support the Foundation for Learning Equality. Your contribution will go towards our mission of making universal education truly universal.</p>
					<div class="center-text">
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DRYT4JWGGATC6"><button class="btn btn-success btn-large">Give today</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock bodycontents %}