<!DOCTYPE HTML>

<html>
    <head>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUVMGp6Uks8OCczFfrWo20zHnmENyW5O0&v=3.9&sensor=false&libraries=places">
        </script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script>
            window.mapLoadedDeferred = $.Deferred();

            function display_locations(locations) {

                setTimeout(function() {
                    mapLoadedDeferred.done(function(map) {

                        var infowindow = new google.maps.InfoWindow();

                        var i = 0;

                        var pinPopinInterval = setInterval(function() {
                            var item = locations[i];

                            if (!item) {
                                clearInterval(pinPopinInterval);
                                return;
                            }

                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng(item.latitude, item.longitude),
                                map: map
                            });
                            google.maps.event.addListener(marker, 'mouseover', function() {
                                // replace info window content and position
                                infowindow.setContent(item.name);
                                infowindow.setPosition(marker.position);
                                infowindow.open(map);
                            });

                            i++;

                        }, 15);
                    });
                }, 500);
            }

            $.getScript("{{ LOCATIONS_JSONP_URL }}");

        </script>
        <script>
        function initialize()
        {
            
            $("#map_canvas").height($(window).height());
            
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                mapTypeId: google.maps.MapTypeId.HYBRID,
                // scrollwheel: false,
                maxZoom: 20,
                minZoom: 2,
                zoomControl: true,
                panControl: true,
                streetViewControl: false
            });

            var defaultBounds = new google.maps.LatLngBounds(
                                new google.maps.LatLng(70, -100),
                                new google.maps.LatLng(-60, 100));
                                map.fitBounds(defaultBounds);

            mapLoadedDeferred.resolve(map);
            
        }

        </script>

        <script>
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

        <style>
        
            body, html {
                padding: 0;
                margin: 0;
            }
            
            #map_canvas {
                width: 100%;
                height: 600px;
            }

        </style>
    </head>

    <body>
        <div id="map_canvas"></div>
    </body>

</html>