{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}About Us{% endblock title %}

{% block about_fle_active %}active{% endblock about_fle_active %}

{% block home_nav %}selected{% endblock home_nav %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div class="about_fle_page">
  <div class="page-header">
    <h1>Our Mission</h1>
  </div>
    <p>
      The Foundation for Learning Equality (FLE) is a California­-based nonprofit organization. We are dedicated to creating tools for the sharing and creation of open-licensed educational content for use by anyone around the world, with a special emphasis on reaching the 65% of the world that does not have Internet access, and those with limited-bandwidth, expensive, or unreliable connections.
    </p>

  <div class="page-header">
    <h1>Our Motivation</h1>
  </div>
    <p>
Over the past few years, the “online learning revolution” has generated a lot of excitement. Organizations, such as Khan Academy, are founded on the potential on making learning accessible for everyone, yet one of the greatest educational barriers is that 2/3 of the world still lacks steady internet access. Countries with the least access are also likely to have fewer educational resources, such as teachers and books, available to learners. Although this may be different in a decade or half a century, we don’t want to wait. This is where we come in. We explore solutions for distributing and hosting open educational resources via low-bandwidth and offline channels by taking advantage of low-cost or pre-existing infrastructure. 
    </p>

  <div class="page-header">
    <h1>Our Solutions</h1>
  </div>
    <p>
KA Lite, our open-source software first released in December of 2012, can be downloaded and run on any computer, turning it into a web server for viewing and interacting with downloaded Khan Academy videos and exercises, even when no internet is available. Students can connect to the server from within the classroom, on a laptop, tablet, or desktop computer. It is already seeing widespread global deployment in a variety of scenarios, from correctional facilities in the U.S. to schools in developing communities around the world. 

  <div class="page-header">
    <h1>Our Direction</h1>
  </div>
    <p>
  A young organization, FLE is still changing every day. The Foundation’s current activities are focused around further developing KA Lite and helping to support its deployment through partner NGOs, as well as individual teachers and schools wanting to make use of the platform with their students. Our direction depends on what resources are available to our team and what problems need solving, but we see plenty of room in our future to continue the offline learning revolution. If you would like, you can visit our Expanded Guide to FLE to see more about our vision. In the meantime, please continue your support with feedback, contribution, or donation so we can continue developing tools that will change the way the future can learn. 
  </p>
</div>

{% endblock about_content %}