{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}About Us{% endblock title %}

{% block about_fle_active %}active{% endblock about_fle_active %}

{% block home_nav %}selected{% endblock home_nav %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div class="page-header">
  <h1>Our Vision</h1>
</div>
  <p>
  	The Foundation for Learning Equality (FLE) is a startup non-profit organization located in San Diego, CA. We are dedicated to creating tools for the sharing and creation of open-licensed educational content for use by anyone around the world, with a special emphasis on reaching the 65% of the world that does not have Internet access, and those with limited-bandwidth, expensive, or unreliable connections.
  </p>

<div class="page-header">
  <h1>Our project: KA Lite</h1>
</div>
  <p>
    Our open-source platform for deploying Khan Academy videos and exercises in offline and low-bandwidth contexts, was soft-launched in December of 2012, and is already seeing widespread global deployment, particularly in India and sub-Saharan Africa. The Foundation’s current activities are focused around developing this platform further and helping to support its deployment through partner NGOs, as well as individual teachers and schools wanting to make use of the platform with their students. We have been in discussions with hundreds of organizations, schools, and individuals around the world, many of whom are now deploying KA Lite in classrooms and homes, and have several larger pilot programs underway.
  </p>

<div class="page-header">
  <h1>Year Planning</h1>
</div>
  <p>
    further and helping to support its deployment through partner NGOs, as well as individual teachers and schools wanting to make use of the platform with their students. We have been in discussions with hundreds of organizations, schools, and individuals around the world, many of whom are now deploying KA Lite in classrooms and homes, and have several larger pilot programs underway.
</p>
<p>
    Our open-source platform for deploying Khan Academy videos and exercises in offline and low-bandwidth contexts, was soft-launched in December of 2012, and is already seeing widespread global deployment, particularly in India and sub-Saharan Africa. The Foundation’s current activities are focused around developing this platform further and helping to support its deployment through partner NGOs, as well as individual teachers and schools wanting to make use of the platform with their students. We have been in discussions with hundreds of organizations, schools, and individuals around the world, many of whom are now deploying KA Lite in classrooms and homes, and have several larger pilot programs underway.
  </p>
{% endblock about_content %}