{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}About Us{% endblock title %}

{% block about_fle_active %}active{% endblock about_fle_active %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div class="about_fle_page">
  {% for section in about_sections %}
    <div class="page-header">
      <h1>{{ section.title }}</h1>
    </div>
    <div class="page-body">
      <p>
        {{ section.body }}
      </p>
    </div>
  {% endfor %}
</div>

{% endblock about_content %}