{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Press{% endblock title %}

{% block about_press_active %}active{% endblock about_press_active %}

{% block extrahead %}

{% endblock extrahead %}

{% block about_content %}

<ul class="list-group">
  {% for a in press_articles %}
    <a href="{{ a.url }}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ a.title }}<small>{{ a.publish_date }}</small></h4>
      <p class="list-group-item-text">{{ a.description }}</p>
    </a>
  {% endfor %}
</ul>

{% endblock about_content %}