{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Press{% endblock title %}

{% block about_press_active %}active{% endblock about_press_active %}

{% block extrahead %}

{% endblock extrahead %}

{% block about_content %}
<div id="press-content">
  <div class="page-header">
      <h1>Press</h1>
  </div>
  <ul class="list-group">
    {% for a in press_articles %}
      <a href="{{ a.url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ a.title }}</h4>
        <small>{{ a.publish_date }}</small>
        <p class="list-group-item-text">{{ a.description }}</p>
      </a>
    {% endfor %}
  </ul>
</div>
{% endblock about_content %}