{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Friends and Supporters{% endblock title %}

{% block about_supporters_active %}active{% endblock about_supporters_active %}

{% block home_nav %}selected{% endblock home_nav %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div class="friends-and-supporters">
    <div class="page-header">
        <h1>FLE Friends and Supporters</h1>
    </div>
    <p>
      FLE wants to recognize our partners and collaborators for the invaluable support they have given us to accomplish our vision of a world in which every child enjoys a high-quality education that inspires him or her to become a life-long learner and a leader in his or her community. Alongside these organizations we have been able to design and implement  innovative programs, making a bigger impact in the communities we all serve. Thank you all for your support!
    </p>
	<div class="page-header">
        <h1>Our Partners</h1>
    </div>

    <div class="row partners">
        <div class="col-sm-6">
            <img src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f6/UCSD_logo.png/800px-UCSD_logo.png">
            <p>
                <strong>UCSD,</strong>
                Our hich every child enjoys a high-quality education that inspires him or her to become a life-long learner and a leader in his or her community. Alongside these organiadsf dsa fads f  sdf  asdf ewr wer er qw  sdf a xcv
            </p>
        </div>
        <div class="col-sm-6">
            <img src="http://www.ole.org/sites/ole.drupalgardens.com/files/OLE_logo_0.png">
            <p>
                <strong>OLE,</strong>
                Our hich every child enjoys a high-quality education that inspires him or her to become a life-long learner and hich every child enjoys a high-quality education that inspires him or her to become a life-
            </p>
        </div>
    </div>

    <div class="row partners">

        <div class="col-sm-6">
            <img src="http://cdn.blog.profoundis.com/django.png">
            <p>
                <strong>UCSD,</strong>
                Our hich every child enjoys a high-quality education that inspires him or her to become a life-long learner and a leader in his or her community. Alongside these organi
            </p>
        </div>

        <div class="col-sm-6">
            <img src="http://www.wholesomechildhood.com/1Feb/Khan-academy.png">
            <p>
                <strong>Khan Academy,</strong>
                Our hich every child enjoys a high-quality education that inspires him or her to become a life-long learner and a leader in his or her community. Alongside these organi
            </p>
        </div>
    </div>


    <div class="page-header">
        <h1>Our Sponsors</h1>
    </div>

    <div class="row supporters">
     <img src="http://qfi.org/images/QFI_logo_web_new_02_transparent_v4.png">
     <img src="http://mcr.lternet.edu/images/links/links_CALIT2.jpg">
     <img src="http://upload.wikimedia.org/wikipedia/en/b/b0/Hewlett_Foundation_logo.png">
     <img src="http://www.deskaway.com/images/logos/RS_PoweredByLogo-2c.png">
    </div>
</div>
{% endblock about_content %}