{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Friends and Supporters{% endblock title %}

{% block about_supporters_active %}active{% endblock about_supporters_active %}

{% block home_nav %}selected{% endblock home_nav %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div class="partners">
    <div class="page-header">
        <h1>FLE Friends and Supporters</h1>
    </div>
    <p>
      FLE wants to recognize our partners and collaborators for the invaluable support they have given us to accomplish our vision of a world in which every child enjoys a high-quality education that inspires him or her to become a life-long learner and a leader in his or her community. Alongside these organizations we have been able to design and implement  innovative programs, making a bigger impact in the communities we all serve. Thank you all for your support!
    </p>
	<div class="page-header">
        <h1>Our Sponsors</h1>
  </div>

    <div class="row sponsors">
     <img src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f6/UCSD_logo.png/800px-UCSD_logo.png">
     <img src="http://www.cctvcambridge.org/sites/default/files/imagefield/Screen%20Shot%202013-06-18%20at%2012.43.16%20PM.png">
     <img src="http://upload.wikimedia.org/wikipedia/en/b/b0/Hewlett_Foundation_logo.png">
     <img src="http://trikeapps.com/assets/60/screenshot-large-khan.png">
     <img src="http://www.deskaway.com/images/logos/RS_PoweredByLogo-2c.png">
    </div>

    <div class="page-header">
        <h1>Our Partners</h1>
    </div>
    <div class="row sponsors">
     <img src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f6/UCSD_logo.png/800px-UCSD_logo.png">
     <img src="http://www.cctvcambridge.org/sites/default/files/imagefield/Screen%20Shot%202013-06-18%20at%2012.43.16%20PM.png">
     <img src="http://upload.wikimedia.org/wikipedia/en/b/b0/Hewlett_Foundation_logo.png">
     <img src="http://trikeapps.com/assets/60/screenshot-large-khan.png">
     <img src="http://www.deskaway.com/images/logos/RS_PoweredByLogo-2c.png">
    </div>
</div>
{% endblock about_content %}