{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Meet the Team{% endblock title %}
{% block about_team_active %}active{% endblock about_team_active %}

{% block extrahead %}
<script>
$(document).ready(function() {
    $(".button-popover").popover({
        trigger: "hover"
    });
});
</script>
{% endblock extrahead %}

{% block about_content %}

<div class="team">
    <div class="page-header">
        <h1>
            Meet the Team
        </h1>
    </div>
    
    <div class="row">
    {% for p in team_members %}               
        
        <div class="col-sm-3">
            <div class="button-popover" data-toggle="popover" data-placement="auto top" data-content="{{ p.bio }}">
                <img class="img-thumbnail" src="{{ MEDIA_URL }}{{ p.picture }}">
            </div>
            <h3>
                {{ p.name }}
            </h3>
            <h4>
                {{ p.title }}
            </h4>
        </div>

        {% if not forloop.last %}
            {% if forloop.counter|divisibleby:"4" %}
                </div><div class="row">
            {% endif %}
        {% endif %}

    {% endfor %}
    </div>
        
</div>
{% endblock about_content %}