{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Meet the Team{% endblock title %}

{% block about_team_active %}active{% endblock about_team_active %}

{% block home_nav %}selected{% endblock home_nav %}

{% block extrahead %}
<script>
$(document).ready(function(){
    $(".button-popover").popover({ trigger: "hover" });
});

</script>

{% endblock extrahead %}

{% block about_content %}

<div class="team">
  <div class="page-header">
      <h1>Meet the Team</h1>
  </div>

  <div class="row">
      <div class="col-sm-3">
          <div class="button-popover" data-toggle="popover" data-placement="auto top" data-content="Guan is qer dfjqrj qerizxcvsdf adfn An Organization is a group of people responsible for administering a set of Zones and Facilities.">
            <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg" >
          </div>
        <h3>Guan Wang</h3>
        <h4>User Experience Lead</h4>
      </div>

      <div class="col-sm-3">
         <div class="button-popover" data-toggle="popover" data-placement="auto top" data-content="Guan is qer dfjqrj qerizxcvsdf adfn An Organization is a group of people responsible for administering a set of Zones and Facilities.">
          <img class="img-circle" src="https://scontent-b-pao.xx.fbcdn.net/hphotos-prn2/182600_10150092531396026_447054_n.jpg" >
        </div>
        <h3>Jamie Alexsandra</h3>
        <h4>Software Developer Lead</h4>
      </div>

      <div class="col-sm-3">
        <img class="img-circle" src="https://scontent-b-pao.xx.fbcdn.net/hphotos-frc3/1233972_10200224028553039_1713859039_n.jpg" >
        <h3>Dylan Barth</h3>
        <h4>Operation Lead, Softer Developer</h4>
      </div>
      
      <div class="col-sm-3">
        <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg" >
        <h3>Guan Wang</h3>
        <h4>User Experience Designer</h4>
      </div>

      <div class="col-sm-3">
        <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg" >
        <h3>Guan Wang</h3>
        <h4>User Experience Designer</h4>
      </div>

            <div class="col-sm-3">
        <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg" >
        <h3>Guan Wang</h3>
        <h4>User Experience Lead</h4>
      </div>

      <div class="col-sm-3">
        <img class="img-circle" src="https://scontent-b-pao.xx.fbcdn.net/hphotos-prn2/182600_10150092531396026_447054_n.jpg" >
        <h3>Jamie Alexsandra</h3>
        <h4>Software Developer Lead</h4>
      </div>

      <div class="col-sm-3">
        <img class="img-circle" src="https://scontent-b-pao.xx.fbcdn.net/hphotos-frc3/1233972_10200224028553039_1713859039_n.jpg" >
        <h3>Dylan Barth</h3>
        <h4>Operation Lead, Softer Developer</h4>
      </div>
      
      <div class="col-sm-3">
        <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg" >
        <h3>Guan Wang</h3>
        <h4>User Experience Designer</h4>
      </div>

      <div class="col-sm-3">
        <img class="img-circle" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/945647_10151770283062018_756218684_n.jpg" >
        <h3>Guan Wang</h3>
        <h4>User Experience Designer</h4>
      </div>



  </div>

</div>
{% endblock about_content %}