{% load staticfiles %}

<!-- Grant Writing Intern -->
<div class="well" id="grant_writing_intern">
    <h5><strong>Grant Writing Intern</strong></h5>
    Responsibilities include:
    <ul>
        <li>
            Research and organize grant opportunities
        </li>
        <li>
            Synthesizing information from existing documents to formulate proposals
        </li>
        <li>
            You guessed it: writing awesome grants.
        </li>
    </ul>
    Experience with the following preferred:
    <ul>
        <li>
            Grant research &amp; writing
        </li>
        <li>
            Nonprofit fundraising 
        </li> 
    </ul>
    To apply, you’ll need:
    <ul>
        <li>
            A brief cover letter (500 words or less on why you’d like to work with us)
        </li>
        <li>
            A link to your resume or LinkedIn
        </li>
    </ul>
    When you’re ready, go to the application by clicking on the button on the left!
</div>