{% load staticfiles %}

<!-- Front-End Web Development Intern -->
<div class="well" id="research_intern">
    <h5><strong>Research &amp; Implementations Intern</strong></h5>
    Responsibilities include:
    <ul>
        <li>
           Communicating with deploying partners and users via email and Skype 
        </li>
        <li>
            Researching, recording, and organizing current deployments 
        </li>
        <li>
            Synthesizing qualitative feedback into meaningful recommendations for future direction
        </li>   
    </ul>
    Experience with the following preferred:
    <ul>
        <li>
            Being awesome and personable
        </li>
        <li>
            Excellent communication and organization skills
        </li>
        <li>
            Google Spreadsheets
        </li>
        <li>
            Qualitative and quantitative research design
        </li>   
    </ul>
    To apply, you’ll need:
    <ul>
        <li>
            A brief cover letter (500 words or less on why you’d like to work with us)
        </li>
        <li>
            A link to your resume or LinkedIn
        </li>
    </ul>
    When you’re ready, go to the application by clicking on the button on the left!
</div>