{% load staticfiles %}

<!-- Front-End Web Development Intern -->
<div class="well" id="web_dev_intern">
    <h5><strong>Front-End Web Development Intern</strong></h5>
    Responsibilities include:
    <ul>
        <li>
            Designing and/or implementing redesigns of all user-facing interfaces including, but not limited to: <a href="http://learningequality.org">http://learningequality.org</a>, <a href="http://kalite.learningequality.org">http://kalite.learningequality.org</a>, and KA Lite itself!
        </li>
        <li>
            Optimizing all of the above for mobile!
        </li>
    </ul>
    Experience with the following preferred:
    <ul>
        <li>
            HTML
        </li>
        <li>
            CSS &amp; LESS
        </li>
        <li>
            Javascript, jQuery (enough to work with popular plugins and frameworks)
        </li>
        <li>
            User experience and visual design principles.
        </li>   
    </ul>
    To apply, you’ll need:
    <ul>
        <li>
            A brief cover letter (300 words or less on why you’d like to work with us)
        </li>
        <li>
            A link to your resume or LinkedIn
        </li>
        <li>
            A link to any live projects, past projects, and your GitHub account or online portfolio
        </li>
        <li>    
            Open at least 3 issues on GitHub for UX enhancements or front-end tweaks to either of the following websites: 
            <ul>
                <li>
                    <a href="http://learningequality.org/">http://learningequality.org/</a> (GitHub repo: <a href="https://github.com/fle-internal/fle-site">https://github.com/fle-internal/fle-site</a>)
                </li>
                <li>
                    <a href="http://kalite.learningequality.org/">http://kalite.learningequality.org/</a> (GitHub repo: <a href="https://github.com/learningequality/ka-lite">https://github.com/learningequality/ka-lite</a>)
                </li>
            </ul>
        </li>
    </ul>
    When you’re ready, go to the application by clicking on the button on the left!








</div>