{% load trans from i18n %}
{% load url from future %}
{% load radpress_datetime from radpress_tags %}

<div class="widget recent-posts-widget">
  <h2 class="widget-title">{% trans "Recent posts" %}</h2>

  <ul>
    {% for object in object_list %}
      <li{% if forloop.last %} class="no-border"{% endif %}>
        <h3>
          <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">
            {{ object.title|truncatechars:25 }}
          </a>
        </h3>

        <p>{% radpress_datetime object.updated_at %}</p>
      </li>
    {% endfor %}
  </ul>
</div>
