{% load trans from i18n %}

{% if page_obj %}
  <div class="post-nav">
    {% if page_obj.has_previous %}
      <div class="postnav-left">
        <a href="?{% if enabled_tag %}tag={{ enabled_tag }}{% endif %}&page={{ page_obj.previous_page_number }}">&larr; {% trans "previous" %}</a>
      </div>
    {% endif %}

    {% if page_obj.has_next %}
      <div class="postnav-right">
        <a href="?{% if enabled_tag %}tag={{ enabled_tag }}{% endif %}&page={{ page_obj.next_page_number }}">{% trans "next" %} &rarr;</a>
      </div>
    {% endif %}
  </div>
{% endif %}
