{% load trans from i18n %}
{% load url from future %}

<div class="widget">
  <form class="search-form" action="{% url 'radpress-search' %}" method="GET">
    <input class="submit" type="submit" value="{% trans "Go" %}"/>
    <input type="text"
           class="search-form-input text"
           value="{% trans "Search" %}"
           onblur="if (this.value == '') {this.value = '{% trans "Search" %}';}"
           onfocus="if (this.value == '{% trans "Search" %}') {this.value = '';}"
           name="q"/>
  </form>
</div>
