{% extends 'articles/articles_base.html' %}
{% load i18n %}

{% block title %}{% trans article.title %}{% endblock %}
{% block meta-keywords %}{{ article.keywords|escape }}{% endblock %}
{% block meta-description %}{{ article.description|escape }}{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li class="active">{{ article.title }}</li>
        </ol>
    </div>
    <div class="col-xs-12">
        <div id="article-content" class="article">
            <h2 class="title">{% trans article.title %}</br><small>{{ article.publish_date|date:"F j, Y" }}</small></h2>

            {{ article.rendered_content|safe }}
        </div>
    {# {% include 'articles/_meta.html' %} #}
        {% include 'articles/_comments.html' %}
    </div>

{% endblock content %}
