{% extends 'articles/articles_base_content.html' %}
{% load i18n %}

{% block title %}{% trans 'Posts' %}{% endblock %}

{% block articles-content %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="title">{% trans 'Posts' %}{% ifnotequal paginator.num_pages 1 %}, {% trans 'page' %} {{ page_obj.number }}{% endifnotequal %}</h2>	
	</div>

	<ul class="list-group">
		{% for article in page_obj.object_list %}
			{% include 'articles/_articles.html' %}
		{% endfor %}		
	</ul>
</div>
{% endblock %}
