{% extends 'articles/articles_base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Posts' %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        $(function() {
            // onload, update # of total posts
            var startingPosts = $('li[id^="post-"').length; 
            updatePostNumbers(startingPosts, startingPosts);

            // Handle adding tags to filter 
            $('#tag-filters button').click(function() {
                // Highlight the tag cloud and any other posts
                $(this).toggleClass("active").hide("fast");
                $('button[data-id="post-tag-' + $(this).attr("data-id") + '"]').removeClass("btn-default").addClass("btn-primary");
                filterPosts();
            });

            // Handle removal of tags 
            $(document).on(
                'click', 
                '#filtering-header button.remove-tag-container', 
                function() {
                    var tagSlug = $(this).attr('data-id');
                    var filterElement = $('#tag-filters button[data-id="' + tagSlug + '"]');
                    filterElement.toggleClass("active").show("fast");
                    $('button[data-id="post-tag-' + tagSlug + '"]').removeClass("btn-primary").addClass("btn-default");
                    $(this).hide("fast");
                    filterPosts();
                }
            );
        });

        function filterPosts() {
            // filter posts once we update active filters
            // get active tag slugs & names 
            var activeTagSlugs = []
            var activeTagNames = []
            $('#tag-filters button.active').each(function(){
                activeTagSlugs.push($(this).attr("data-id"));
                activeTagNames.push($(this).text());
            });

            // Show & hide the posts that match the tag sets
            var posts = $('li[id^="post-"'); 
            var totalPosts = posts.length
            var postsShowing = 0
            posts.each(function() {
                // Create list of the post's tags
                var postTags = $(this).attr("data-id").split(/[ ]+/);
                // show the post if all of it's tags match the activeTagSlugs
                if (compareLists(activeTagSlugs, postTags)) {
                    $(this).show("fast")
                    postsShowing = postsShowing + 1;
                } else {
                    $(this).hide("fast")
                }
            });
            // Update HTML to show we are filtering based on tags
            if (activeTagSlugs.length > 0) {
                var filterTags = "<h2>Tags:</h2> ";
                for (var i = 0; i < activeTagSlugs.length; i++) {
                    filterTags += "<button class='btn btn-md btn-default tag-bubble remove-tag-container' data-id='" + activeTagSlugs[i] + "'>" + activeTagNames[i] + "<a href='#' class='remove-filter'>x</a></button>"
                };
                $('#filtering-header').html(filterTags);    
            } else {
                $('#filtering-header').html("<h2>All Posts</h2>");    
            }

            // finally update post numbers 
            updatePostNumbers(postsShowing, totalPosts);
        }

        function updatePostNumbers(postsShowing, totalPosts) {
            $('#posts-showing').html(postsShowing);
            $('#total-posts').html(totalPosts);
        }

        function compareLists(activeTagSlugs, postTags) {
            // Return true if all active tags are also in postTags, otherwise return false
            truthFlag = true;
            for (var i=0; i < activeTagSlugs.length; i++) {
                if (postTags.indexOf(activeTagSlugs[i]) === -1){
                    truthFlag = false;
                    break;
                }
            }
            return truthFlag;
        }
    </script>
{% endblock extrahead %}

{% block content %}
<div class="col-sm-8 col-xs-12 pull-right">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="filtering-header"><h2>All Posts</h2></div>
        </div>

        <ul id="post-list" class="list-group">
            {% for post in posts %}
                <li id="post-{{post.slug}}" data-id="{% for tag in post.tags.all %}{{ tag.slug }} {% endfor %}" class="list-group-item">
                    <h3><a href="{{ post.get_absolute_url }}">{{post.title}}</a></br><small>{{post.publish_date|date:"F j, Y" }}</small></h3>
                    <p>{{post.description|safe}}</p>
                    <p>{% for tag in post.tags.all %}
                        <button class="btn btn-md btn-default tag-bubble pull-left" disabled data-id="post-tag-{{tag.slug}}">{{tag.name}}</button> 
                    {% endfor %}</p>   
                    <div class="clearfix"></div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="col-sm-4 col-xs-12 pull-left" id="sidebar">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Filter by tag</h2>
        </div>
        <div id="tag-filters" class="panel-body">
            {% for tag in tags %}
                <button class="btn btn-md btn-default tag-bubble pull-left" data-id="{{tag.slug}}">
                    {{ tag.name }}
                </button>
            {% endfor %}
        </div>
        <div id="post-numbers">
            <p>
                Showing <span id="posts-showing">0</span> of <span id="total-posts">0</span> posts.
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>By date</h2>
        </div>
        <div id="date-filters" class="panel-body">
            {% for year, months in posts_by_date.items %}
                <h3>{{year}}</h3>
                {% for month, posts in months.items %}
                    <h4>{{month}}</h4>
                    <ul>
                        {% for post in posts %}
                            <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}