{% extends 'articles/articles_base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Posts' %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script>
        $(function() {
            // onload, update # of total posts
            var startingPosts = $('li[id^="post-"').length; 
            updatePostNumbers(startingPosts, startingPosts);


            // Handle post filtering 
            $('#tag-filters span.tag-cloud-item a').click(function() {
                $(this).parent('.tag-cloud-item').toggleClass("active");
                // get active filters
                var activeTags = $('#tag-filters span.tag-cloud-item.active a')
                    .map(function(){
                        return $(this).attr("data-id");
                    });
                // Show & hide the posts that match the tag sets
                var posts = $('li[id^="post-"'); 
                var totalPosts = posts.length
                var postsShowing = 0
                posts.each(function() {
                    // Create list of the post's tags
                    var postTags = $(this).attr("data-id").split(/[ ]+/);
                    // show the post if all of it's tags match the activeTags
                    if (compareLists(activeTags, postTags)) {
                        $(this).show()
                        postsShowing = postsShowing + 1;
                    } else {
                        $(this).hide()
                    }
                });
                // Update the HTML to show how many posts are showing 
                updatePostNumbers(postsShowing, totalPosts);
            });
        });

        function updatePostNumbers(postsShowing, totalPosts) {
            $('#posts-showing').html(postsShowing);
            $('#total-posts').html(totalPosts);
        }

        function compareLists(activeTags, postTags) {
            // Return true if all active tags are also in postTags, otherwise return false
            truthFlag = true;
            for (var i=0; i < activeTags.length; i++) {
                if (postTags.indexOf(activeTags[i]) === -1){
                    truthFlag = false;
                    break;
                }
            }
            return truthFlag;
        }
    </script>
{% endblock extrahead %}

{% block content %}
<div class="col-sm-8 col-xs-12 pull-right">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="title">{% trans 'All Posts' %}</h2>
        </div>

        <ul id="post-list" class="list-group">
            {% for post in posts %}
                <li id="post-{{post.slug}}" data-id="{% for tag in post.tags.all %}{{ tag.slug }} {% endfor %}" class="list-group-item">
                    <a href="{{ post.get_absolute_url }}"><h3>{{post.title}}</h3></a>
                    <p>{{post.description}}</p>
                    <p>{{post.publish_date}}</p>
                    <p>{{post.tags.all|join:", "}}</p>    
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="col-sm-4 col-xs-12 pull-left" id="sidebar">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Filter by tag</h2>
        </div>
        <div id="tag-filters" class="panel-body">
            {% for tag in tags %}
                <span class="tag-cloud-item"><a href="#" data-id="{{tag.slug}}">
                    {{ tag.name }}
                </a></span>
            {% endfor %}
        </div>
        <div id="post-numbers">
            <p>Showing <span id="posts-showing">0</span> of <span id="total-posts">0</span> posts.</p>
        </div>
    </div>
</div>
{% endblock content %}