{% extends 'articles/articles_base_content.html' %}
{% load i18n %}

{% block title %}{% trans 'Posts By Author' %}: {{ author.get_name }}{% endblock %}

{% block articles-content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{% trans 'Posts By' %} {{ author.get_name }}{% ifnotequal paginator.num_pages 1 %}, {% trans 'page' %} {{ page_obj.number }}{% endifnotequal %}</h2>
    </div>

{% for article in page_obj.object_list %}
{% include 'articles/_articles.html' %}
{% endfor %}
</div>
{% endblock %}