@import "home.less";

.row {
	a {
		color: @linkcolor;
	}
}

#radpress-container {
	margin-top: 40px;
}

.post-container {
	margin-right: 50px;
}

#sidebar {
	margin-left: 25px;
	margin-top: 22px;
}

.edit-button {
	margin-top: 10px;
}

.spaceme {
	hr {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.recent-posts-widget {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

.label {
	background-color: #D5D5D5;
}

.tagcloud {
	a:hover {
		color: #6287AC;
	}
}