{% extends "admin/change_form.html" %}

{% load trans from i18n %}
{% load radpress_zen_mode_url from radpress_tags %}

{% block object-tools %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% if change and not is_popup %}
        {{ block.super }}
      {% endif %}
    {% endblock %}

    {% radpress_zen_mode_url original as zen_mode_url %}
    {% if zen_mode_url %}
      <li>
        <a href="{{ zen_mode_url }}">
          {% trans "Zen mode" %}
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}
