{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About Us{% endblock title %}

{% block about_nav %}selected{% endblock about_nav %}

{% block extrahead %}
{% endblock extrahead %}

{% block bodycontents %}
<div id="about-container" class="container">
  <div class="row">
      <div class="col-sm-3 hidden-xs side-nav">
          <div data-spy="affix" data-offset-top="90">
              <ul class="nav nav-pills nav-stacked">
                <li class="{% block about_fle_active %}{% endblock %}"><a href="{% url 'mission' %}">About FLE</a></li>
                <li class="{% block about_team_active %}{% endblock %}"><a href="{% url 'team' %}">Our Team</a></li>
                <li class="{% block about_board_active %}{% endblock %}"><a href="{% url 'board' %}">Board of Directors</a></li>
                <li class="{% block about_supporters_active %}{% endblock %}"><a href="{% url 'supporters' %}">Friends and Supporters</a></li>
                <li class="{% block about_press_active %}{% endblock %}"><a href="{% url 'press' %}">Press</a></li>
              </ul>
          </div>
      </div>

      <div id="about-body" class="col-md-9 col-sm-9 col-xs-12">
          {% block about_content %}

          {% endblock about_content %}
      </div>
  </div>
</div>
{% endblock bodycontents %}