{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Internships{% endblock title %}

{% block about_internships_active %}active{% endblock %}

{% block about_content %}
    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="page-header">
                <h1>Intern at Learning Equality</h1>
                <h3>and help 4.5 BILLION people access a free education</h3>    
            </div>
            <p>We are a group of hackers, educators, and humanitarians that <strong>eat the digital divide for breakfast</strong>. We believe that regardless of their nationality, gender, or social status, <strong>everyone around the world should have access to a free, high-quality education</strong>. And we need your help to make it happen!</p>

            <a href="/about/team/">
                <img src="https://lh6.googleusercontent.com/m6RrKPMeQAVSiIZndqC4QASoXNDAsODu2m9EnW1DCeSCqGZNtead-ZD_Tighvh7kYhtSf2is8dC_Cu4iPU50Y4d9WRNFXZ6nhrXN9Ci5Ar1MxTkXzWUNQwgCzIeDCSOLcw8X7N0xsQ" title="One big happy family" alt="Photo of Learning Equality team with values poster" class="img-thumbnail">
            </a>

            <br/><br/>

            <p><strong>Help the people who really need it.</strong><br/> There's an amazing online learning revolution going on in the developed world right now, with organizations like Khan Academy, Coursera, and EdX leading the charge to bring high-quality educational content and learning systems to the masses for free. There's just one small problem... only about 40% of the world's population has internet access, leaving around 4.5 billion without the chance to take advantage of this unprecedented opportunity.</p>

            <p><strong>Provide access to education all over the world.</strong><br/> You'll work on software platforms that will be used in some of the most remote places on earth, and then some. Our first platform, KA Lite, has been installed <a href="https://learningequality.org/ka-lite/map/">in over 160 countries</a>. Check out this sweet map of known installs:</p>

            <!-- <iframe style="width: 100%; height: 400px;" src="https://learningequality.org/ka-lite/map/"></iframe> -->

            <a href="/ka-lite/map/">
                <img src="https://s3.amazonaws.com/uploads.hipchat.com/86198/624172/a4LgNQhTIuLVdQe/map-screenshot.jpg" title="Making the earth a pincushion for KA Lite installs" alt="A map of known KA Lite installations" class="img-thumbnail">
            </a>

            <br/><br/>

            <p><strong>Take on global challenges.</strong><br/>When you join the Learning Equality team, you'll be taking on personal responsibility for making high-quality, open-licensed educational content accessible to everyone, and that's not an easy problem to solve.  You'll have to find creative solutions to questions like these: How do you provide access to open-licensed educational materials in places with no Internet connectivity? How do you design a low-cost solution that works in every deployment scenario possible, including classrooms with no power, access to paved roads, or even rooftops?</p>

            <p>
                <strong>If you're not sold yet, here are some other benefits:</strong>
                <ol>
                    <li>
                        A GitHub/LinkedIn/Dribbble account that will absolutely <em>sparkle</em> when you're done: because when you work with us, you create -- every. single. day.
                    </li>
                    <li>
                        Open door access to a team of talented, creative, passionate people.
                    </li>
                    <li>
                        A sense of purpose so strong that it adds a twinkle to your eye and a skip in your step*
                    </li>
                </ol>
                <small>*please note: degree of eye twinkle and step skipping may vary from person to person</small>
            </p>
            <p>
                <strong>Interested? Here's who we're looking for:</strong><br/>
                <ol>
                    <li>
                        You take the initiative, finding multiple solutions to problems that you see, and work with team members to get feedback and iterate ideas.
                    </li>
                    <li>
                        You absolutely love learning.
                    </li>
                    <li>
                        You want to help spread the great opportunities you have had to everyone around the world.
                    </li>
                </ol>
            </p>
            <h4>Fit the bill? Awesome!</h4>

            <p>Ready to apply? <a href="/r/internship-application-form">Check dates, and fill out an application!</a></p>
            <p>(be sure to check application deadlines at the link above)</a>

<!--             <h4>Fit the bill? Awesome! Here are the positions we are looking for:</h4>

            {% for i in internships %}
                {% if i.active %}
                    <div class="well" id="{{ i.slug }}">
                        <h5><strong>{{ i.title }}</strong></h5>
                        {{ i.description }}
                        <p>Ready to apply? <a href="/r/internship-application-form">Fill out an application!</a></p>
                    </div>
                {% endif %}
            {% endfor %}
 -->
            <!-- FAQ -->
            <h3>Frequently Asked Questions</h3>
            <dl id="faq">
                <dt>When can I apply?</dt>
                <dd>We operate our internship program on a 3-month cycle, in sync with the <a href="http://blink.ucsd.edu/instructors/resources/academic/calendars/">UC San Diego quarter system</a>. Internships start during Week 1 of each quarter, and go through week 10 (though many interns stick around for multiple quarters, which is awesome). The application process is open during weeks 5, 6, and 7 of each quarter, for internships in the following quarter. See the <a href="/r/internship-application-form">application form</a> for current dates. Outside of the application window, you can <a href="https://groups.google.com/a/learningequality.org/forum/#!forum/internships/join">subscribe to the Internships Mailing List</a> to be notified of future rounds.</dd>
                <dt>I missed the deadline for next quarter. Can I still get involved somehow?</dt>
                <dd>You're welcome to start getting involved as a volunteer anytime, by joining some of our open hack times or following the instructions on the <a href="https://github.com/learningequality/ka-lite/wiki">dev wiki</a>; you can always <a href="/r/dev">drop by the HipChat Dev room</a> to ask questions! You may also want to <a href="https://groups.google.com/a/learningequality.org/forum/#!forum/internships/join">subscribe to the Internships Mailing List</a> so you'll be notified when the next round of applications is open.</dd>
                <dt>How much time will I have to commit?</dt>
                <dd>We ask that all interns commit to a minimum of 10 hours a week of in-office time (the more the better!), for at least one full 10-week quarter (ideally longer, so you can really gear up and make big contributions).</dd>
                <dt>Is this a paid or unpaid internship?</dt>
                <dd>At the moment, internships are unpaid, and the goal is to help you learn as much as possible, so we provide mentoring and training (and snacks!). However, in a number of cases interns have later gone on to join us for either full-time or part-time positions, so interning is a good way to get your foot in the door!</dd>
                <dt>Where are the internships located?</dt>
                <dd>Our offices are in <a href="https://learningequality.org/directions/">Atkinson Hall</a> on the UCSD campus in San Diego, California. Also known as America's Finest City, and home to Ron Burgundy, among other fine people. We can also consider the possibility of remote internships, if you don't have a way to get to San Diego.</dd>
                <dt>I'm a UCSD student. Can I get 199 credit?</dt>
                <dd>Yes, we collaborate with faculty and graduate students, through whom we can give COGS 199 or CSE 199 class credit.</dd>
                <dt>How does the application process work?</dt>
                <dd>After the application is submitted, we will review your application and be in touch via email within 21 days (by the end of Week 8) about interview scheduling and to ask specific follow up questions.</dd>
                <dt>More questions?</dt>
                <dd>Don't hesitate to send us an email at <a href="mailto:jobs@learningequality.org">jobs@learningequality.org</a>.</dd>
            </dl>

            <a href="/r/internship-application-form"><button class="btn-primary btn-large fle-btn">Fill out an application!</button></a>

        </div>
    </div>
{% endblock about_content %}