{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}About Us{% endblock title %}

{% block about_fle_active %}active{% endblock about_fle_active %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div id="mission-content">
  <div class="page-header">
    <h1>Our Mission</h1>
  </div>
    <p>
      The Foundation for Learning Equality is committed to enabling every person in the world to achieve a quality basic education, through supporting the creation and distribution of open educational resources, and facilitating their use inside and outside of classrooms around the world. Through this work, we aim to build a new, open, and fundamentally human-centered educational model, in order to promote human flourishing.
    </p>

  <div class="page-header">
    <h1>Our Motivation</h1>
  </div>
    <p>
      Over the past few years, the "online learning revolution" has generated a lot of excitement. Organizations, such as <a href="https://www.khanacademy.org/">Khan Academy</a>, are founded with the mission of making learning accessible for everyone, yet one of the greatest barriers is that an estimated 4.5 billion people still lack Internet access. Countries with the least Internet access are the same countries with the least access to education in general -- fewer qualified teachers per student, fewer books, etc. Although Internet access will continue to spread over the next few decades, we believe that simply waiting around for things to change will leave a generation of learners behind, and we're not willing to wait and watch that happen. We have dedicated ourselves to exploring solutions for distributing and hosting Open Educational Resources via low-bandwidth and offline channels, taking advantage of existing infrastructure or low-cost and low-power hardware solutions.
    </p>

  <div class="page-header">
    <h1>Our Solutions</h1>
  </div>
    <p>
      <a href="https://kalite.learningequality.org">KA Lite</a>, our open-source platform for viewing and interacting with <a href="https://www.khanacademy.org/">Khan Academy</a> videos and exercises, can be used even when no Internet is available. Students can connect to the server from within the classroom, on a laptop, tablet, or desktop computer, or it can be installed directly on a learner's computer for portable access. KA Lite is already seeing widespread global deployment in a variety of scenarios, from correctional facilities in the U.S. to schools in developing communities around the world. Check out our <a href="{% url map %}">map of current known installations</a>.
    </p>
  <div class="page-header">
    <h1>Our Direction</h1>
  </div>
    <p>
      As a young organization, FLE is still changing every day. The Foundation’s current activities are focused around further developing KA Lite, and helping to support its deployment through partner organizations, as well as individual teachers and schools wanting to make use of the platform with their students. Please consider continuing your support by <a href="mailto:info@learningequality.org">contacting us</a>, <a href="http://kalitewiki.learningequality.org/contribute">getting involved</a>, or <a href="http://kalitewiki.learningequality.org/contribute/giving">making a gift</a> so we can continue developing tools to bring the online learning revolution offline. 
  </p>
</div>

{% endblock about_content %}