{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}About Us{% endblock title %}

{% block about_fle_active %}active{% endblock about_fle_active %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div id="mission-content">
  <div class="page-header">
    <h1>Our Mission</h1>
  </div>
    <p>
      Learning Equality is committed to enabling every person in the world to achieve a quality basic education, through supporting the creation and distribution of open educational resources, and facilitating their use inside and outside of classrooms around the world. Through this work, we aim to build a new, open, and fundamentally human-centered educational model, in order to promote human flourishing.
    </p>

  <div class="page-header">
    <h1>Our Motivation</h1>
  </div>
    <p>
      Over the past years, the "online learning revolution" has generated a lot of excitement, specifically about their potential for broad, free access to educational opportunities. One of the greatest barriers is that an estimated 4.2 billion people still lack Internet access. Countries with the least Internet access are the same countries with the least access to quality education in general -- fewer qualified teachers per student, fewer books, etc. Although Internet access will continue to spread over the next few decades, we believe that simply waiting around for things to change will leave generations of learners behind, and we're not willing to wait and watch that happen. We have dedicated ourselves to building solutions for distributing and hosting Open Educational Resources via low-bandwidth and offline channels, taking advantage of existing infrastructure or low-cost and low-power hardware solutions.
    </p>

  <div class="page-header">
    <h1>Our Progress</h1>
  </div>
    <p>
      <a href="">KA Lite</a>, our open-source platform for viewing and interacting with <a href="https://www.khanacademy.org/">Khan Academy</a> videos and exercises, can be used even when no Internet is available. Students can connect to the server from within a classroom or other space, on a laptop, tablet, or desktop computer, or it can be installed directly on a learner's computer for portable access. KA Lite has already been installed in over 160 countries, reaching an estimated 2.1 million learners, in contexts as varied as rural schools, orphanages, community centers, refugee camps, prisons, and homes. Check out our <a href="{% url 'map' %}">map of current known installations</a>.
    </p>
  <div class="page-header">
    <h1>Our Direction</h1>
  </div>
    <p>
      <a href="{% url 'indiegogo' %}">Kolibri</a>, an application in development, is Learning Equality’s updated response to educational inequality. Kolibri is open-source, and built to enable seamless authoring, peer-to-peer sharing, and engages users with educational content, without the need for Internet. Learning Equality is working to combine a vast library of educational content from sources all over the web, and will make the content available completely offline, on low-cost devices. Instructors and organizations will be able to create locally relevant customized educational curricula that fit their regional context, by open content and materials they create themselves.  Kolibri will also include tools for self-paced, collaborative learning to provide instant feedback for students and teachers, and personalized recommendations to enable students to work at their own pace with support from mentors and peers.

      <p align="center"><a href="/r/indiegogo/">Help support our crowdfunding campaign so that we can make Kolibri a reality!</a></p>

  </p>
</div>

{% endblock about_content %}