{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Meet the Team{% endblock title %}
{% block about_team_active %}active{% endblock about_team_active %}

{% block extrahead %}
<script>
$(document).ready(function() {
    $(".button-popover").popover({
        trigger: "hover"
    });
});
</script>
{% endblock extrahead %}

{% block about_content %}

<div id="team-content">
    <div class="page-header">
        <h1>
            Current Team
        </h1>
    </div>

    {# For computers and above #}
    <div class="hidden-sm hidden-xs">
        <div class="row">
        {% for person in team_members %}
            <div class="col-md-3">
                <a onclick="javascript:$('#{{ person.slug }}').modal('toggle');">
                    <img class="img-thumbnail team-img-overlay" src="{{ MEDIA_URL }}{{ person.picture }}">
                </a>
                <h3>
                    {{ person.name }}
                </h3>
                <h4>
                    {{ person.title }}
                </h4>
            </div>

            {% if not forloop.last %}
                {% if forloop.counter|divisibleby:"4" %}
                    </div><div class="row">
                {% endif %}
            {% endif %}

        {% endfor %}
        </div>
    </div>

    {# For tablets and below #}
    <div class="visible-sm visible-xs">
        <div class="row">
        {% for person in team_members %}
            <div class="col-sm-4">
                <a onclick="javascript:$('#{{ person.slug }}').modal('toggle');">
                    <img class="img-thumbnail team-img-overlay" src="{{ MEDIA_URL }}{{ person.picture }}">
                </a>
                <h3>
                    {{ person.name }}
                </h3>
                <h4>
                    {{ person.title }}
                </h4>
            </div>

            {% if not forloop.last %}
                {% if forloop.counter|divisibleby:"3" %}
                    </div><div class="row">
                {% endif %}
            {% endif %}

        {% endfor %}
        </div>
    </div>

    {# Modals for team members #}
    {% for person in team_members %}
        {% include "about/partials/_team_modal.html" %}
    {% endfor %}

    {# Alumni #}
    <div class="page-header">
        <h1>
            Past Contributors
        </h1>
    </div>

    {# For computers and above #}
    <div class="hidden-sm hidden-xs">
        <div class="row">
        {% for person in alumni %}
            <div class="col-md-3">
                <a onclick="javascript:$('#{{ person.slug }}').modal('toggle');">
                    <img class="img-thumbnail team-img-overlay" src="{{ MEDIA_URL }}{{ person.picture }}">
                </a>
                <h3>
                    {{ person.name }}
                </h3>
                <h4>
                    {{ person.title }}
                </h4>
            </div>

            {% if not forloop.last %}
                {% if forloop.counter|divisibleby:"4" %}
                    </div><div class="row">
                {% endif %}
            {% endif %}

        {% endfor %}
        </div>
    </div>

    {# For tablets and below #}
    <div class="visible-sm visible-xs">
        <div class="row">
        {% for person in alumni %}
            <div class="col-sm-4">
                <a onclick="javascript:$('#{{ person.slug }}').modal('toggle');">
                    <img class="img-thumbnail team-img-overlay" src="{{ MEDIA_URL }}{{ person.picture }}">
                </a>
                <h3>
                    {{ person.name }}
                </h3>
                <h4>
                    {{ person.title }}
                </h4>
            </div>

            {% if not forloop.last %}
                {% if forloop.counter|divisibleby:"3" %}
                    </div><div class="row">
                {% endif %}
            {% endif %}

        {% endfor %}
        </div>
    </div>

    {# Modals for team members #}
    {% for person in alumni %}
        {% include "about/partials/_team_modal.html" %}
    {% endfor %}

    

</div>
{% endblock about_content %}