{% extends 'about/base.html' %}

{% load staticfiles %}

{% block title %}Our Values{% endblock title %}

{% block values_active %}active{% endblock values_active %}

{% block extrahead %}
<style>

</style>

{% endblock extrahead %}

{% block about_content %}
<div id="mission-content">
  <div class="page-header">
    <h1>Our Values</h1>
  </div>
  <div class="page-header">
    <h2>
      Learn Constantly
    </h2>
  </div>
  <p>
    We believe learning is fundamental to human flourishing, and strive to support learning opportunities on every front, both with the tools we create, and in how we create them. When faced with a choice between optimal efficiency or a chance to learn something new, we will choose to learn, to grow, and to better ourselves. We teach each other and actively learn from one another, and are willing to take on challenges for which we may not feel quite ready.
  </p>
  <div class="page-header">
    <h2>
      Be Proactive
    </h2>
  </div>
  <p>
    If you can address a problem now, don't wait. Waiting for a problem to resolve itself will only create additional problems along the way. Whether it's the slow and uneven spread of global internet, or a problem that has been brewing with a coworker, we recognize the compounding effects of inequality, conflict, and suffering, and aim to us
  </p>
  <div class="page-header">
    <h2>
      Build Community
    </h2>
  </div>
  <p>
    <em>"If you want to go fast, go alone. If you want to go far, go together."</em> Important problems cannot be solved by a knight in shining armour made of silver bullets, but instead require a community of diverse voices and skills collaborating and supporting one another. Just as the tools we create are only ever part of the solution to global inequality of educational access and achievement, we are made stronger by our partnerships and collaborations, and our efforts are magnified.
  </p>
  <div class="page-header">
    <h2>
      Foster Openness
    </h2>
  </div>
  <p>
    The beauty of knowledge is that its value is not diminished, but rather made even greater, by sharing it as broadly as possible. When others remix, repurpose, and build upon what has been shared, cascading value is created for the global community. And when someone leverages that knowledge to make the world a better place, we all benefit. High costs and restrictive copyrights erect barriers to learning and growth, and thereby slow the spread of equal learning opportunities for all.
  </p>
  <div class="page-header">
    <h2>
      Design for Everyone
    </h2>
  </div>
  <p>
    Enabling equal access for all requires proactively designing solutions that are able to meet a wide diversity of needs and contexts, sensitive to technology, culture, and user ability. It's easy to design something that fulfills your own needs; the big challenge is in building something that is intuitive, effective, and high-performance across a wide range of users and devices. If we can build for the lowest common denominator without sacrificing quality, then everybody can benefit from the tools we're creating.
  </p>
  <div class="page-header">
    <h2>
      Empower
    </h2>
  </div>
  <p>
    Every person, community, or country knows its own needs and values best, and our role is to collaborate in supporting mutual self-fulfilment, not to dictate solutions. Similarly, within our own organization we aim to empower each other and support one another's goals and self-actualization, while collaborating toward common goals. We work to give voice to others, not create an echo chamber.
  </p>
  <div class="page-header">
    <h2>
      Have Fun
    </h2>
  </div>
  <p>
    We strive to improve the happiness of the world, and believe we can be happy doing it. We want people to enjoy their work, and to have fun. We think that joyfully creating tools for a troubled world can make the world more joyful, both in our work and the user's enjoyment.
  </p>

  
</div>

{% endblock about_content %}