{% load staticfiles %}

<div class="responsive-spacer"></div>

<div class="row">
	<div class="col-xs-12">
		<p>
			Is your company or organization interested in deploying a version of KA Lite with your logo, color scheme, or other sort of branding? 
		</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-xs-12">
		<img src="{% static 'img/ka-lite/co-branding/pt-foundation-integrated.png' %}" class="img-responsive img-rounded">	
	</div>
	<div class="col-sm-6 col-xs-12">
		<img src="{% static 'img/ka-lite/co-branding/pt-foundation-integrated-2.png' %}" class="img-responsive img-rounded">	
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p>
			Get in touch with us today for more information on integrating your brand into a custom KA Lite installation!
		</p>
		<p>
			<button class="btn btn-large btn-success">Contact Us</button>
		</p>
	</div>
</div>