{% extends "base.html" %}

{% block title %}404: Page Not Found Error{% endblock %}

{% block bodycontents %}
	<div class="container">
		<div class="col-md-12">
			<h1>404: Page Not Found</h1>
			<p>The page you requested could not be found. We're terribly sorry for this inconvenience.</p>

			<p>It's possible that the page you're trying to view has been deleted, or the URL has changed. If you think something might be amiss, please feel free to report this error by emailing <a href="mailto:info@learningequality.org">info@learningequality.org</a>. Please be sure to include the URL and error in your email.</p>
		</div>
	</div>
{% endblock bodycontents %}