{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Directions{% endblock title %}

{% block give_nav %}selected{% endblock give_nav %}

{% block bodycontents %}
<div class="row">
    <div class="col-xs-12">
        <h1>How to Get to FLE</h1>
        <p>
            The FLE team offices out of <a href="https://www.google.com/maps/place/Equality+Ln,+University+of+California+San+Diego,+Warren+College,+La+Jolla,+CA+92093/@32.8831649,-117.2342501,18z">Richard C. Atkinson Hall</a> on the UCSD Campus.
        </p>
        <p>
            Visitors to the UCSD campus are allowed to park in Visitor spaces with the purchase of a parking pass ($1 / 45 minutes, $8 for a full-day). Visitor spaces are marked with a white "V". The most convenient Visitor spots near our offices are on Equality Lane, in Warren College, across from Richard C. Atkinson Hall. These spots are marked on the map below.
        </p>

        <p class="center-text">
            {# Iframe of Atkinson Hall on Map #}
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.5612792774114!2d-117.23413960000005!3d32.883325399999976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc06c2e13c546b%3A0x256768a9ce0c471b!2sEquality+Ln%2C+University+of+California+San+Diego%2C+Warren+College%2C+La+Jolla%2C+CA+92093!5e0!3m2!1sen!2sus!4v1409780218123" width="500" height="300" frameborder="0" style="border:1px solid gray"></iframe>
        </p>
        <p>
            If that lot is full, you will likely be able to find space in <a href="https://maps.google.com/maps?q=Hopkins+Parking+Structure,+Voigt+Lane,+San+Diego,+CA&hl=en&sll=32.8842,-117.235107&sspn=0.719624,1.352692&oq=hopkins&t=h&hq=Hopkins+Parking+Structure,+Voigt+Lane,+San+Diego,+CA&z=16">Hopkins Parking Structure</a> which is just up the hill.
        </p>
        <p class="center-text">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.5459748437115!2d-117.2395943!3d32.88373019999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc06c1e66ef823%3A0x561dd150caa1a23e!2sHopkins+Parking+Structure%2C+University+of+California+San+Diego%2C+Eleanor+Roosevelt+College%2C+La+Jolla%2C+CA+92093!5e0!3m2!1sen!2sus!4v1409780304598" width="500" height="300" frameborder="0" style="border:1px solid gray"></iframe>
        </p>
        <p>
            When you arrive, please contact the FLE team member that you are scheduled to meet with to receive further directions.
        </p>
    </div>
</div>
{% endblock bodycontents %}