{% extends base_template %}

{% load staticfiles %}

{% block title %}Donate{% endblock title %}

{% block donate_nav %}selected{% endblock donate_nav %}

{% block headcss %}
<link rel="stylesheet" href="{% static 'css/donationpage.css' %}">
{{ block.super }}
{% endblock headcss %}

{% block headjs %}
{{ block.super }}

{% endblock headjs %}

{% block bodycontents %}

<div id="give_thankyou container" >
	<div class="row">
		<div class="col-md-12 thankyou_content">
			<img class="thankyou_badge" src= " {% static 'img/thankyou_badge.svg' %}">
			<h1> Thank you!</h1>
			<h2> Your donation of $25 is being processed.</h2>
			<p> We believe that education is both the key to breaking the cycle of poverty and opening the door to human flourishing. 
			With your support, we're one step closer in making universal education a reality! </p>

			<div class="give_share">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Let's make universal education a reality by in bridging the digital divide" data-size="large" data-hashtags="education , edtech ">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 give_image">
			<img src="{% static 'img/give_thankyou.jpg' %}" alt="Logo">
			<div class="caption">
				<a target="_blank" href="http://www.edulution.org/about/#story ">Deployment in remote area in Zambia | Edulution </a>
			</div>
		</div>
		<div class="col-md-7 give_thankyou_stories">
			<div class="row">
				<div class="col-md-12 story story_1">
					<!-- <img src = " {% static 'img/liberia.png' %}"> -->
					<a class="story_link" href=" /blog/2016/team4tech-around-world"><h1> Deployments in <br>South Africa, Tanzania, and India</h1><p>Read More<p></a>
				</div>
				<div class="col-md-12 story story_2">
					<a class="story_link" href="/blog/2014/samuel-morris-scholars-program-unforgettable-impac/"><h1> Deployment in <br>Liberia</h1><p>Read More<p></a>
				</div>
			</div>
			
		</div>
	</div>
</div>





{% endblock bodycontents %}

{% block footeroverride %}
    {% include "main/partials/_footer_normal.html" %}
{% endblock footeroverride %}