{% extends base_template %}

{% load staticfiles %}

{% block title %}Donate{% endblock title %}

{% block donate_nav %}selected{% endblock donate_nav %}

{% block headcss %}
<link rel="stylesheet" href="{% static 'css/donationpage.css' %}">
{{ block.super }}
{% endblock headcss %}

{% block headjs %}
{{ block.super }}

{% endblock headjs %}

{% block bodycontents %}

<div id="give_thankyou container" >
	<div class="row">
		<div class="col-md-6 give_image">
				<img src="{% static 'img/give_thankyou.jpg' %}" alt="Logo">
		</div>
		<div class="col-md-6 give_thankyou_content">
			<h1> Thank you Jessica!</h1>
			<!-- <p> Thank you for your $25.00 donation!</p> -->
			<p> We belileve that education is both the key to breaking the cycle of poverty and opening the door to human flourishing. 
			With your support, we're one step closer in making universal education a reality! </p>

			<span class="give_receipt">Your $25 donation is being processed. Please check your email for a confirm receipt.</span>

			<div class="give_share">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Let's make universal education a reality by supporting @learneq in bridging the digital divide" data-size="large" data-hashtags="education , edtech ">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>



			<!-- <div class="give_next">
				<h1>Tell a Friend!</h1>
				<div class="give_share">
					<a href="https://twitter.com/share" class="twitter-share-button" data-text="Let's make universal education a reality by supporting @learneq in bridging the digital divide" data-size="large" data-hashtags="education , edtech ">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div> -->
		</div>
	</div>
</div>





{% endblock bodycontents %}

{% block footeroverride %}
    {% include "main/partials/_footer_normal.html" %}
{% endblock footeroverride %}