{% extends base_template %}

{% load staticfiles %}

{% block title %}Give{% endblock title %}

{% block give_nav %}selected{% endblock give_nav %}

{% block bodycontents %}
<div id="give-container" class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 hidden-xs side-nav">
            <div data-spy="affix" data-offset-top="90">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="#how">How to Give</a></li>
                  <li><a href="#why">Why give to FLE?</a></li>
                  <li><a href="#amazon">Amazon Smile</a></li>
                  <li><a href="#questions">Questions</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="how">
                <div class="page-header">
                    <h1>How to Give</h1>
                </div>    
                <p>
                    You can <strong>give by mail</strong> by making checks payable to "Foundation for Learning Equality" and sending them, along with your name and email address, to:
                </p>
                <p>
                    <strong><address>
                        Foundation for Learning Equality</br>Attn: Jamie Alexandre</br>4465 Vision Dr. #2</br>San Diego, CA 92121
                    </address></strong>
                </p>
                <p>
                    Alternatively, you can <strong>give online</strong> by submitting donations through our PayPal giving portal: </br></br> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DRYT4JWGGATC6" class="btn btn-primary btn-large fle-btn">Donate to FLE through Paypal</a>
                </p>
                <p>
                    The Foundation for Learning Equality Inc is a registered 501(c)(3) nonprofit organization, so donations can be treated as tax-deductible contributions. Be sure to include your mailing address if you wish to receive a paper copy of your tax receipt, otherwise we will email you a PDF.
                </p>
            </div>
            <div id="why">
                <div class="page-header">
                    <h1>Why Give to FLE?</h1>
                </div>
                <p>
                    The Foundation for Learning Equality (FLE) actively develops and maintains open-source software that helps thousands of learners all over the world access the same high-quality educational materials available on the Internet that their peers in the developed world take for granted.
                </p>
                <p>
                    By making a contribution to FLE, you'll be supporting the further development of KA Lite, and future tools for the sharing and creation of open-licensed educational content for use by anyone around the world.
                </p>
                <img src="{% static 'img/install_map.png' %}" title="Making the earth a pincushion for KA Lite installs" alt="A map of known KA Lite installations" class="img-thumbnail">
            </div>
            <div id="amazon">
                <div class="page-header">
                    <h1>Amazon Smile</h1>
                </div>
                <p>
                    When you shop on <a href="http://smile.amazon.com/ch/46-2676188">Amazon Smile</a>, Amazon will donate a small portion of your purchase price to our organization. It's an easy, simple way to do good while you shop. Simply <a href="http://smile.amazon.com/ch/46-2676188">follow this link</a> to sign up and get started!
                </p>
            </div>
            <div id="questions">
                <div class="page-header">
                    <h1>Questions</h1>
                </div>
                <p>
                    Please don't hesitate to email our team: <a href="mailto:gifts@learningequality.org">gifts@learningequality.org</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock bodycontents %}