{% extends base_template %}
{% load staticfiles %}
{% block title %}Kolibri{% endblock title %}

{% block headcss %}
    <link rel="stylesheet" href="{% static 'css/kolibri.css' %}">
{% endblock headcss %}


{% block bodycontents %}
<div class="container-fluid">
	<!-- Above the fold -->
	<div id="kolibri-header" class="row">
		<!--<h3>header goes here</h3>-->
	</div>

	<!-- About -->
	<div id="kolibri-about" class="row"> 
		<div class="container">
			
			<div class="col-md-4"> 
				<img id="about-placeholder" src = "../../static/img/ecosystem_placeholder.png"></img>
			</div>

			<div class="col-md-8">
				<h3>About Kolibri</h3>
				Kolibri is an ecosystem of hardware, software, people, and content that empowers educators of all types to seamlessly bridge the online and offline worlds. The Kolibri ecosystem relies on non-governmental organizations like UNICEF, content curators like Khan Academy, teachers, and learners  to enable everyone to access, share, and create rich educational content. Kolibri is still a vision in progress, and with your help, we can contribute to the ecosystem to make it a reality.
			</div>

		</div> <br><hr>
	</div>

	<!-- Ecosystem features -->
	<div id="ecosystem" class="row kolibri-section">
		{% include "main/sections/ecosystem.html" %}
	</div>

	<!-- Kolibri platform features -->
	<div id="kolibri-features" class="row kolibri-section">
		{% include "main/sections/features.html" %}
	</div>
</div>

{% endblock bodycontents %}