{% load staticfiles %}
<script type="text/javascript" >
            $(document).ready(function() {        
        $('.carousel').carousel()
            });
</script>

<!-- Contribute header section --> 
<div class="container-fluid">
	<div id="community-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center" id="comm-caption-content">
					<h2>Community</h2>
					<br><h3>Bringing free education around the world depends on participation from people like you.</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Contribute content section --> 
<div class="container-fluid" id="contribute">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="{% static 'img/ka-lite/python-powered.png' %}">
				<h2>Development</h2>
				<p>KA Lite is an open source project and welcomes devlopers of any proficiency level with a passion for providing free universal education, and a desire to learn.</p>
				<p>
					<a href="https://github.com/learningequality/ka-lite/wiki" class="btn btn-primary visible-sm visible-xs">Github Wiki</a>
				</p>
			</div>

			<!-- Testing --> 
			<div class="col-md-4">
				<img src="{% static 'img/ka-lite/studentuser_laptop.png' %}">
				<h2>Testing</h2>
				<p>It is crucial to test various features to ensure that everything is running smoothly. If you would like to get involved, you will first want to check out our <a href="https://groups.google.com/a/learningequality.org/forum/#!forum/dev">Google groups page</a>.</p>
				<p>
					<a href="https://github.com/learningequality/ka-lite/wiki/Testing-new-code" class="btn btn-primary visible-sm visible-xs">Start Testing</a>
				</p>
			</div>
			<!-- Bittorent --> 
			<div class="col-md-4">
				<img src="{% static 'img/ka-lite/cloud_server.gif' %}">
				<h2>Seeding content</h2>
				<p>One of the downloading options for KA Lite is BitTorrent, and we are always looking for individuals who would be willing to seed the torrent download.</p>
				<p>
					<a href="https://learningequality.org/ka-lite/faq/#faq-question-bittorrent" class="btn btn-primary visible-sm visible-xs">Seed</a>
				</p>
			</div>
		</div>

		<!-- Buttons for desktop -->
		<div class="row comm-btns visible-md visible-lg">
			<div class="col-md-4">
				<a href="https://github.com/learningequality/ka-lite/wiki" class="btn btn-primary">Github Wiki</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/learningequality/ka-lite/wiki/Testing-new-code" class="btn btn-primary">Start Testing</a>
			</div>
			<div class="col-md-4">
				<a href="https://learningequality.org/ka-lite/faq/#faq-question-bittorrent" class="btn btn-primary">Seed</a>
			</div>
		</div>	


			<!-- Translations --> 
		<div class="row">
			<div class="col-md-4">
				<img src="{% static 'img/ka-lite/translate.png' %}">
				<h2>Translations</h2>
				<p>KA Lite now supports internationalization, and we rely on a worldwide network of translators for support.</p>
				<p>
					<a href="https://github.com/learningequality/ka-lite/wiki/Internationalization:-Contributing-Translations" class="btn btn-primary visible-sm visible-xs">Help Us Translate</a>
				</p>
			</div>

			<!-- Social media --> 
			<div class="col-md-4">
				<img src="{% static 'img/ka-lite/facebook.png' %}">
				<h2>Social Media</h2>
				<p>Follow us on <a href="https://www.facebook.com/learningequality">Facebook</a> and <a href="https://twitter.com/LearnEQ">Twitter</a> to keep up with all the latest news and updates!</p>
				<p>
					<a href="https://www.facebook.com/learningequality" class="btn btn-primary visible-sm visible-xs">Facebook</a>&nbsp;<a href="https://twitter.com/LearnEQ" class="btn btn-primary visible-sm visible-xs">Twitter</a>
				</p>
			</div>

			<!--- Donate -->
			<div class="col-md-4">
				<img src="{% static 'img/ka-lite/donate.png' %}">
				<h2>Donate</h2>
				<p>As a non-profit organization, we rely on donations from people like you. Thanks for your support!</p>
				<p>
					<a href="{% url 'give' %}" class="btn btn-primary visible-sm visible-xs">Donate</a>
				</p>
			</div>
		</div>

		<!-- Buttons for desktop -->
		<div class="comm-btns row visible-md visible-lg">
			<div class="col-md-4">
				<a href="https://github.com/learningequality/ka-lite/wiki/Internationalization:-Contributing-Translations" class="btn btn-primary">Help Us Translate</a>
			</div>
			<div class="col-md-4">
				<a href="https://www.facebook.com/learningequality" class="btn btn-primary">Facebook</a>
				<a href="https://twitter.com/LearnEQ" class="btn btn-primary">Twitter</a>
			</div>
			<div class="col-md-4">
				<a href="{% url 'give' %}" class="btn btn-primary">Donate</a>
			</div>
		</div>
	</div>
</div>


<!-- Deployments content section --> 
<div class="container-fluid" id="deployment">
	<div class="container">
		<div class="row">
			<!-- Deployments for desktops and above--> 
			<div class="col-md-12 text-center visible-md visible-lg" id="carousel-container">

				<!-- Carousel -->
				<div id="this-carousel-id" class="carousel slide">
					<!-- class of slide for animation -->
  						<div class="carousel-inner">
    						<div class="item active">
    							<!-- class of active since it's the first item -->
      							<img src="{% static 'img/ka-lite/Burma.jpg' %}">
      							<!-- <div class="carousel-caption">
        							<p>Burma</p>
							    </div> -->
							</div>
    						<div class="item">
				      			<img src="{% static 'img/ka-lite/Nalanda.jpg' %}">
				      			<!-- <div class="carousel-caption">
				        			<p>Nalanda</p>
				      			</div> -->
				    		</div>
					    	<div class="item">
					      		<img src="{% static 'img/ka-lite/Washington.jpg' %}">
					      		<!-- <div class="carousel-caption">
					        		<p>Callam Bay Corrections Center</p>
					      		</div> -->
					    	</div>
				  		</div>
				  		<!-- /.carousel-inner -->
				  <!--  Next and Previous controls below
				        href values must reference the id for this carousel -->
				    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"></a>
				    <a class="carousel-control right" href="#this-carousel-id" data-slide="next"></a>
				</div>
				<!-- /.carousel -->

				<div id="carousel-overlay-well" class="well">
					<div id="carousel-overlay">
							<h3 class="overlay-text">Are you using KA Lite?</br><small class="overlay-text">If so, please tell us about it, and send pictures!</small></h3>
						<a href ="https://docs.google.com/forms/d/1DgmiU4Rc3T9C8acPRd3uSSHe5RRnuoKLzY6F33lbQdY/viewform" class="btn btn-primary btn-large">Share Your Story</a>
					</div>
				</div>
			</div> <!-- End desktops and above --> 

			<!-- Call for stories for those on small screens -->
			<div class="col-md-12 visible-sm visible-xs text-center">
				<h3>Are you using KA Lite?</br><small>If so, please tell us about it, and send pictures!</small></h3>
				<a href ="https://docs.google.com/forms/d/1DgmiU4Rc3T9C8acPRd3uSSHe5RRnuoKLzY6F33lbQdY/viewform" class="btn btn-primary btn-large">Share Your Story</a>
			</div>
		</div>
	</div>
</div>