{% load staticfiles %}

<!-- Contribute header section --> 
<div class="container-fluid">
	<div id="community-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center caption-content">
					<h2>Get Involved<h2>
					<small>Bringing free education around the world depends on participation from people like you.</small>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Contribute content section --> 
<div class="container-fluid white" id="contribute">
	<div class="container">
		<div class="row">
			<div class="col-md-3 contribute-box">
				<img src="{% static 'img/ka-lite/python-powered.png' %}">
				<h2>Development</h2>
				<p>KA Lite is an open source project, and interested developers are encouraged to get involved. We welcome those at any proficiency level, from novice to expert, as long as you have a passion for providing free universal education and a desire to learn.</p>
				<a href="https://github.com/learningequality/ka-lite/wiki"><button type="button" class="btn btn-info">Github Wiki</button></a>
			</div>

			<!-- Testing --> 
			<div class="col-md-3 contribute-box">
				<img src="{% static 'img/ka-lite/studentuser_laptop.png' %}">
				<h2>Testing</h2>
				<p>It is crucial to test various features of KA Lite on many different platforms in order to ensure that everything is running smoothly. If you would like to get involved by helping in this regard, you will first want to check out our <a href="https://groups.google.com/a/learningequality.org/forum/#!forum/dev">Google groups page</a> and also download and set up KA Lite.</p>
				<a href="https://github.com/learningequality/ka-lite/wiki/Testing-new-code"><button type="button" class="btn btn-info">Start Testing</button></a>
			</div
			<!-- Bittorent --> 
			<div class="col-md-3 contribute-box">
				<img src="{% static 'img/ka-lite/cloud_server.gif' %}">
				<h2>Seeding content</h2>
				<p>One of the downloading options for KA Lite is BitTorrent, and we are always looking for individuals who would be willing to seed the torrent download.</p>
				<button type="button" class="btn btn-info">Seed</button>
			</div>
		</div>

			<!-- Tranlslations --> 
		<div class="row">
			<div class="col-md-3 contribute-box">
				<img src="{% static 'img/ka-lite/translate.png' %}">
				<h2>Translations</h2>
				<p>KA Lite now supports internationalization, and we rely on a worldwide network of translators for support.</p>
				<a href="https://github.com/learningequality/ka-lite/wiki/Internationalization:-Contributing-Translations"><button type="button" class="btn btn-info">Help Us Translate</button></a>
			</div>

			<!-- Social media --> 
			<div class="col-md-3 contribute-box">
				<img src="{% static 'img/ka-lite/facebook.png' %}">
				<h2>Social Media</h2>
				<p>Follow us on <a href="https://www.facebook.com/learningequality">Facebook</a> and <a href="https://twitter.com/LearnEQ">Twitter</a> to keep up with all the latest news and updates!</p>
				<button type="button" class="btn btn-info">Facebook</button>
				<button type="button" class="btn btn-info">Twitter</button>
			</div>

			<!-- Social media --> 

			<!--- Donate -->
			<div class="col-md-3 contribute-box">
				<img src="{% static 'img/ka-lite/donate.png' %}">
				<h2>Donate</h2>
				<p>As a non-profit organization, to support our developers, hosting costs, and other overhead, we rely on donations from people like you. Thanks for your support!</p>
				<a href="{% url 'give' %}"><button type="button" class="btn btn-info">Donate</button></a>
			</div>
		</div>
		</div>
	</div>
</div>


<!-- Deployments content section --> 
<div class="container-fluid white" id="deployment">
	<div class="container">
		<div class="row">
			<!-- Deployments --> 
			<div class="col-md-12 text-center">
				<img src="{% static 'img/ka-lite/usage_map.jpg' %}">
				<h3>Are you using KA Lite?</br><small>If so, please tell us about it, and send pictures!</small></h3>
				<a href="https://docs.google.com/forms/d/1DgmiU4Rc3T9C8acPRd3uSSHe5RRnuoKLzY6F33lbQdY/viewform" class="btn btn-primary btn-large">Share Your Story</a>
			</div>
		</div>
	</div>
</div>