{% load staticfiles %}

<div class="download-banner">
  <h2>DOWNLOAD</h2>
</div>

<!-- Download Section -->
<div class="container-fluid light-gray">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <img src='{% static "img/ka-lite/nalanda_download.jpg" %}' alt="Download KA Lite" id="downloadpic">
      </div>
      <div class="col-md-6 .download-content">
        <h2>Download KA Lite</h2>
        <p>There are different download instructions for each operating system.</p>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <img class="download-icon" src="{% static 'img/ka-lite/windows.png' %}">
            <a href="https://sites.google.com/a/learningequality.org/kalite/installation/windows-installation" class="btn btn-primary btn-md">
            Windows Instructions
            </a>
          </div>
          <div class="col-md-4">
            <img class="download-icon" src="{% static 'img/ka-lite/linux.png' %}">
            <a href="https://sites.google.com/a/learningequality.org/kalite/installation/linux-installation" class="btn btn-primary btn-md">
            Linux Instructions
            </a>
          </div>
          <div class="col-md-4">
            <img class="download-icon" src="{% static 'img/ka-lite/apple.png' %}">
            <a href="https://sites.google.com/a/learningequality.org/kalite/installation/mac-installation" class="btn btn-primary btn-md">
            Mac Instructions
            </a>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div> <!-- End Download Section -->