{% load staticfiles %}

<!-- Download Section -->
<div class="container-fluid">
  <div class="container">
  <div class=" text-center">
    <div class="row">
      <div class="col-md-6 visible-md visible-lg">
        <img class="img-responsive" id="download-pic" src='{% static "img/ka-lite/nalanda_download.jpg" %}' alt="Download KA Lite">
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 download-content">
        <h2>DOWNLOAD</h2>
        <p>KA Lite is an open-source Python project, meaning it is free to download and use. It runs on Linux, Mac, and Windows.</p>
        <p>Cick below to read the installation instructions.</p>
        <div class="row center-text">
          <div class="col-xs-4 download-icon">
            <p>
              <img class="img-responsive" src="{% static 'img/ka-lite/windows.png' %}">
            </p>
          </div>
          <div class="col-xs-4 download-icon">
            <p>
              <img class="img-responsive" src="{% static 'img/ka-lite/linux.png' %}">
            </p>
          </div>
          <div class="col-xs-4 download-icon">
            <p>
              <img class="img-responsive" src="{% static 'img/ka-lite/apple.png' %}">
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a href="{% url 'user_guides' %}" class="btn btn-primary btn-md">
              View Installation Guides
            </a>  
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
</div>
 <!-- End Download Section -->