{% load staticfiles %}

<!-- Download Section -->
<div class="container-fluid off-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <img src='{% static "img/ka-lite/nalanda_download.jpg" %}' alt="Download KA Lite" class="overview-pic">
      </div>
      <div class="col-md-6 .download-content">
        <h2>Download KA Lite</h2>
        <p>The installation process is different depending on the system being used.</p>
        <p>Click below to view the instructions for your specific operating system.</p>
        <div class="row">
          <div class="col-md-4">
            <img class="download-icon" src="{% static 'img/ka-lite/windows.png' %}">
            <a href="http://kalitewiki.learningequality.org/installation/windows-installation target='_blank'" class="btn btn-primary btn-md">
            Windows Instructions
            </a>
          </div>
          <div class="col-md-4">
            <img class="download-icon" src="{% static 'img/ka-lite/linux.png' %}">
            <a href="http://kalitewiki.learningequality.org/installation/linux-installation target='_blank'" class="btn btn-primary btn-md">
            Linux Instructions
            </a>
          </div>
          <div class="col-md-4">
            <img class="download-icon" src="{% static 'img/ka-lite/apple.png' %}">
            <a href="http://kalitewiki.learningequality.org/installation/mac-installation target='_blank'" class="btn btn-primary btn-md">
            Mac Instructions
            </a>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div> <!-- End Download Section -->