{% load staticfiles %}

<!-- No Internet Required Section -->
<div class="container-fluid light-gray">
  <div class="max-container">
    <div class="row">
      <div class="col-md-6 overview">
        <img src='{% static "img/ka-lite/no_internet.jpg" %}' alt="No Internet Required" class="overview-pic">
      </div>
      <div class="col-md-6 dev">
        <h2>No Internet Required</h2>
        <p>KA Lite is open-source software that mimics the online experience of Khan Academy for offline situations. Running KA Lite as a local server, you can watch Khan Academy videos, do Khan exercises, and track student progress -- all without needing an Internet connection!</p>
      </div>
    </div> 
  </div>
</div> <!-- End no Internet Required Section -->

<div class="vertical-divider">
  <div class="mask"></div>
</div>

<!-- Videos & Exercises Section -->
<div class="container-fluid light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6 overview p">
        <h2>Over 4,000 Videos and Interactive Exercises</h2>
        <p>KA Lite offers instructional videos from Khan Academy on math, science, history, economics and matches the common core standards. </p>
        <p>We provide a diverse collection of math exercises for students that generates immediate feedback, provides step-by-step solutions, and works through a point system to encourage continued practice of material. Download as many as you’d like to see for your installation of KA Lite.</p>
      </div>
      <div class="col-md-6">
        <img src='{% static "img/ka-lite/exercise_overview.png" %}' class="overview-pic" alt="No Internet Required">
      </div>
    </div> 
  </div>
</div> <!-- End Videos & Exercises Section -->

<div class="vertical-divider">
  <div class="mask"></div>
</div>

<!-- Personal, Classroom, or School -->
<div class="container-fluid light-gray">
  <div class="container text-center">
    <div class="row">
      <div class="customize">
        <h2>Customizable for personal, classroom, or school usage</h2>
        <p>KA Lite has been used individually in various situations, including a home schooling family on their road trip, a classroom full of students in India, and an entire correctional facility in Idaho.</p>
      </div>
      <div class="col-md-4">
        <img src='{% static "img/ka-lite/personal.png" %}' class="customizable-pic" alt="Personal KA Lite use">
      </div>
      <div class="col-md-4">
        <img src='{% static "img/ka-lite/classroom.png" %}' class="customizable-pic" alt="Classroom KA Lite use">
      </div>
      <div class="col-md-4">
        <img src='{% static "img/ka-lite/school.png" %}' class="customizable-pic" alt="School KA Lite use">
      </div>
    </div>
</div> <!-- End Personal, Classroom, or School -->
</div>

<div class="vertical-divider">
  <div class="mask"></div>
</div>

<!-- Track Performance -->
<div class="container-fluid light-gray">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h2>Track Performance</h2>
        <img class="track" src='{% static "img/ka-lite/overview_progress.png" %}'alt="Thousands of Exercises and Videos" class="img-thumbnail">
      </div>
      <div class="col-md-4 track-column track-border">
        <h2>Individualized Timeline</h2>
        <p>Students can work at their own pace, so that advanced learners aren't held back from reaching their academic potential, and less-advanced learners aren't left behind.</p>
      </div>
      <div class="col-md-4 track-column track-border">
        <h2>Utilize Feedback</h2>
        <p>Teachers and parents can view student reports, so that class time can be used to focus on the individual learner's needs, rather than catering to the average abilities of the class that is standard to traditional education.</p>
      </div>
      <div class="col-md-4 track-column">
        <h2>Stay Connected</h2>
        <p>Our online tools allow teachers to assign students specific sets of material directly from a central, online location. Connecting KA Lite to the internet will allow it to sync its usage data.</p>
      </div>
    </div>
  </div>
</div> <!-- End Track Performance -->

<div class="vertical-divider">
  <div class="mask"></div>
</div>

<!-- Multiple Languages Section -->
<div class="container-fluid light-gray">
  <div class="max-container">
    <div class="row">
      <div class="col-md-6">
        <h2>Multiple Languages</h2>
        <p>KA Lite currently offer videos and exercises in <strong>ten different languages</strong>, with more on the way:</p>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <p>العربية (Arabic)</p>
            <p>Deutsch (German)</p>
            <p>български език (Bulgarian)</p>
            <p>polszczyzna (Polish)</p>
            <p>dansk (Danish)</p>
          </div>
          <div class="col-md-5">
            <p>português (Portuguese)</p>
            <p>English</p>
            <p>español (Spanish)</p>
            <p>le français (French)</p>
            <p>castellano (Castillian)</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src='{% static "img/ka-lite/multilanguage.png" %}' class="overview-pic right-100" alt="No Internet Required">
      </div>
    </div> 
  </div>
</div> <!-- End Multiple Languages Section -->