{% load staticfiles %}
<div class="text-center"><h2>SUPPORT</h2></div>


<!-- FAQ -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4>FAQ</h4>
		Chances are, somebody already had the same question!  Check out our FAQ pages to find an answer.
		<div class="btnwrapper">
		<button type="button" class="btn btn-default btn-lg">FAQ</button>
		</div>
	</div>
</div>
<!-- End FAQ -->

<!-- Forum -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4>Forum</h4>
		If your question hasn't already been answered by the FAQ, check out our forums.  The forums contain video tutorials, assistance on installation and use, as well as general discussions about KA Lite.
		<div class="btnwrapper">
		<button type="button" class="btn btn-default btn-lg">Forums</button>
		</div>
	</div>
</div>
<!-- End Forum -->

<!-- Github -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4>Github</h4>
		You can create a new issue on Github. Just go to https://github.com/learningequality/ka-lite/issues and click the green new issue button.
		<div class="btnwrapper">
		<button type="button" class="btn btn-default btn-lg">Github</button>
		</div>
	</div>
</div>
<!--End Github -->