{% load staticfiles %}

<div class="container-fluid light-gray">
	<div class="container" id="support">
		<div class="row text-center">
			<div class="col-md-12">
				<h2>SUPPORT</h2>
			</div>
		</div>
		<div class="row">
			<!-- FAQ -->
			<div class="col-md-4">
				<h3><img src="{% static 'img/ka-lite/faq.png' %}">&nbsp;FAQ</h3>
				<p>Have a question? Chances are, you aren't the only one!</p>
			</div><!-- End FAQ -->

			<!-- Forum -->
			<div class="col-md-4">
				<h3><img src="{% static 'img/ka-lite/forum.png' %}">&nbsp;Discuss on the Forums!</h3>
				<p>Question not in the FAQ? It may be up for discussion in the forums. The forums contain video tutorials, assistance on installation and use, as well as general discussions about KA Lite.</p>
			</div><!-- End Forum -->

			<!-- Github -->
			<div class="col-md-4">
				<h3><img src="{% static 'img/ka-lite/github.png' %}">&nbsp;Report a Bug!</h3>
				<p>If your question hasn't been answered by the FAQ, you may have found a bug! See our directions on how to report bugs, and our developers will work on solving it.</p>
			</div><!--End Github -->
		</div>


		<div class="row comm-btns">
			<div class="col-md-4">
				<a class="btn btn-primary btn-lg" href="{% url 'faq' %}">Check the FAQ!</a>
			</div>
			<div class="col-md-4">
				<a class="btn btn-primary btn-lg" href="https://forums.learningequality.org/">Check the forums!</a>
			</div>
			<div class="col-md-4">
				<a class="btn btn-primary btn-lg" href="https://github.com/learningequality/ka-lite/wiki/Report%20Bugs%20by%20Creating%20Issues">Report a bug!</a>
			</div>
		</div>
	</div>
</div>
